Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat: change id fields to primitive text
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
Due: none

feat: add freeSolo input
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
Due: none

feat: change id fields to primitive text (#903)
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
Due: none

Increment arthur-engine version to 2.1.231
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add type handler
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: ml-engine-pytest-check

bump arthur-client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

UP-3374: Custom agg test execution (#897)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/metric_calculators/custom_metric_sql_calculator.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.232
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Address comments
  genai-engine/src/scorer/checks/toxicity/toxicity.py
  genai-engine/src/scorer/llm_client.py
  genai-engine/src/scorer/metrics/relevance/relevance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove unique constraint and move list dependency to its api model
  genai-engine/alembic/versions/2025_12_03_1709-714d70516fae_add_continuous_evals_table.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add transforms to llm evals (#899)
  genai-engine/alembic/versions/2025_12_03_1709-714d70516fae_add_continuous_evals_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.233
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

arthur-common bump
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

arthur-common bump (#905)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.234
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Accept traces without taskid
  genai-engine/alembic/versions/2025_12_03_1444-make_trace_metadata_task_id_nullable.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/test_span_ingestion.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

API endpoint for returning groups of traces w/o task ids
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Changelog entry
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

lint
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update and fix unit tests
  genai-engine/tests/routes/legacy_span/test_span_ingestion.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: none

Add Pagination to unregistered spans endpoint
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

will this finally fix these tests?
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: none

Fix tests + feedback
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix test
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: none

PR Feedback
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check

changelog update
  genai-engine/src/api_changelog.md
Due: none

Update revision
  genai-engine/alembic/versions/2025_12_03_1444-make_trace_metadata_task_id_nullable.py
Due: none

fix api key description regression
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/routers/api_key_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix tests for release
  genai-engine/README.md
Due: none

commit change
  genai-engine/tests/unit/test_api_keys.py
Due: none
