Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat: more notebook changes
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentStatus.ts
Due: none

feat: notebook wip - variable extraction
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useAutosave.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentStatus.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useSyncNotebookState.ts
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/stores/experiment.store.ts
  genai-engine/ui/src/components/prompts-playground/stores/playground.store.ts
  genai-engine/ui/src/components/prompts-playground/stores/utils/factories.ts
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/streamCompletions.ts
Due: none

fix: types
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/SetConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/stores/experiment.store.ts
  genai-engine/ui/src/components/prompts-playground/stores/playground.store.ts
Due: none

Move setting logger to a function
  genai-engine/src/server.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Change logging format to not fail workflow job
  .github/workflows/arthur-engine-workflow.yml
  deployment/ecs/model-upload/check_model_updates.py
Due: none

Comment for test purpose
  .github/workflows/arthur-engine-workflow.yml
Due: none

Uncomment
  .github/workflows/arthur-engine-workflow.yml
Due: none

Change logging format to not fail workflow job (#992)
  deployment/ecs/model-upload/check_model_updates.py
Due: none

Increment arthur-engine version to 2.1.270
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

refactor translation logic
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/rag_experiment_schemas.py
  genai-engine/src/schemas/rag_notebook_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3516: Add RAG notebook support (#989)
  genai-engine/alembic/versions/2025_12_18_1340-8aba08c2934f_create_rag_notebooks.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/base_experiment_models.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/db_models/rag_experiment_models.py
  genai-engine/src/db_models/rag_notebook_models.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/src/routers/v1/rag_notebook_routes.py
  genai-engine/src/schemas/base_experiment_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/schemas/rag_experiment_schemas.py
  genai-engine/src/schemas/rag_notebook_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/conftest.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.271
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Instead of pushing to dev branch, create PR
  .github/workflows/arthur-engine-workflow.yml
Due: none

UP-3345: Fixup for fork() warning (#939)
  genai-engine/src/server.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.272
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Modify model_load import
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Apply comments. Upgrade pytorch to 2.9.1
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/requirements-gpu.txt
  genai-engine/src/server.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3345: Cleanup when application is teardown
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Move cleanup models to function
  genai-engine/poetry.lock
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Don't excplicitly call garbage collector
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix up merge conflicts
  genai-engine/poetry.lock
Due: none

Remove unused variable
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3345: Cleanup when application is teardown (#889)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/requirements-gpu.txt
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.273
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Apply comments
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/scorer/checks/toxicity/toxicity.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Use token for pushing
  .github/workflows/arthur-engine-workflow.yml
Due: none

Reargange order
  .github/workflows/arthur-engine-workflow.yml
Due: none

Remove comment
  genai-engine/src/scorer/metrics/relevance/relevance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Enhance ODBCConnector with connection and login timeout settings, and improve error handling for connection failures
  ml-engine/src/ml_engine/connectors/odbc_connector.py
Due: ml-engine-pytest-check

gitignore
  genai-engine/examples/agents/customer-support-agent/.gitignore
  genai-engine/examples/agents/customer-support-agent/scripts/test-results-2025-12-13T17-12-31-944Z.json
Due: none

Lock getting the most recent time
  genai-engine/examples/agents/customer-support-agent/scripts/test-harness-demo.ts
Due: none

test harness
  genai-engine/examples/agents/customer-support-agent/README.md
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/scripts/README.md
  genai-engine/examples/agents/customer-support-agent/scripts/run-test.js
  genai-engine/examples/agents/customer-support-agent/scripts/test-harness.ts
  genai-engine/examples/agents/customer-support-agent/scripts/test-questions.json
  genai-engine/examples/agents/customer-support-agent/scripts/test-results-2025-12-13T17-12-31-944Z.json
  genai-engine/examples/agents/customer-support-agent/yarn.lock
Due: none
