Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

WIP - add synthetic data generation flow in datasets
  .claude/settings.local.json
  .claude/skills/setup-genai-dev/SKILL.md
  .claude/skills/start-genai-backend/SKILL.md
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataCanvas.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataChat.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
  genai-engine/ui/src/components/datasets/synthetic/index.ts
  genai-engine/ui/src/components/datasets/synthetic/types.ts
  genai-engine/ui/src/contexts/dataset/reducer.ts
  genai-engine/ui/src/contexts/dataset/types.ts
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix locking issues
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Feedback + locked rows fix
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
Due: none

some more locked rows + accept fixes
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataCanvas.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
Due: none

require ack to close
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
Due: none

pr feedback
  .claude/settings.local.json
  .claude/skills/setup-genai-dev/SKILL.md
  .claude/skills/start-genai-backend/SKILL.md
Due: none

feat: enhance synthetic data generation modal
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataCanvas.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
  genai-engine/ui/src/components/datasets/synthetic/types.ts
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
Due: none

Fix Add Row dialog not clearing form fields after submission
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
Due: none

update api def
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Fix Add Row dialog not clearing form fields after submission (#1176)
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
Due: none

Increment arthur-engine version to 2.1.336
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Enable mypy
  .github/workflows/arthur-engine-workflow.yml
Due: none

Apply comments pt 3
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Apply comments pt 1
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/rules_engine.py
  genai-engine/src/schemas/llm_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Apply comments pt 2
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/rag_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fail linter job when mypy fails in genai-engine
  .github/workflows/arthur-engine-workflow.yml
Due: none

remove type ignores from prompts and evals and fix llm client logic
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/model_provider_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix import sorting
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Apply mypy fixes after rebase
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/services/agentic_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove comments
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Apply comments pt 5
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Apply comments pt 6
  genai-engine/src/routers/v1/continuous_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove pii results array from response since it doesn't exist
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix mypy errors with secret storage db model
  genai-engine/src/db_models/secret_storage_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feedback
  genai-engine/CLAUDE.md
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix changelog + FE lint
  .claude/settings.local.json
  genai-engine/src/api_changelog.md
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataCanvas.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataChat.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
Due: none

fix agent exp traces not appearing in list results
  genai-engine/src/routers/v1/legacy_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix model provider import
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add include agent exp filter to trace viewer
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: none

Increment arthur-engine version to 2.1.337
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix changelog
  .claude/settings.local.json
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix changelog errors
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

add genai engine mypy check to precommit runs
  .pre-commit-config.yaml
Due: none

Changelog magic
  genai-engine/src/api_changelog.md
Due: none
