Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix failing unit test
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: none

remove response obj defaults and update alembic revision
  genai-engine/alembic/versions/2025_12_16_1049-aeea38580473_add_transform_map_to_ce.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add transform variable mapping to ce test case
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: none

update imports for classes that were moved to arthur common
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add ability to disable continuous evals (#1062)
  genai-engine/alembic/versions/2026_01_06_1133-b635f502f44f_add_ability_to_disable_ce.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update alembic revisions
  genai-engine/alembic/versions/2025_12_16_1049-aeea38580473_add_transform_map_to_ce.py
Due: none

update arthur common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

create otel to oi converter
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update yarn.lock after npm install
  genai-engine/ui/yarn.lock
Due: none

Bump python version
  arthur-observability-sdk/pyproject.toml
Due: none

fix filtering on span ids for list span metadata
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix filtering on span ids for list span metadata (#1128)
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.313
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Clean up
  deployment/ecs/model-upload-oc/04-job.yaml
Due: none

Docker compose file for local testing
  deployment/k8s/model-upload-oc/docker-compose.local.yml
Due: none

Implement OpenShift PVC version of model upload job (#1106)
  deployment/ecs/model-upload/README.md
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-service.yaml
  deployment/helm/genai-engine/templates/ingress.yaml
  deployment/helm/model-upload/Chart.yaml
  deployment/helm/model-upload/README.md
  deployment/helm/model-upload/templates/_helpers.tpl
  deployment/helm/model-upload/templates/job.yaml
  deployment/helm/model-upload/templates/scc.yaml
  deployment/helm/model-upload/templates/secret.yaml
  deployment/helm/model-upload/templates/serviceaccount.yaml
  deployment/helm/model-upload/values.yaml.template
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/01-pvc.yaml
  deployment/k8s/model-upload-oc/02-serviceaccount.yaml
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/06-copy-config-job.yaml
  deployment/k8s/model-upload-oc/Dockerfile
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/gliner_tokenizer_config.json
  deployment/k8s/model-upload-oc/poetry.lock
  deployment/k8s/model-upload-oc/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.314
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

linting
  genai-engine/docker-compose.yml
Due: none

Add microsoft/mdeberta-v3-base to the model download list
  deployment/ecs/model-upload/download_models.py
  deployment/k8s/model-upload-oc/download_models.py
Due: none

feat: allow to map transform variables to eval variables and disable CEs
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/variable-mapping/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: add unsaved changes prompt on navigate away from rag experiments
  genai-engine/ui/src/components/retrievals/RagExperimentsPage.tsx
  genai-engine/ui/src/components/retrievals/RagPanelsContext.tsx
Due: none

UP-3576: Add unsaved changes prompt on navigate away from RAG Experiments (#1093)
  genai-engine/ui/src/components/retrievals/RagExperimentsPage.tsx
  genai-engine/ui/src/components/retrievals/RagPanelsContext.tsx
Due: none

Increment arthur-engine version to 2.1.315
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: use withFieldGroup, restructure props of VariableMappingSection
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/variable-mapping/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

fix: enable eval text color legibility
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

UP-3545, UP-3574: Allow to map transform variables to eval variables and disable CEs (#1131)
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/variable-mapping/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

fix linter errors
  genai-engine/src/routers/v1/continuous_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: formatting
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

add ability to map transform vars to eval vars for CEs (#977)
  genai-engine/alembic/versions/2025_12_16_1049-aeea38580473_add_transform_map_to_ce.py
  genai-engine/alembic/versions/2026_01_06_1133-b635f502f44f_add_ability_to_disable_ce.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/variable-mapping/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.316
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

wip
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/ResultChip.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/live-evals/[evalId]/StatusChips.tsx
  genai-engine/ui/src/components/traces/Temp-migration-doc.md
  genai-engine/ui/src/components/traces/components/DurationCell/DurationCell.tsx
  genai-engine/ui/src/components/traces/components/DurationCell/DurationCellWithBucket.tsx
  genai-engine/ui/src/components/traces/components/DurationCell/index.ts
  genai-engine/ui/src/components/traces/components/DurationCell/index.tsx
  genai-engine/ui/src/components/traces/components/EvalsCell/index.tsx
  genai-engine/ui/src/components/traces/components/SessionDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TracesViewLayout.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/drawer/SessionDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/SpanDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/TraceDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/span-status-badge/index.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/data/column-factory-types.ts
  genai-engine/ui/src/components/traces/data/column-utils.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/create-session-level-columns.tsx
  genai-engine/ui/src/components/traces/data/create-span-level-columns.tsx
  genai-engine/ui/src/components/traces/data/create-trace-level-columns.tsx
  genai-engine/ui/src/components/traces/data/create-user-level-columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
Due: none

modification to trace viewer
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/README.md
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/drawer/SpanDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/TraceDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
