Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix: update down_revision in alembic migration to remove obsolete reference
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
Due: none

Merge remote-tracking branch 'origin/dev' into guardrails-v2
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/trace_retention_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/services/test_trace_retention_service.py
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: llm_eval_name/version always populated for ML continuous evals
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: use values_callable so SQLAlchemy Enum maps by value not name
  genai-engine/src/db_models/llm_eval_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: enhance continuous eval schema with eval_type and update llm_eval_name/version handling
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix(alembic): chain eval_type migration after add_transform_version_id
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
Due: none

fix(alembic): update down_revision for eval_type support migration
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
Due: none

refactor(api-client): convert enums to union types and clean up unused interfaces
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
Due: none

refactor(guardrails-v2): address PR review comments
  genai-engine/alembic/versions/2026_04_07_1257-711e7d7236ae_add_trace_end_time_index.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/evaluator_factory.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/scorer/base_ml_scorer.py
  genai-engine/src/scorer/ml_scorers.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor(guardrails-v2): clean up evaluator wrappers and rename LLMEvalRunResponse
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/llm_evaluator.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor(evaluator): streamline evaluator selection and update ML eval types
  genai-engine/src/repositories/evaluator_factory.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/ml_scorers.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor eval_type to eval_kind across the codebase
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvaluators.tsx
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEvals.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update down_revision in migration script to reflect new parent revision
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
Due: none

Update Eval schema and references across the codebase
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/hooks/useAddTagToEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/types.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useCreateMlEvalMutation.ts
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Remove local arthur-common path override from pyproject.toml
  genai-engine/pyproject.toml
Due: none

Update arthur-common dependency to version 2.4.64 and adjust OpenAPI schema references
  genai-engine/pyproject.toml
  genai-engine/src/schemas/request_schemas.py
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: remove accidental ui/staging.openapi.json copy and reformat spec with printWidth 150
  genai-engine/ui/staging.openapi.json
Due: none

v2.1.594 feat: persist demo completion certificates via Postgres + API (#1714)
  genai-engine/alembic/versions/2026_06_02_0900-490cd5586c25_add_demo_certificates_table.py
  genai-engine/alembic/versions/2026_06_03_0900-2966018cec1d_merge_onboarding_and_demo_certificates.py
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/demo_certificate_models.py
  genai-engine/src/routers/v2/demo_certificate_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_demo_certificate_routes.py
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/version
  version
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.594
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

test(genai-engine): fold UP-4470 Pattern C tests into multitenancy suite
  genai-engine/tests/multitenancy/test_isolation.py
  genai-engine/tests/multitenancy/test_pattern_c_repository_gaps.py
Due: none

fix: sync staging.openapi.json and update api_changelog.md for guardrails-v2 changes
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: none

Address PR review feedback on arthur-onboard skills
  README.md
  integrations/claude-code-skills/arthur-onboard/README.md
  integrations/claude-code-skills/arthur-onboard/arthur-onboard-instrument/EXAMPLES.md
  integrations/claude-code-skills/arthur-onboard/arthur-onboard-oss/SKILL.md
  integrations/claude-code-skills/arthur-onboard/arthur-onboard-platform/SKILL.md
  integrations/claude-code-skills/arthur-onboard/arthur-skills-upgrade/SKILL.md
  integrations/codex-skills/arthur-onboard/README.md
Due: none

port pii v1 passport changes from shield
  genai-engine/src/schemas/scorer_schemas.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/scorer/checks/pii/pii_utils.py
  genai-engine/src/scorer/checks/pii/validations.py
  genai-engine/src/utils/model_load.py
  genai-engine/tests/unit/test_pii_v1.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.595
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: change anchor point of prompt tag popover
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
Due: none

fix: display steps as selected regardless of their completion
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.tsx
Due: none

Fix/onboarding tour UI UX improvements (#1736)
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.tsx
Due: none

Increment arthur-engine version to 2.1.596
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: auto scroll highlighted elements into view
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/features/task-tour/TaskTour.tsx
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.test.tsx
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.tsx
  genai-engine/ui/src/features/task-tour/widgets/index.ts
Due: none

fix: scroll active steps on onboarding checklist into view
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.test.tsx
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.tsx
Due: none

port pii v1 passport changes from shield (#1734)
  genai-engine/src/schemas/scorer_schemas.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/scorer/checks/pii/pii_utils.py
  genai-engine/src/scorer/checks/pii/validations.py
  genai-engine/src/utils/model_load.py
  genai-engine/tests/unit/test_pii_v1.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.597
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Rewrite onboarding tour copy to sound less AI-generated
  genai-engine/ui/src/features/task-tour/content/00-intro.md
  genai-engine/ui/src/features/task-tour/content/01-agent.md
  genai-engine/ui/src/features/task-tour/content/02-evals.md
  genai-engine/ui/src/features/task-tour/content/03-traces.md
  genai-engine/ui/src/features/task-tour/content/04-datasets.md
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/content/06-deploy.md
Due: none

fix: adjust to take into account space taken by side panel
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.test.tsx
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.tsx
Due: none

Refine task tour copy for clarity and conciseness (#1738)
  genai-engine/ui/src/features/task-tour/content/00-intro.md
  genai-engine/ui/src/features/task-tour/content/01-agent.md
  genai-engine/ui/src/features/task-tour/content/02-evals.md
  genai-engine/ui/src/features/task-tour/content/03-traces.md
  genai-engine/ui/src/features/task-tour/content/04-datasets.md
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/content/06-deploy.md
Due: none

Increment arthur-engine version to 2.1.598
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4535 Auto scroll highlighted elements into view (#1739)
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/features/task-tour/TaskTour.tsx
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.test.tsx
  genai-engine/ui/src/features/task-tour/widgets/ScrollTargetIntoViewWidget.tsx
  genai-engine/ui/src/features/task-tour/widgets/index.ts
Due: none

Increment arthur-engine version to 2.1.599
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
