Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

remove duplicate title
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
Due: none

Update page.tsx
  genai-engine/ui/src/app/tasks/[id]/playgrounds/retrievals/page.tsx
Due: none

fix scrolls
  genai-engine/ui/src/app/tasks/[id]/playgrounds/retrievals/page.tsx
Due: none

fix types and disconnected state
  genai-engine/ui/src/app/tasks/[id]/playgrounds/retrievals/page.tsx
  genai-engine/ui/src/lib/weaviate-client.ts
Due: none

bump arthur-common
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

fix compilation
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/lib/auth.ts
  genai-engine/ui/tsconfig.json
Due: none

fix type errors
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/index.ts
  genai-engine/ui/src/lib/auth.ts
Due: none

UP-2994: Support nested metric arguments (#488)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/metric_calculators/custom_metric_sql_calculator.py
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
Due: ml-engine-pytest-check

new UI settings
  .gitignore
  genai-engine/ui-react/.env.local
  genai-engine/ui-react/.gitignore
  genai-engine/ui-react/src/components/weaviate/ConnectionForm.tsx
  genai-engine/ui-react/src/lib/api.ts
  genai-engine/ui-react/vite.config.ts
  genai-engine/ui/.env.local
  genai-engine/ui/.gitignore
  genai-engine/ui/src/app/tasks/[id]/retrievals/page.tsx
Due: none

fix css
  genai-engine/ui-react/package-lock.json
  genai-engine/ui-react/package.json
  genai-engine/ui-react/src/App.css
  genai-engine/ui-react/src/index.css
  genai-engine/ui-react/tailwind.config.js
  genai-engine/ui-react/vite.config.ts
Due: none

add openapi generator to new UI
  .gitignore
  genai-engine/ui-react/openapitools.json
  genai-engine/ui-react/package-lock.json
  genai-engine/ui-react/package.json
  genai-engine/ui/openapitools.json
Due: none

fixes to new UI
  genai-engine/ui-react/src/App.tsx
  genai-engine/ui-react/src/components/LoginPage.tsx
  genai-engine/ui-react/src/components/TaskLayout.tsx
  genai-engine/ui-react/src/contexts/TaskContext.tsx
Due: none

fixing css
  genai-engine/ui-react/index.html
  genai-engine/ui-react/package-lock.json
  genai-engine/ui-react/package.json
  genai-engine/ui-react/src/index.css
Due: none

fix styling
  genai-engine/ui-react/src/components/weaviate/WeaviateRetrievalsPlayground.tsx
Due: none

Update App.tsx
  genai-engine/ui-react/src/App.tsx
Due: none

update task context
  genai-engine/ui-react/src/App.tsx
  genai-engine/ui-react/src/components/TaskDetailContent.tsx
  genai-engine/ui-react/src/components/TracesView.tsx
  genai-engine/ui-react/src/contexts/TaskContext.tsx
  genai-engine/ui-react/src/contexts/TaskContextDefinition.ts
  genai-engine/ui-react/src/hooks/useTask.ts
Due: none

Update ResultsDisplay.tsx
  genai-engine/ui-react/src/components/weaviate/ResultsDisplay.tsx
Due: none

remove .env.local to .env.dev so it's not picked up in builds
  genai-engine/ui-react/.env.dev
  genai-engine/ui-react/.gitignore
Due: none

fix dev env
  genai-engine/ui-react/package.json
Due: none

ui serving from server
  genai-engine/docker-compose.yml
  genai-engine/dockerfile
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix routing
  genai-engine/src/auth/SPAStaticFiles.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update SPAStaticFiles.py
  genai-engine/src/auth/SPAStaticFiles.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix UI serving
  genai-engine/src/server.py
  genai-engine/ui-react/vite.config.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix hybrid to use max vector distance filter
  genai-engine/ui-react/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui-react/src/lib/weaviate-client.ts
Due: none

add export capabilities
  genai-engine/ui-react/src/components/weaviate/QueryConfiguration.tsx
Due: none

Add KEYCLOAK_SSL_VERIFY setting and update JobAgent and JobExecutor to use it
  ml-engine/poetry.lock
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

fix serving UI
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix limit typing
  genai-engine/ui-react/src/components/weaviate/QueryConfiguration.tsx
Due: none

Add KEYCLOAK_SSL_VERIFY setting and update JobAgent and JobExecutor (#494)
  ml-engine/poetry.lock
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

fix traces scrolling
  genai-engine/ui-react/src/components/TracesView.tsx
Due: none

fix tracing pagination
  genai-engine/ui-react/src/components/TracesView.tsx
Due: none

add vertical lines
  genai-engine/ui-react/src/components/TraceDetailsPanel.tsx
Due: none

Refactor JobAgent and JobExecutor to simplify KEYCLOAK_SSL_VERIFY initialization
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

Refactor JobAgent and JobExecutor to use normalized KEYCLOAK_SSL_VERIFY setting
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

Refactor JobAgent and JobExecutor to simplify KEYCLOAK_SSL_VERIFY initialization (#495)
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check
