Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

testing harness + demo
  genai-engine/examples/agents/customer-support-agent/DYNAMIC_MODELS.md
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/scripts/DEMO_HARNESS_GUIDE.md
  genai-engine/examples/agents/customer-support-agent/scripts/QUICK_START.md
  genai-engine/examples/agents/customer-support-agent/scripts/README.md
  genai-engine/examples/agents/customer-support-agent/scripts/run-demo.js
  genai-engine/examples/agents/customer-support-agent/scripts/test-harness-demo.ts
Due: none

automation to set up unregistered agent
  genai-engine/examples/agents/customer-support-agent/.env.example
  genai-engine/examples/agents/customer-support-agent/create_unregistered_agent.sh
Due: none

updates
  genai-engine/examples/agents/customer-support-agent/.gitignore
  genai-engine/examples/agents/customer-support-agent/README.md
  genai-engine/examples/agents/customer-support-agent/scripts/test-harness.ts
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/model-resolver.ts
Due: none

updates to scripts
  genai-engine/examples/agents/customer-support-agent/DYNAMIC_MODELS.md
  genai-engine/examples/agents/customer-support-agent/scripts/DEMO_HARNESS_GUIDE.md
  genai-engine/examples/agents/customer-support-agent/scripts/QUICK_START.md
  genai-engine/examples/agents/customer-support-agent/scripts/README.md
  genai-engine/examples/agents/customer-support-agent/scripts/test-harness-demo.ts
Due: none

Automation for setting up the demo
  genai-engine/examples/agents/customer-support-agent/AUTOMATION_COMPLETE.md
  genai-engine/examples/agents/customer-support-agent/DEMO_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/DEMO_AUTOMATION_README.md
  genai-engine/examples/agents/customer-support-agent/README_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/scripts/AUTOMATION_SUMMARY.md
  genai-engine/examples/agents/customer-support-agent/scripts/BOOTSTRAP_README.md
  genai-engine/examples/agents/customer-support-agent/scripts/COMPLETE_SUCCESS.md
  genai-engine/examples/agents/customer-support-agent/scripts/FINAL_SUMMARY.md
  genai-engine/examples/agents/customer-support-agent/scripts/README_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/scripts/SETUP_SUCCESS.md
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/continuous-evals.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/datasets.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/llm-evals.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/prompts.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/task.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/test-questions.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-data/transforms.json
  genai-engine/examples/agents/customer-support-agent/scripts/bootstrap-extract.ts
  genai-engine/examples/agents/customer-support-agent/scripts/run-bootstrap-extract.js
  genai-engine/examples/agents/customer-support-agent/scripts/run-setup-new-task.js
  genai-engine/examples/agents/customer-support-agent/scripts/setup-new-task.ts
Due: none

init commit
  genai-engine/examples/agents/customer-support-agent/.env.example
  genai-engine/examples/agents/customer-support-agent/.gitignore
  genai-engine/examples/agents/customer-support-agent/README.md
  genai-engine/examples/agents/customer-support-agent/eslint.config.mjs
  genai-engine/examples/agents/customer-support-agent/next.config.ts
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/postcss.config.mjs
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/app/globals.css
  genai-engine/examples/agents/customer-support-agent/src/app/layout.tsx
  genai-engine/examples/agents/customer-support-agent/src/app/page.tsx
  genai-engine/examples/agents/customer-support-agent/src/components/ChatInterface.tsx
  genai-engine/examples/agents/customer-support-agent/src/components/MessageBubble.tsx
  genai-engine/examples/agents/customer-support-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/tracing.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/tools/githubSearch.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/tools/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/tools/websearch.ts
  genai-engine/examples/agents/customer-support-agent/tsconfig.json
  genai-engine/examples/agents/customer-support-agent/yarn.lock
Due: none

cleanup
  genai-engine/examples/agents/customer-support-agent/AUTOMATION_COMPLETE.md
  genai-engine/examples/agents/customer-support-agent/DEMO_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/DEMO_AUTOMATION_README.md
  genai-engine/examples/agents/customer-support-agent/DYNAMIC_MODELS.md
  genai-engine/examples/agents/customer-support-agent/README.md
  genai-engine/examples/agents/customer-support-agent/README_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/scripts/AUTOMATION_SUMMARY.md
  genai-engine/examples/agents/customer-support-agent/scripts/BOOTSTRAP_README.md
  genai-engine/examples/agents/customer-support-agent/scripts/COMPLETE_SUCCESS.md
  genai-engine/examples/agents/customer-support-agent/scripts/DEMO_HARNESS_GUIDE.md
  genai-engine/examples/agents/customer-support-agent/scripts/FINAL_SUMMARY.md
  genai-engine/examples/agents/customer-support-agent/scripts/QUICK_START.md
  genai-engine/examples/agents/customer-support-agent/scripts/README.md
  genai-engine/examples/agents/customer-support-agent/scripts/README_AUTOMATION.md
  genai-engine/examples/agents/customer-support-agent/scripts/SETUP_SUCCESS.md
Due: none

pin openapi client generator version
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.274
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Enhance ODBCConnector with connection and login timeout settings (#1006)
  ml-engine/src/ml_engine/connectors/odbc_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.275
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

remove response obj defaults and update alembic revision
  genai-engine/alembic/versions/2025_12_16_1049-aeea38580473_add_transform_map_to_ce.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add ability to filter CE run results on CE id
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3520 Delete useOnClickOutside (#983)
  genai-engine/ui/src/hooks/useOnClickOutside.ts
Due: none

Increment arthur-engine version to 2.1.276
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

marked files for replacement
  genai-engine/ui/src/utils/cn.ts
  genai-engine/ui/src/utils/fileDownload.ts
  genai-engine/ui/src/utils/formatters.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

Fix prompt experiment searching
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove heavy join
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add ability to filter CE run results on CE id (#1049)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.277
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

defined amplitude and fix lint errors
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/SetConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
  genai-engine/ui/src/services/amplitude.ts
Due: none

Fix prompt experiment searching (#1051)
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.278
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3547: Agent experiments V0
  genai-engine/alembic/versions/2026_01_05_1227-06b0610b582c_agentic_experiment_models.py
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_experiment_models.py
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/base_experiment_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/rag_experiment_executor.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/dataset_utils.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: add new number field
  genai-engine/ui/src/components/common/form/NumberField.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: none

feat: add new number field (#1008)
  genai-engine/ui/src/components/common/form/NumberField.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: none

Increment arthur-engine version to 2.1.279
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
