Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.406
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: expand span dataset addition search attributes
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/utils/datasetFormatters.ts
  genai-engine/ui/src/utils/formatters.ts
Due: none

UP-3811 Expand span dataset addition search to also use other attributes (#1318)
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/utils/datasetFormatters.ts
  genai-engine/ui/src/utils/formatters.ts
Due: none

Increment arthur-engine version to 2.1.407
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Deprecate agent discovery service
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Convert JSON response to Objects
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Move global settings (Model Providers, API Keys) to settings gear menu (#1309)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/common/ThemeToggle.tsx
  genai-engine/ui/src/components/settings/SettingsPage.tsx
Due: none

Increment arthur-engine version to 2.1.408
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix ExperimentConfigDrawer JSX structure and remove duplicate code
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

Increment arthur-engine version to 2.1.409
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Pagination to trace requests
  genai-engine/src/api_changelog.md
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/tests/unit/services/test_external_trace_retrieval_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Function responds with appropriate schema
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Replace Tailwind dark mode classes with MUI theme colors
  genai-engine/ui/src/components/TraceDetailsPanel.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/retrievals/CreateRagConfigurationModal.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/settings/IncludeOptions.tsx
Due: none

Add pg advisory lock
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add advisory lock, remove duplicate gcp task query method
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Replace Tailwind dark mode classes with MUI theme colors (#1330)
  genai-engine/ui/src/components/TraceDetailsPanel.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/retrievals/CreateRagConfigurationModal.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/settings/IncludeOptions.tsx
Due: none

Increment arthur-engine version to 2.1.410
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Lint
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

wip
  genai-engine/ui/.yarnrc.yml
Due: none

Update migration
  genai-engine/alembic/versions/2026_02_18_1722-53f5544bc0b8_create_task_polling_state_and_migrate_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/gcp.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix tests
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: none

successfully pull with token
  genai-engine/ui/.yarnrc.yml
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

clean branch
  genai-engine/ui/.yarnrc.yml
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Use attribute-based name lookup with span_name fallback for tools and sub-agents
  genai-engine/src/repositories/tasks_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

expose env var to jobs
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/meticulous.yaml
Due: none

Display skipped evals in gray in Trace Viewer overview (#1320)
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
Due: none

Increment arthur-engine version to 2.1.411
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: make traces table sort arrows functional
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/hooks/useTable.tsx
  genai-engine/ui/src/services/tracing.ts
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
