Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

add the ability to filter on trace annotation score (#853)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.214
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

regenerate changelog and client
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix final test
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
Due: none

actually fix tests
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Upsolve ux feedback (#854)
  genai-engine/alembic/versions/2025_11_21_1958-49afefacd064_add_link_from_experiments_to_datasets.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/transforms/types.ts
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/hooks/usePromptExperiments.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.215
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix notebook models
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/notebook_models.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/src/schemas/notebook_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add List Notebooks view and detail apge
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/notebooks/NotebookDetailModal.tsx
  genai-engine/ui/src/components/notebooks/Notebooks.tsx
  genai-engine/ui/src/components/notebooks/NotebooksHeader.tsx
  genai-engine/ui/src/components/notebooks/NotebooksTable.tsx
  genai-engine/ui/src/components/notebooks/types.ts
  genai-engine/ui/src/hooks/useNotebooks.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add Create and Launch notebook functionality. Autosave as well
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/notebooks/CreateNotebookModal.tsx
  genai-engine/ui/src/components/notebooks/Notebooks.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
Due: none

Fix state loading
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
Due: none

Add name filter for better Open in Notebook performance
  genai-engine/alembic/versions/2025_11_21_1605-f617c5594fbf_create_notebook_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Load config from experiment into notebook
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/SetConfigDrawer.tsx
Due: none

Add load config
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

Fix auto-save
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/notebooks/NotebookDetailModal.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix Open in Notebook in Prompt Experiments
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/hooks/useNotebooks.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix migration order
  genai-engine/alembic/versions/2025_11_20_1520-88a3cbf21434_support_non_similar_and_unsaved_prompts_.py
Due: none

regen clients
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix build
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
  genai-engine/ui/src/hooks/useNotebooks.ts
Due: none

fix prompt experiment creation
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix overlapping relationships for RAG
  genai-engine/src/db_models/rag_provider_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix dataset filters
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix notebook loading
  genai-engine/src/schemas/notebook_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

regen
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix passing dataset data to create experiment
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

handle undef filter
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

fix open experiment in notebook
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
Due: none

revert header change
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsViewHeader.tsx
Due: none

fix import
  genai-engine/src/db_models/prompt_experiment_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update SidebarNavigation.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
Due: none

fix datasets link in notebooks detail modal
  genai-engine/alembic/versions/2025_11_23_2016-ee4b2e171875_add_dataset_name_to_notebook.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/notebook_models.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/schemas/notebook_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add save button
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

lint
  genai-engine/src/schemas/notebook_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update changelog
  genai-engine/src/api_changelog.md
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
