Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

chore: adjust commit message check
  .github/workflows/arthur-observability-sdk-release.yml
Due: none

feat: allow pipeline failure if main cant merge to dev
  .github/workflows/version-workflow.yml
Due: none

chore: adjust release pr message
  .github/workflows/create-release-pr.yml
Due: none

Automate release PR creation and main→dev sync (#release-process)
  .github/workflows/create-release-pr.yml
  .github/workflows/version-workflow.yml
Due: none

feat: add RELEASE.md
  RELEASE.md
Due: none

updated env-example and narrowed simulated violations to toxicity and pii types
  genai-engine/examples/agents/customer-support-agent/.env.example
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/guardrail.ts
Due: none

Automate release PR creation and main→dev sync (#release-process) (#1595)
  .github/workflows/arthur-observability-sdk-release.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/version-workflow.yml
  RELEASE.md
Due: none

Increment arthur-engine version to 2.1.528
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

RFC 7230 - a server MUST NOT send Transfer-Encoding in 1xx or 204 responses
  genai-engine/src/server.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added guardrail configuration instructions in the readme
  genai-engine/examples/agents/customer-support-agent/README.md
Due: none

RFC 7230 - a server MUST NOT send Transfer-Encoding in 1xx or 204 response (#1598)
  genai-engine/src/server.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.529
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add audit logging to genai engine
  .gitignore
  genai-engine/.env
  genai-engine/pyproject.toml
  genai-engine/src/auth/multi_validator.py
  genai-engine/src/config/config.py
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/conftest.py
  genai-engine/tests/unit/monitoring/__init__.py
  genai-engine/tests/unit/monitoring/conftest.py
  genai-engine/tests/unit/monitoring/helpers.py
  genai-engine/tests/unit/monitoring/test_audit_log_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

address CCR comments
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/src/schemas/audit_log_schemas.py
  genai-engine/tests/unit/monitoring/test_audit_log_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add --frozen flag on uv sync calls to install exactly what's locked in the lockfile
  .github/workflows/composite-actions/setup-uv/action.yml
  deployment/ecs/model-upload/Dockerfile
  deployment/gcp/model-upload/Dockerfile
  deployment/k8s/model-upload-oc/Dockerfile
  genai-engine/Dockerfile_changelog
  genai-engine/dockerfile
  ml-engine/Dockerfile
  ml-engine/scripts/lint.sh
Due: none

Add --frozen flag on uv sync calls to install exactly what's locked i… (#1601)
  .github/workflows/composite-actions/setup-uv/action.yml
  deployment/ecs/model-upload/Dockerfile
  deployment/gcp/model-upload/Dockerfile
  deployment/k8s/model-upload-oc/Dockerfile
  genai-engine/Dockerfile_changelog
  genai-engine/dockerfile
  ml-engine/Dockerfile
  ml-engine/scripts/lint.sh
Due: none

Increment arthur-engine version to 2.1.530
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

upgrade arthur common version
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

fix lint and changelog errs
  genai-engine/src/api_changelog.md
  genai-engine/src/config/config.py
  genai-engine/src/server.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix middleware failing to convert versions to str for response id
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/tests/unit/monitoring/test_audit_log_middleware.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(ui): standardize table UX across management and experiment tables
  genai-engine/ui/src/components/common/table/DeleteConfirmDialog.tsx
  genai-engine/ui/src/components/common/table/explorerTableDefaults.ts
  genai-engine/ui/src/components/datasets/DatasetsTable.tsx
  genai-engine/ui/src/components/datasets/DatasetsView.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/notebooks/NotebooksTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsTable.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooksTable.tsx
  genai-engine/ui/src/components/transforms/table/TransformsTable.tsx
Due: none

feat: add eval mapping reset on change
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/info-step/index.tsx
Due: none

feat(UP-4232): add eval mapping reset on change (#1584)
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/info-step/index.tsx
Due: none

Increment arthur-engine version to 2.1.531
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(UP-4231): Navigate to unified RAG hub instead of legacy standalone routes
  genai-engine/ui/src/components/rag-experiments/RagExperimentDetailView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsHeader.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsPage.tsx
Due: none

feat(UP-4231): fix rag navigation (#1583)
  genai-engine/ui/src/components/rag-experiments/RagExperimentDetailView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsHeader.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsPage.tsx
Due: none

Increment arthur-engine version to 2.1.532
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(UP-3772): add row ID column
  genai-engine/ui/src/components/datasets/DatasetSearchBar.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/contexts/dataset/selectors.ts
Due: none

fix: lint
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
Due: none

feat(UP-3772): add row ID column (#1480)
  genai-engine/ui/src/components/datasets/DatasetSearchBar.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/contexts/dataset/selectors.ts
Due: none

Increment arthur-engine version to 2.1.533
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

extract response id from prompts and evals
  genai-engine/src/monitoring/audit_log_middleware.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix thinking param in the UI
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

refactor: remove ML eval support and related components
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/alembic/versions/2026_04_16_1000-a7f3b8c2d1e9_add_eval_type_to_llm_evals.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/ROUTES.md
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: merge alembic heads (eval_type + trace_end_time)
  genai-engine/alembic/versions/2026_04_20_1359-8f5b46f379f5_merge_eval_type_and_trace_end_time_heads.py
Due: none

add audit logging to genai engine (#1600)
  .gitignore
  genai-engine/.env
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/auth/multi_validator.py
  genai-engine/src/config/config.py
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/src/schemas/audit_log_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/conftest.py
  genai-engine/tests/unit/monitoring/__init__.py
  genai-engine/tests/unit/monitoring/conftest.py
  genai-engine/tests/unit/monitoring/helpers.py
  genai-engine/tests/unit/monitoring/test_audit_log_middleware.py
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.534
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update uv.lock
  genai-engine/uv.lock
Due: none

fix model provider and enable button when set on prompt
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
Due: none
