Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Add global polling loop
  genai-engine/alembic/versions/2026_02_18_1722-53f5544bc0b8_create_task_polling_state_and_migrate_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/task/__init__.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix lingering endpoint
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Replace Tailwind color classes with MUI theme tokens per PR review
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/components/retrievals/RagSearchPanel.tsx
Due: none

Replace plain div with MUI Box for layout grouping per PR review
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Update genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Clean up imports, use model_validate
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix invalid MUI tokens and hardcoded hex colors per PR review
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/theme/mui-theme.ts
Due: none

Fix dataset search to query full dataset (#1237)
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/ui/src/contexts/dataset/DatasetContext.tsx
  genai-engine/ui/src/contexts/dataset/reducer.ts
  genai-engine/ui/src/contexts/dataset/selectors.ts
  genai-engine/ui/src/contexts/dataset/useDatasetQueries.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.404
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix migration
  genai-engine/alembic/versions/2026_02_18_1722-53f5544bc0b8_create_task_polling_state_and_migrate_.py
Due: none

Move schemas to common
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
Due: none

Replace Tailwind border-color classes with MUI divider token in CreateExperimentModal
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

Display skipped evals in gray in Trace Viewer overview
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
Due: none

Bump common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

Fix import
  genai-engine/src/repositories/tasks_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fixed poetry.lock
  genai-engine/poetry.lock
Due: none

Address additional PR review: native HTML → MUI, icon colors, badge bug
  genai-engine/ui/src/components/agent-experiments/new/components/endpoint.tsx
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
Due: none

Update last_fetched time from timestamp, add new poll-all endpoint
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Move response to schema
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update lockfile
  genai-engine/poetry.lock
Due: none

Mypy
  genai-engine/src/routers/v1/agent_polling_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Better skills for setting things up
  .claude/settings.local.json
  .claude/skills/setup-genai-dev/SKILL.md
  .claude/skills/start-genai-backend/SKILL.md
Due: none

add support for launching the FE
  .claude/settings.local.json
  .claude/skills/start-genai-frontend/SKILL.md
Due: none

improve port mapping
  .claude/skills/start-genai-backend/SKILL.md
  .claude/skills/start-genai-frontend/SKILL.md
Due: none

more better ports
  .claude/skills/start-genai-backend/SKILL.md
Due: none

fix: refactor saving logic
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useNotebookAutoSave.ts
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/VersionSelector.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/promptSaveState.ts
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

refactor: prompt notebook
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/ExperimentConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundWrapper.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useDeserializedNotebookState.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentConfig.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentExecution.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useNotebookAutoSave.ts
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/hooks/useModelProviders.ts
  genai-engine/ui/src/hooks/useSpan.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

fix: address inconsistencies spotted in claude review
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/ExperimentConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

fix: stale cache and isDirty behavior
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/hooks/useNotebooks.ts
Due: none

fix: format
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundWrapper.tsx
Due: none

UP-3718, UP-3583: Prompt notebook refactor (#1261)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/ExperimentConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundWrapper.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useDeserializedNotebookState.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentConfig.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentExecution.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useNotebookAutoSave.ts
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/VersionSelector.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/promptSaveState.ts
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
  genai-engine/ui/src/hooks/useModelProviders.ts
  genai-engine/ui/src/hooks/useNotebooks.ts
  genai-engine/ui/src/hooks/useSpan.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Increment arthur-engine version to 2.1.405
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add inline eval creation to CE view
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelectorUI.tsx
Due: none

UP-3812 Add inline eval creation to CE view (#1319)
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelectorUI.tsx
Due: none
