Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.222
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add trace-feedback filtering and score
  genai-engine/ui/package.json
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/DurationCell/index.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add trace-feedback filtering and score (#873)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/DurationCell/index.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.223
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add task id assertions in dataset crud test
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
Due: none

move datasets under tasks (#879)
  genai-engine/alembic/versions/2025_11_26_1127-6273338ffe42_add_task_id_to_datasets.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.224
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3345: Cleanup when application is teardown
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Apply comments. Upgrade pytorch to 2.9.1
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/requirements-gpu.txt
  genai-engine/src/server.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3319: Fix mypy issues part 3
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/tasks_metrics_repository.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_normalization_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/span_semantic_conventions.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/unit/clients/telemetry/test_telemetry_client.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Address comments
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Set cost to empty string if not provided.
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Raise NotImplementedError when not supported type
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove changelog that is not longer relevant
  genai-engine/src/api_changelog.md
Due: none

Address comments
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/scorer/checks/prompt_injection/classifier.py
  genai-engine/src/scorer/metrics/tool_selection/tool_selection.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3319: Fix mypy issues part 3 (#833)
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/tasks_metrics_repository.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_normalization_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/span_semantic_conventions.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/trace.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/clients/telemetry/test_telemetry_client.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.225
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

FE components ready for new filters
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: none

pyproject
  genai-engine/poetry.lock
Due: none

commit backend files
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

correctly fill filters from url
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
Due: none

added hook
  genai-engine/ui/src/components/traces/hooks/useSyncFiltersToUrl.tsx
  genai-engine/ui/src/components/traces/hooks/useTableScrollThrottler.tsx
Due: none

lint and pretty frontend
  genai-engine/ui/src/components/traces/components/add-to-dataset/AddColumnDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/CreateDatasetModal.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SaveTransformDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/usePreviewTableData.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransformExecutor.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformBuilder.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformExecutor.ts
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form-context.ts
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/types.ts
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: none

span id and name filtering for traces
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix build
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: none

updated changelog and client spec
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fixed session and user id filtering
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix build error
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
Due: none

regenerated poetry lockfile
  genai-engine/poetry.lock
Due: none

changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat: use nuqs for filter handling
  .gitignore
  genai-engine/src/api_changelog.md
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/traces/hooks/useSyncFiltersToUrl.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update OpenAPI schema and changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Update OpenAPI schema and changelog again
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none
