Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat: add wildcard transform support in the UI and BE
  genai-engine/src/utils/trace.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
  genai-engine/tests/unit/utils/test_get_nested_value_wildcard.py
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/components/transform-selector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/components/transforms/TransformFormModal.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: notify users to review CEs when eval version is upgraded
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/ImpactedCEsDialog.tsx
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: generate openapi spec, fix linting
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3815: Notify users to review CEs when eval version is upgraded (#1338)
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/ImpactedCEsDialog.tsx
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.450
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4020: Do not allow transform deletion when dependant entities exist (#1431)
  genai-engine/alembic/versions/2026_03_10_1200-04c5e8528072_change_continuous_evals_transform_fk_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/transforms/test_transform_crud.py
  genai-engine/ui/src/components/transforms/DeleteTransformDialog.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/transforms/hooks/useTransformDependents.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.451
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3925 Deduplicate traces when counting totals with filters active (#1388)
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.452
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3828 Add wildcard transform support in the UI and BE (#1383)
  genai-engine/src/utils/trace.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
  genai-engine/tests/unit/utils/test_get_nested_value_wildcard.py
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/components/transform-selector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/components/transforms/TransformFormModal.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.453
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: lint
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
Due: none

feat: update tools copy text
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
Due: none

feat: add docs link
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
Due: none

feat: update tools copy text (#1439)
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
Due: none

Increment arthur-engine version to 2.1.454
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

refactored deprecated definitions
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/request_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

lint fix
  genai-engine/src/schemas/request_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.455
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

revert: remove span_count and total_token_count from TRACE_FIELDS (unused by UI)
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
Due: none

revert: restore SPAN_FIELDS to spread of TRACE_FIELDS
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
Due: none

feat: add span_count and total_token_count filters to TracingFilterModal
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

feat: pass mode=span to TracingFilterModal in SpanLevel
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
Due: none

Allow arthur-github-automator-app to trigger Claude Code review
  .github/workflows/claude-code-review.yml
Due: none

fix(UP-3949): fix double token count filter and prettier formatting
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Allow arthur-github-automator-app to trigger Claude Code review (#1442)
  .github/workflows/claude-code-review.yml
Due: none

Increment arthur-engine version to 2.1.456
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: annotation explanation shows [object Object] instead of text (ae-lyd) (#1414)
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/components/traces/components/TraceContentCell.tsx
Due: none

Increment arthur-engine version to 2.1.457
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

NO_REF - Refactored deprecated definitions (#1441)
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/request_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.458
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(UP-3998): back navigation in notebook
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
Due: none

fix: encoding special characters in entity names
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/src/utils/url_encoding.py
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/hooks/useAddTagToEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteTagFromEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvalVersions.ts
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/notebooks/NotebookDetailModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/hooks/useAddTagToPromptVersionMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useCreatePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptVersionMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useDeleteTagFromPromptVersionMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePrompt.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePromptVersions.ts
  genai-engine/ui/src/hooks/useRenderPrompt.ts
  genai-engine/ui/src/utils/url.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(UP-3998): back navigation in notebook (#1445)
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
Due: none

Increment arthur-engine version to 2.1.459
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

lint
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/utils.ts
  genai-engine/ui/src/components/live-evals/data/columns.tsx
Due: none

format and --fix
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/agent-experiments/[experimentId]/index.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/components/header/index.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentDetailView.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsTable.tsx
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigDetailView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigVersionDrawer.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/utils/timeWindows.ts
Due: none

change defaults and format files
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/stores/user-settings.store.ts
Due: none
