Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

chore(tenant-signup): mypy fixes (TENANT_USER attr + Optional narrowing)
  genai-engine/src/routers/v2/tenant_signup_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor: add commit kwarg to OrganizationsRepository.create_organization
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/tests/unit/utils/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(multitenancy): public tenant signup endpoint (UP-4430)
  genai-engine/docs/MULTI_TENANCY_DESIGN.md
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/tenant_signup_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/utils/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: restore definition field on TraceTransformResponse from latest version (#1666)
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.571
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

adding initial design
  genai-engine/docs/Image_Eval_Design.md
Due: none

chore: add adlfs dependency version 2025.8.0 to pyproject.toml
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

chore(tenant-signup): adapt to UP-4425's Task.org_id schema change
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/tests/unit/utils/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor(tenant-signup): single outer try/except for the transaction
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor(tenant-signup): demo task reuses org's demo-<hex> name
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/tests/unit/utils/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

test(tenant-signup): rewrite tests through real FastAPI TestClient
  genai-engine/src/db_models/organization_models.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/tests/unit/utils/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor(organization-model): align with codebase id/created_at convention
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/repositories/organizations_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(tenant-signup): gate route registration on extra_feature_config.DEMO_MODE
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/src/config/extra_features.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(multitenancy): Pattern C — org_scope filtering on read paths (UP-4429)
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/agentic_notebook_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/src/routers/v1/rag_notebook_routes.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/routers/v2/feedback_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/routers/v2/validate_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): close the remaining audit gaps (UP-4429)
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v2/rule_management_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/routers/v2/validate_routes.py
  genai-engine/src/schemas/enums.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: update arthur-client dependency to version 1.4.2158 in pyproject.toml and uv.lock
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
Due: none

feat: add Azure Blob Storage connector for ml-engine (#1667)
  CLAUDE.md
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/azure_blob_connector.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/tests/unit/connectors/test_azure_blob_connector.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.572
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(multitenancy): denormalize org_id onto trace_metadata + spans (UP-4429)
  genai-engine/alembic/versions/2026_05_22_0900-7e1c3a4b5d2f_denormalize_org_id_to_trace_metadata_and_spans.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_query_span_count_filtering.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix(tracer): inherit parent trace in pre_tool fallback when UserPromptSubmit skips
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/install.sh
  integrations/claude-code/test_tracer.py
Due: none

More test coverage
  integrations/claude-code/test_tracer.py
Due: none

fix(tracer): carry pre_tool inherited context into UPS-created first turn
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

feat(ui): add engine onboarding landing + try-it-out form (Variant B)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/onboarding/EngineTopNav.tsx
  genai-engine/ui/src/components/onboarding/LandingHero.tsx
  genai-engine/ui/src/components/onboarding/OnboardingPage.tsx
  genai-engine/ui/src/components/onboarding/TryItOutForm.tsx
  genai-engine/ui/src/components/onboarding/onboardingOptions.ts
Due: none

feat(ui): add wizard onboarding about step component
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
Due: none

feat(ui): refresh engine top nav with icon-only logo + onboarding deps
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/ArthurLogo.tsx
  genai-engine/ui/src/components/onboarding/engine-top-nav/index.tsx
  genai-engine/ui/yarn.lock
Due: none

fix(ui): switch wizard steps to form.Field; use FormGroup as canonical example
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/schema.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/identity.tsx
Due: none

refactor(ui): align onboarding + login with MUI theme tokens
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/onboarding/EngineTopNav.tsx
  genai-engine/ui/src/components/onboarding/LandingHero.tsx
  genai-engine/ui/src/components/onboarding/OnboardingPage.tsx
  genai-engine/ui/src/components/onboarding/TryItOutForm.tsx
  genai-engine/ui/src/components/onboarding/onboardingOptions.ts
Due: none

feat(ui): add wizard onboarding identity step component
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/identity.tsx
Due: none

refactor(ui): split TryItOutForm into linear/ + variant switcher
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/schema.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/schema.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/styles.ts
Due: none

feat(ui): add wizard onboarding schemas and value-flattener
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/schema.ts
Due: none

feat(ui): add EngineConfigGate to block render while engine config loads
  genai-engine/ui/src/components/common/engine-config-gate/index.tsx
Due: none

feat(ui): instrument onboarding funnel with amplitude events
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/onboarding/landing-hero/index.tsx
  genai-engine/ui/src/components/onboarding/onboarding-options.ts
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/schema.ts
  genai-engine/ui/src/services/amplitude.ts
Due: none

fix(ui): split filter TextInput validators to satisfy TanStack Form types
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
Due: none

feat(ui): add AppLoadingScreen component
  genai-engine/ui/src/components/common/app-loading-screen/index.tsx
Due: none

fix(ui): stop engine-config from refetching on window focus
  genai-engine/ui/src/hooks/useEngineConfig.ts
Due: none

feat(ui): route unauthenticated users to /login when demo mode is off
  genai-engine/ui/src/components/ProtectedRoute.tsx
Due: none

feat(ui): block app render until engine config resolves
  genai-engine/ui/src/App.tsx
Due: none

feat(ui): update onboarding login card copy to reflect API key auth
  genai-engine/ui/src/components/onboarding/landing-hero/index.tsx
Due: none

feat(ui): add wizard step labels, headings, and name constants
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/options.ts
Due: none

feat(ui): add Linear-style hover, 3D tilt, and cursor spotlight to onboarding cards
  genai-engine/ui/src/components/onboarding/LandingHero.tsx
  genai-engine/ui/src/components/onboarding/usePointerTracking.ts
Due: none
