Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Update changelog
  genai-engine/staging.openapi.json
Due: none

Automate Version Bump (#413)
  .github/workflows/version-workflow.yml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix the CI workflow badge
  README.md
Due: none

chore: start publishing ml-engine latest again
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/version-workflow.yml
Due: none

Fix the eval source links to the correct genai-engine source location
  README.md
Due: none

pre-stage changes from new endpoints branch
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/tests/clients/base_test_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

wip
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

chore: use a pr for version bump
  .github/workflows/version-workflow.yml
Due: none

chore: automatically create pr, set to automerge, and approve it
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.75
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: set gh token
  .github/workflows/version-workflow.yml
Due: none

chore: no pr
  .github/workflows/version-workflow.yml
Due: none

chore: start publishing ml-engine latest again (#415)
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/version-workflow.yml
Due: none

chore: dev deployment updates
  .github/workflows/version-workflow.yml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.76
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-2959, UP-2939: Warn/error for out-of-date or deleted aggregations in metrics calculation jobs
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.77
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-2959, UP-2939: Warn/error for out-of-date or deleted aggregations … (#417)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: ml-engine-pytest-check

bump arthur-common
  genai-engine/pyproject.toml
  ml-engine/pyproject.toml
Due: none

re-poetry-locks
  genai-engine/poetry.lock
  ml-engine/poetry.lock
Due: none

fix import
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/unit/test_pii.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

resolve poetry lock
  ml-engine/poetry.lock
Due: none

generate changelog
  genai-engine/README.md
  genai-engine/changelog.py
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

redo lockfile
  ml-engine/poetry.lock
Due: none

feat: enhance SnowflakeConnector to support key pair authentication
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

[no-ref] fix batch ingestion when root spans are present
  genai-engine/src/db_models/db_models.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] fix batch ingestion when root spans are present (#424)
  genai-engine/src/db_models/db_models.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
