Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.330
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3671 fix bucket based connectors filtering on parquet time types
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
Due: ml-engine-pytest-check

fix date parsing for fetch data
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/job_executors/test_fetch_data_executor.py
Due: ml-engine-pytest-check

UP-3671 fix bucket based connectors filtering on parquet time types (#1172)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/job_executors/test_fetch_data_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.331
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Favicon update (#1167)
  genai-engine/ui/index.html
  genai-engine/ui/public/arthur-logo.svg
Due: none

Increment arthur-engine version to 2.1.332
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add backend support for vllm model provider
  genai-engine/alembic/versions/2026_01_29_1511-c2ef79d7a62d_add_support_for_vllm_model_provider.py
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

catch litellm completion errors in llm client
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add frontend support for vllm model provider
  genai-engine/ui/public/logos/model_providers/vllm-logo.svg
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vllm.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Discovery service
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/agent_discovery_service.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

add tests
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/no_header.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/no_quotes_needed.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/semicolon_backslash.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/standard_comma.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/tab_separated.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/test_quotes.csv
Due: ml-engine-pytest-check

lint
  ml-engine/CLAUDE.md
  ml-engine/README.md
  ml-engine/scripts/lint.sh
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
Due: ml-engine-pytest-check

refactor
  ml-engine/scripts/lint.sh
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
Due: ml-engine-pytest-check

fix lint
  ml-engine/scripts/lint.sh
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
Due: ml-engine-pytest-check

remove dead code
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
Due: ml-engine-pytest-check

upgrade arthur common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

fix bug with integer column names for header-less csvs
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/tests/unit/connectors/test_gcs_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
Due: ml-engine-pytest-check

UP-3501 adding CSV loading support to bucket based connectors (#1175)
  ml-engine/CLAUDE.md
  ml-engine/README.md
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/scripts/lint.sh
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/tests/unit/connectors/test_gcs_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/no_header.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/no_quotes_needed.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/semicolon_backslash.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/standard_comma.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/tab_separated.csv
  ml-engine/tests/unit/mock_data/csv_test_bucket/data/test_quotes.csv
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.333
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Enable vLLM as a model provider (#1173)
  genai-engine/alembic/versions/2026_01_29_1511-c2ef79d7a62d_add_support_for_vllm_model_provider.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/public/logos/model_providers/vllm-logo.svg
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vllm.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.334
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Move Agent Discovery to Genai-engine
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

allow env variables for currency config
  genai-engine/src/clients/currency/README.md
  genai-engine/src/clients/currency/__init__.py
  genai-engine/src/clients/currency/static_provider.py
  genai-engine/src/config/currency_config.py
  genai-engine/src/services/currency/README.md
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/tests/unit/clients/test_currency_static_provider.py
  genai-engine/tests/unit/services/test_currency_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

lint
  genai-engine/src/config/currency_config.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Poetry lock
  ml-engine/poetry.lock
Due: none

fix test
  genai-engine/src/services/currency/currency_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

test change
  genai-engine/tests/unit/services/test_currency_conversion_service.py
Due: none

Increment arthur-engine version to 2.1.335
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add agent discovery route
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/staging.openapi.json
  ml-engine/src/ml_engine/agent_discovery_service.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check
