Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

fix lint
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
Due: ml-engine-pytest-check

fix mypy errs
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
Due: ml-engine-pytest-check

add alert rule logging
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
Due: ml-engine-pytest-check

address MR comments
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
Due: ml-engine-pytest-check

bump arthur client version in ml engine
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

add comment for why time bucket origin is correct
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
Due: ml-engine-pytest-check

add safeguard for if we expand to higher intervals
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
Due: ml-engine-pytest-check

fix failing unit tests
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
Due: none

add alert rule logging (#1670)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.628
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: emit guardrail trace spans from stateful validate
  genai-engine/src/routers/chat_routes.py
  genai-engine/src/routers/v2/validate_routes.py
  genai-engine/src/schemas/guardrail_span_schemas.py
  genai-engine/src/services/trace/guardrail_span_emitter.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/validation/prompt.py
  genai-engine/src/validation/response.py
  genai-engine/tests/unit/services/test_internal_trace_service.py
  genai-engine/tests/unit/validation/test_prompt.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor: properly time guardrail spans, tie telemetry to business write
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/routers/chat_routes.py
  genai-engine/src/schemas/guardrail_span_schemas.py
  genai-engine/src/services/trace/guardrail_span_emitter.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/validation/prompt.py
  genai-engine/src/validation/response.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/services/test_internal_trace_service.py
  genai-engine/tests/unit/validation/test_prompt.py
  genai-engine/tests/unit/validation/test_response.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

bump tailwind vite to 4.3
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Add email_domain user property to Amplitude onboarding identify
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
Due: none

move parallelism into executor
  genai-engine/technical_documentation/gcs_image_support_tdd.md
Due: none

Track email domain in Amplitude user properties (#1773)
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
Due: none

Increment arthur-engine version to 2.1.629
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

create gcs image support tdd (#1772)
  genai-engine/technical_documentation/gcs_image_support_tdd.md
Due: none

Increment arthur-engine version to 2.1.630
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add support for engine audit logs in k8s
  deployment/helm/genai-engine/templates/arthur-genai-engine-audit-logs-pvc.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/docs/audit-logging.md
Due: none

Upgrade arthur-common and litellm
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Bump gcsfs and s3fs to 2025.12.0 to match fsspec
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

add db migration and config
  genai-engine/alembic/versions/2026_06_04_1000-5e84b8d7aa1f_add_token_limit_to_organizations.py
  genai-engine/src/config/config.py
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/utils/constants.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

BE updated
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/llm_evaluator.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/tests/unit/clients/llm/test_llm_client.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update FE
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/agent-experiments/new/hooks/useCreateNewExperiment.tsx
  genai-engine/ui/src/components/common/OutOfCreditsDialog.tsx
  genai-engine/ui/src/components/live-evals/hooks/useRerunContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useRunPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/streamCompletions.ts
  genai-engine/ui/src/contexts/OutOfCreditsContext.tsx
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/hooks/usePromptExperiments.ts
  genai-engine/ui/src/hooks/useRagExperiments.ts
  genai-engine/ui/src/lib/api-errors.ts
Due: none

Upgrade arthur-common and litellm (#1774)
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.631
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Bump pytest to 9.0.1 for pytest-httpx 0.36.2 compatibility
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Fix LiteLLM vulnerability for the sdk
  arthur-observability-sdk/python/uv.lock
Due: none

Upgrade urllib3
  deployment/model-upload/uv.lock
Due: none

Remove orphaned regex + tiktoken
  deployment/model-upload/uv.lock
Due: none

Upgrade black
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Upgrade snowflake stack to fix pyopenssl CVE
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Bump pyarrow to 23.0.1 in locust requirements
  genai-engine/locust/requirements.txt
Due: none

Fix Dependabot security alerts (litellm, urllib3, black, pyopenssl, pyarrow) (#1776)
  arthur-observability-sdk/python/uv.lock
  deployment/model-upload/uv.lock
  genai-engine/locust/requirements.txt
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.632
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix Dependabot alert #649: bump python-multipart to 0.0.32
  arthur-observability-sdk/python/uv.lock
Due: none

Fix Dependabot alert #472: bump black to 26.3.1
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

Reformat with black 26.3.1 and bump pre-commit black to match
  .pre-commit-config.yaml
  genai-engine/src/scorer/metrics/relevance/prompt_templates.py
  genai-engine/src/scorer/metrics/tool_selection/prompt_templates.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix Dependabot alerts #649 (python-multipart) and #472 (black) (#1777)
  .pre-commit-config.yaml
  arthur-observability-sdk/python/uv.lock
  genai-engine/pyproject.toml
  genai-engine/src/scorer/metrics/relevance/prompt_templates.py
  genai-engine/src/scorer/metrics/tool_selection/prompt_templates.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check
