Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Add option to skip downloading all models, and fix duplicate download logs
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Bump common
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Bump common (#1165)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.325
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: dded model_upload to gcp
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
Due: none

Add option to skip downloading all models, and fix duplicate download logs (#1161)
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.326
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

favicon logo update
  genai-engine/ui/index.html
  genai-engine/ui/public/arthur-logo.svg
Due: none

fix: remove uuid as default generator value
  genai-engine/ui/src/components/agent-experiments/new/components/body-mapper.tsx
Due: none

feat: redirect to drawer on success
  genai-engine/ui/src/components/agent-notebook/[notebookId]/components/history/index.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/hooks/useShowState.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/index.tsx
  genai-engine/ui/src/components/agent-notebook/hooks/useExecuteAgenticNotebook.tsx
Due: none

feat: add failure snackbar
  genai-engine/ui/src/components/agent-experiments/new/hooks/useCreateNewExperiment.tsx
  genai-engine/ui/src/components/agent-experiments/new/index.tsx
Due: none

Updates to top header of all tasks view
  genai-engine/ui/public/Arthur_Logo_PBW.svg
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Increment arthur-engine version to 2.1.327
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Added initial currency conversion service
  genai-engine/src/clients/currency/__init__.py
  genai-engine/src/clients/currency/abc_currency_rate_provider.py
  genai-engine/src/clients/currency/frankfurter_provider.py
  genai-engine/src/config/currency_config.py
  genai-engine/src/dependencies.py
  genai-engine/src/server.py
  genai-engine/src/services/currency/__init__.py
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/src/version
  genai-engine/tests/unit/clients/currency/__init__.py
  genai-engine/tests/unit/clients/currency/test_frankfurter_provider.py
  genai-engine/tests/unit/services/currency/__init__.py
  genai-engine/tests/unit/services/currency/test_currency_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Added readme files
  genai-engine/scripts/test_currency_conversion_standalone.py
  genai-engine/src/clients/currency/README.md
  genai-engine/src/services/currency/README.md
Due: none

fix lint
  genai-engine/src/dependencies.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add else statement for generating variable value
  genai-engine/src/services/agentic_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

removed random version file
  genai-engine/src/version
Due: none

Make Session ID configurable by user for agent exp (#1138)
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_notebook_routes.py
  genai-engine/ui/src/components/agent-experiments/new/components/body-mapper.tsx
  genai-engine/ui/src/components/agent-experiments/new/hooks/useCreateNewExperiment.tsx
  genai-engine/ui/src/components/agent-experiments/new/index.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/components/history/index.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/hooks/useShowState.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/index.tsx
  genai-engine/ui/src/components/agent-notebook/hooks/useExecuteAgenticNotebook.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.328
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

update to use build variable map
  genai-engine/src/services/agentic_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix agent experiment not setting variables properly
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

call new unit test in sync
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: none

Updates to top header of all tasks view (#1170)
  genai-engine/ui/public/Arthur_Logo_PBW.svg
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Increment arthur-engine version to 2.1.329
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

restructure test directories
  genai-engine/tests/unit/clients/currency/__init__.py
  genai-engine/tests/unit/services/__init__.py
  genai-engine/tests/unit/services/currency/__init__.py
  genai-engine/tests/unit/services/test_currency_conversion_service.py
Due: none

fix agent experiment not setting variables properly (#1166)
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
