Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

update secret type
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

catch and return streaming errs
  genai-engine/src/schemas/agentic_prompt_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3202: add column names to dataset versions
  genai-engine/alembic/versions/2025_10_17_1349-7c330aebf8e7_add_dataset_columns.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix cfts
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

UP-3202: add column names to dataset versions (#614)
  genai-engine/alembic/versions/2025_10_17_1349-7c330aebf8e7_add_dataset_columns.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix docker compose
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

removing echos/instructions from set up scripts about secrets
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

update docker compose comments
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

add unit tests to test additionalProps and streaming reports errs
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

add variable to docker entrypoint check
  genai-engine/src/docker-entrypoint.sh
Due: none

add streaming functionality to agentic prompts (#599)
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/utils/users.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

run changelog generation and simplify DB storage
  genai-engine/alembic/versions/2025_10_17_2042-897c39909e73_add_secret_storage.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix migration
  genai-engine/alembic/versions/2025_10_17_2042-897c39909e73_add_secret_storage.py
Due: none

UP-3100 add model provider apis and storage
  genai-engine/scripts/start_local_server.sh
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/repositories/secrets_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/routers/v1/secrets_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

secret rotation working
  genai-engine/scripts/start_local_server.sh
  genai-engine/src/routers/v1/model_provider_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

catch errors from decrypting tokens and log error
  genai-engine/src/db_models/custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix some tests
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/tests/unit/db_models/test_custom_types.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix more tests
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

add tests for new APIs
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/__init__.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update description
  genai-engine/src/routers/v1/secrets_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3099: Add secret storage table
  genai-engine/alembic/versions/2025_10_06_1525-d5305fe6b6e4_add_secret_storage.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/tests/unit/db_models/__init__.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3099: Add variable to deployment scripts
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-secrets-manager.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_07_1542-ad13a540c9e3_add_secret_storage.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix pre-commits
  .pre-commit-config.yaml
Due: none

Rebase alembic scripts
  genai-engine/alembic/versions/2025_10_07_1542-ad13a540c9e3_add_secret_storage.py
  genai-engine/alembic/versions/2025_10_10_0953-5f4ff84f6a62_add_secret_storage.py
Due: none

Add multifernet support
  .pre-commit-config.yaml
  genai-engine/README.md
  genai-engine/src/db_models/custom_types.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix github workflows
  .github/workflows/arthur-engine-workflow.yml
Due: none

Add provider enum
  genai-engine/src/db_models/secret_storage_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix db revision history
  genai-engine/alembic/versions/2025_10_17_0953-5f4ff84f6a62_add_secret_storage.py
Due: none

Fix Fernet key pass
  genai-engine/src/db_models/custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update deployment scripts
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/secrets.yaml
  deployment/helm/genai-engine/values.yaml.template
Due: none

Autogenerate key if not provided
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Don't use openssl to generate the key
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
