Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

instrument arthur chatbot
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/chatbot/chatbot_tracing_service.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix the formatting of secrets (#474)
  deployment/cloudformation/core/arthur-core-secrets-manager.yml
  deployment/cloudformation/ml-engine/arthur-ml-engine-secrets-manager.yml
Due: none

Increment arthur-engine version to 2.1.473
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

GPU worker count tuning for avoiding OOM (#559)
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/values.yaml.template
Due: none

Increment arthur-engine version to 2.1.474
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Claud Code observability instrumentation with Claud Code Hooks (#1365)
  .gitignore
  integrations/claude-code/README.md
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/install.sh
  integrations/claude-code/requirements.txt
  integrations/claude-code/test_tracer.py
  integrations/claude-code/uninstall.sh
  integrations/claude-code/workflow-claude-code-review.yml
  integrations/claude-code/workflow-claude-code.yml
Due: none

Increment arthur-engine version to 2.1.475
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix LLM prompt token count to include cached tokens
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Fix LLM prompt token count to include cached tokens (#1491)
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Increment arthur-engine version to 2.1.476
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(tracer): skip shadow transcripts created by gh pr create in worktrees
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

fix(tracer): cache transcript path in session state to prevent mid-session redirect
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

feat(tracer): propagate trace context into subagents spawned by Agent tool
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

fix(tracer): group multi-entry API responses by message.id to fix token counting
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

fix(tracer): skip shadow transcripts containing only pr-link entries
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

fix(tracer): stop LLM span extraction at next user turn boundary
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Increment arthur-engine version to 2.1.477
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(tracer): detect context continuation and fix final output capture
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

add blacklist and allow user to specify chatbot model
  genai-engine/.env
  genai-engine/src/api_changelog.md
  genai-engine/src/config/extra_features.py
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/chatbot/ChatbotDrawer.tsx
  genai-engine/ui/src/contexts/DisplaySettingsContext.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/stores/user-settings.store.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: add transform_versions data model and migration (ae-pqg)
  genai-engine/alembic/versions/2026_03_23_1200-a1b2c3d4e5f6_create_transform_versions_table.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/transform_models.py
  genai-engine/tests/unit/db_models/test_transform_version_model.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: display tags on prompts in Platform Management Page (ae-9wn)
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
Due: none

feat: add transform version history endpoints + OpenAPI regen (ae-gn5)
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/transforms/test_transform_versions.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: add tag filter controls to Platform Management Page (ae-gmp)
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/table/TagFilterControls.tsx
Due: none

fix failing unit tests
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
Due: none

fix lint
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
Due: none

feat: add transform version restore action + confirmation dialog (ae-bwk)
  genai-engine/ui/src/components/transforms/RestoreTransformVersionDialog.tsx
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistoryPanel.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/transforms/hooks/useRestoreTransformVersionMutation.ts
  genai-engine/ui/src/components/transforms/hooks/useTransformVersions.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat: transform versioning frontend snapshot viewer (ae-kv9)
  genai-engine/ui/src/components/transforms/TransformVersionSnapshotModal.tsx
  genai-engine/ui/src/components/transforms/hooks/useTransformVersion.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: add Edit History panel to transform detail view (ae-6ov)
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistory.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix: resolve CI failures on UP-3635-transform-versioning
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/ui/src/components/transforms/TransformEditHistory.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistoryPanel.tsx
  genai-engine/ui/src/components/transforms/hooks/useTransformVersion.ts
  genai-engine/ui/src/components/transforms/hooks/useTransformVersions.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: address CI lint failures and PR review comments on UP-3635
  genai-engine/src/db_models/__init__.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/ui/src/components/transforms/RestoreTransformVersionDialog.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistory.tsx
  genai-engine/ui/src/components/transforms/TransformVersionSnapshotModal.tsx
  genai-engine/ui/src/components/transforms/hooks/useRestoreTransformVersionMutation.ts
  genai-engine/ui/src/components/transforms/hooks/useTransformVersion.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: add API changelog entry for config_snapshot type refinement
  genai-engine/src/api_changelog.md
Due: none

Fix config_snapshot assertions, duplicate Edit History, and error component
  genai-engine/tests/unit/routes/transforms/test_transform_versions.py
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistoryPanel.tsx
Due: none

Update staging OpenAPI snapshot and auto-generated changelog entries
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

UP-3505 BE1: add evaluator_type + rule_type to DatabaseContinuousEval
  genai-engine/alembic/versions/2026_03_24_1200-a1b2c3d4e5f6_add_evaluator_type_and_rule_type_to_continuous_evals.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Auto-select prompt version when only one version exists in experiment creation
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/info-step/index.tsx
Due: none

fix(tracer): detect context continuation in handle_stop for tool-free turns
  integrations/claude-code/claude_code_tracer.py
Due: none

feat(ui): add hide-deleted toggle to eval and prompt version drawers
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
Due: none

chore: add .gstack/ to .gitignore
  .gitignore
Due: none

UP-3505 BE3: Add RuleCEEvaluator with adapters for PII, PROMPT_INJECTION, TOXICITY
  genai-engine/src/scorer/ce_rule_evaluator.py
  genai-engine/tests/unit/scorer/test_ce_rule_evaluator.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
