Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Handle all renovate logins
  .github/workflows/claude-code-review.yml
Due: none

Handle all renovate logins (#1346)
  .github/workflows/claude-code-review.yml
Due: none

Increment arthur-engine version to 2.1.417
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Lint and add accurate Job status
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Bump client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Poetry lock
  ml-engine/poetry.lock
Due: none

Update discovery job (#1342)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.418
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix execute-all and response object
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  ml-engine/openapitools.json
  ml-engine/run_script.sh
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Make execute-all fully synchronous, update discover-agents job
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Raise 504 at timeout
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Lower ml-engine timeout to 2 minutes
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Remove sleep
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix submit_job bug
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Add positive-only check to timeout
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update route
  genai-engine/src/routers/v1/agent_polling_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update tests
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
Due: none

Add test with wait for completion
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
Due: none

Fix execute-all and response object (#1350)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.419
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Handle archived tasks for GCP
  genai-engine/src/repositories/tasks_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix mypy errors and strong-type _emit_trace messages
  genai-engine/src/server.py
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Address PR #1328 review feedback
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/system_tasks_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Bundle system task for monitoring Synthetic Dataset Generation
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/system_tasks_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Centralize unsupported param filtering in LLMClient
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix prompt template formatting
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Use db_session_context() in _emit_trace instead of manual next()
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add is_archived to task_response and logs for received traces
  genai-engine/src/repositories/metrics_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Regenerate openapi spec and UI client after rebase onto dev
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Update ingestion service to use TaskRepo for tskid check
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix unit tests w/ unsupported params
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add only_archived, add archive/unarchive UI
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Bummp common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

change out symbols
  genai-engine/src/version
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/components/TraceDetailsPanel.tsx
  genai-engine/ui/src/components/agent-experiments/[experimentId]/components/test-cases/TestCaseDetails.tsx
  genai-engine/ui/src/components/agent-experiments/[experimentId]/data/columns.tsx
  genai-engine/ui/src/components/agent-experiments/components/experiments/index.tsx
  genai-engine/ui/src/components/agent-experiments/data/experiments-columns.tsx
  genai-engine/ui/src/components/agent-notebook/[notebookId]/components/history/index.tsx
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/columns.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptResultDetailModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/ExperimentConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useDeserializedNotebookState.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useExperimentConfig.ts
  genai-engine/ui/src/components/prompts-playground/hooks/useNotebookAutoSave.ts
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentTestCasesTable.tsx
  genai-engine/ui/src/components/rag-experiments/RagTestCaseDetailModal.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentHistorySidebar.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigEditModal.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigFullScreenView.tsx
  genai-engine/ui/src/components/task-overview/constants.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix: make traces table sort arrows functional (#1333)
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/hooks/useTable.tsx
  genai-engine/ui/src/services/tracing.ts
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
