Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.170
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

scaffold prompt management page
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
Due: none

wip
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
Due: none

wrap up
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorsHeader.tsx
Due: none

update api client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix protected word
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

vibing
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/evaluators/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/HorizontalResizableSplitter.tsx
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvalVersions.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvals.ts
Due: none

wip
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

fix drawer border
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
Due: none

replace local function with import
  genai-engine/ui/src/components/evaluators/EvalVersionDrawer.tsx
Due: none

extract interfii
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/HorizontalResizableSplitter.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvalVersions.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvals.ts
  genai-engine/ui/src/components/evaluators/table/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

add header
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorsHeader.tsx
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

wip
  genai-engine/ui/src/components/evaluators/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/HorizontalResizableSplitter.tsx
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvalVersions.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvals.ts
Due: none

dynamic providers and models
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
Due: none

fix API breakage
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Fix the messages display in spans and traces
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/schemas/llm.ts
Due: none

remove min max scores from evals
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix lingering sessions
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix migration order
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
Due: none

Fix prompt playground
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
Due: none

Update api-client.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

forgot file
  genai-engine/ui/src/hooks/usePromptExperiments.ts
Due: none

Bug/mastra tool calls (#789)
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/schemas/llm.ts
Due: none

Increment arthur-engine version to 2.1.171
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

clean up code
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update prompt_experiment_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update db schema
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

db model refactor
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add dropdown for eval creation
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
Due: none

add validation for duplicate mapping
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

make empty fields nullable until tests run
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3321 Evals initial setup (#780)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorsHeader.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/hooks/useCreateEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvalVersions.ts
  genai-engine/ui/src/components/evaluators/hooks/useEvals.ts
  genai-engine/ui/src/components/evaluators/table/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/types.ts
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Increment arthur-engine version to 2.1.172
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add prompts management page and auto-close db sessions
  genai-engine/src/dependencies.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/prompts-management/PromptFormModal.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagementHeader.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/hooks/useCreatePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePrompt.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePromptVersions.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePrompts.ts
  genai-engine/ui/src/components/prompts-management/table/PromptRowExpansion.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/prompts-management/types.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check
