Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat(mssql): add support for additional driver versions (#508)
  ml-engine/src/ml_engine/connectors/odbc_connector.py
Due: ml-engine-pytest-check

Update docker-compose.yml
  genai-engine/docker-compose.yml
Due: none

Increment arthur-engine version to 2.1.88
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

bump memory on vm
  Vagrantfile
  genai-engine/docker-compose.yml
Due: none

Move model download to worker process
  genai-engine/src/gunicorn.conf.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix Docker Compose Postgres data dir
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

Fix Docker Compose Postgres data dir (#519)
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

Move model download to worker process (#510)
  genai-engine/src/gunicorn.conf.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.89
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

NO-REF: Pin ML engine platform because of MSSQL Driver 17 dependency non-arm support
  ml-engine/Dockerfile
Due: none

NO-REF: Pin ML engine platform because of MSSQL Driver 17 dependency … (#520)
  ml-engine/Dockerfile
Due: none

Bugfixes
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

Remove logs
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.90
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Log cleanups, fn renaming
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
Due: ml-engine-pytest-check

Update ml-engine/tests/unit/tools/test_agentic_filters.py
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: none

Add ignored filter warnings
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
Due: ml-engine-pytest-check

Update tests
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: none

Update tests
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: none

Fix agentic filter tests
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: none

Bump poetry and regenerate lockfiles
  genai-engine/poetry.lock
  ml-engine/poetry.lock
Due: none

Remove redundant test
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: none

Bump commons
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

Up -3014–ml-engine-filters (#484)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/metric_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/metrics/tool_selection/tool_selection.py
  genai-engine/src/services/span_query_service.py
  genai-engine/tests/unit/scorer/test_tool_selection.py
  ml-engine/poetry.lock
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

added basic MUI libraries
  genai-engine/ui/package-lock.json
  genai-engine/ui/package.json
Due: none

basic message functionality
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/types.ts
Due: none

chore: set up typecheck, disable unnecessary eslint rule
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package-lock.json
  genai-engine/ui/package.json
Due: none

chore: remove unnecessary deps
  genai-engine/ui/package-lock.json
  genai-engine/ui/package.json
Due: none

UP-3099: Refactor db_models
  genai-engine/alembic/env.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/auth_models.py
  genai-engine/src/db_models/base.py
  genai-engine/src/db_models/configuration_models.py
  genai-engine/src/db_models/db_models.py
  genai-engine/src/db_models/document_models.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/db_models/rule_models.py
  genai-engine/src/db_models/rule_result_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/repositories/configuration_repository.py
  genai-engine/src/repositories/documents_repository.py
  genai-engine/src/repositories/embedding_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/metrics_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/tasks_metrics_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/tasks_rules_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/rules_schema_utils.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/services/tree_building_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/unit/repositories/test_auth_repository.py
  genai-engine/tests/unit/routes/feedback/test_create_feedback.py
  genai-engine/tests/unit/routes/feedback/test_query_feedback.py
  genai-engine/tests/unit/routes/inferences/conftest.py
  genai-engine/tests/unit/routes/inferences/test_query_inferences.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: use yarn as package manager
  genai-engine/ui/.gitignore
  genai-engine/ui/README.md
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package-lock.json
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

UP-3099: Refactor db_models (#531)
  genai-engine/alembic/env.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/auth_models.py
  genai-engine/src/db_models/base.py
  genai-engine/src/db_models/configuration_models.py
  genai-engine/src/db_models/db_models.py
  genai-engine/src/db_models/document_models.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/db_models/rule_models.py
  genai-engine/src/db_models/rule_result_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/repositories/configuration_repository.py
  genai-engine/src/repositories/documents_repository.py
  genai-engine/src/repositories/embedding_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/metrics_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/tasks_metrics_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/tasks_rules_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/rules_schema_utils.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/services/tree_building_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/unit/repositories/test_auth_repository.py
  genai-engine/tests/unit/routes/feedback/test_create_feedback.py
  genai-engine/tests/unit/routes/feedback/test_query_feedback.py
  genai-engine/tests/unit/routes/inferences/conftest.py
  genai-engine/tests/unit/routes/inferences/test_query_inferences.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
