Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

chore: add secrets inherit
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: remove secrets inherit
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: deployment
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: test deployment
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: add test job
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: only run test deployment
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: add deployment setup steps
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: add cft deployment command
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: use s3 template file
  .github/workflows/arthur-engine-workflow.yml
Due: none

Reorganize span repository into services
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/__init__.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/services/tree_building_service.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: s3 url
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: use update-stack
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: debug
  .github/workflows/arthur-engine-workflow.yml
Due: none

Remove redundant tracer
  genai-engine/src/repositories/span_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: parameters
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: comments
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: quote subnet list
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: double quote and escape commas
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: add empty parameters
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: test create-stack
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: change stack name
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: update poetry.lock and improve ODBC and Snowflake connectors
  ml-engine/poetry.lock
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

chore: update dependencies in poetry.lock and pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

fixed metrics calc test
  ml-engine/pyproject.toml
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/scripts/staging.openapi.json
  ml-engine/scripts/staging.openapi.min.json
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

change imports
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/job_executors/schema_inference_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/calculator_utils.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_gcs_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/job_executors/test_schema_inference_executor.py
Due: ml-engine-pytest-check

ran linters in tests
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_gcs_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/job_executors/test_schema_inference_executor.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: none

ran linters in src
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/schema_inference_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

wip
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/metric_calculator.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
Due: ml-engine-pytest-check

passing unit tests
  ml-engine/scripts/staging.openapi.json
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.67
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.68
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Bake the latest AWS RDS global cert bundle (#400)
  genai-engine/dockerfile
Due: none

revert to regular package usage
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/schema_inference_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/calculator_utils.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
Due: ml-engine-pytest-check

change imports from genai to common
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

[no ref] fix openapi generator cli in CICD
  .github/workflows/arthur-engine-workflow.yml
  ml-engine/scripts/openapitools.json
Due: none

Introduce span query endpoint
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/span/test_query_spans.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update OpenAPI and changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
