Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

added types to save API responses
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
Due: none

consolidate FE and BE data strucutures. Use generated types
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

Saving and loading with new API signatures
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

UP 3134 dynamic prompt names and providers (#592)
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptContext.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add tests, update changelog
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update genai-engine/technical_documentation/targeted_api_endpoints_tdd.md
  genai-engine/technical_documentation/targeted_api_endpoints_tdd.md
Due: none

Tech Docs v1 (#594)
  genai-engine/technical_documentation/span_query_endpoint_scope_doc.md
  genai-engine/technical_documentation/targeted_api_endpoints_tdd.md
  genai-engine/technical_documentation/trace-query-filters-tdd.md
Due: none

Add search dataset versions endpoint
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

changed creation and duplication of prompt ids
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

added a ref to API call
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

reworked msg and tool IDs. Optimized updateKeywords
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

optimization in modelparams
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
Due: none

Feature/up 3167 traces api (#595)
  genai-engine/poetry.lock
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/utils.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_metadata_management.py
  genai-engine/tests/routes/legacy_span/test_query_filtering.py
  genai-engine/tests/routes/legacy_span/test_query_spans.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/legacy_span/test_span_ingestion.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add span filtering
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/filter_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/test_query_filtering.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Autogenerate key if not provided
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Add missing var in start_local_server
  genai-engine/scripts/start_local_server.sh
Due: none

add dataset_id to response
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix pagination bump
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/schemas/common_schemas.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add Filtering TDD
  genai-engine/technical_documentation/comprehensive-filters-tdd.md
  genai-engine/technical_documentation/trace-query-filters-tdd.md
Due: none

Fix Pagination Arthur-Common Release (#608)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/schemas/common_schemas.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add search dataset versions endpoint (#601)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3152: create dataset versions (#588)
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_13_1334-18b0dde1883b_create_dataset_versions.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3150: Create datasets (#561)
  genai-engine/Dockerfile_changelog
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_13_1203-5e13ff24289d_create_datasets.py
  genai-engine/alembic/versions/2025_10_13_1334-18b0dde1883b_create_dataset_versions.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/routers/v2/routers.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/__init__.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add streaming functionality to agentic prompts
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/utils/users.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

yield full chunks and remove run functions from prompts repo
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add span filtering (#603)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/filter_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/technical_documentation/comprehensive-filters-tdd.md
  genai-engine/technical_documentation/trace-query-filters-tdd.md
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/test_query_filtering.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

have schemas directly reflect what's expected by liteLLM
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Ran 'yarn lint --fix' (#586)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/AuthGuard.tsx
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskErrorState.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/TaskLoadingState.tsx
  genai-engine/ui/src/components/TaskNotFoundState.tsx
  genai-engine/ui/src/components/TraceDetailsPanel.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
  genai-engine/ui/src/components/weaviate/WeaviateRetrievalsPlayground.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/contexts/TaskContext.tsx
  genai-engine/ui/src/contexts/TaskContextDefinition.ts
  genai-engine/ui/src/hooks/useApi.ts
  genai-engine/ui/src/hooks/useTask.ts
  genai-engine/ui/src/lib/api.ts
  genai-engine/ui/src/main.tsx
  genai-engine/ui/vite.config.ts
Due: none

Don't use openssl to generate the key
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

fix invalid schema exceptions for null values
  genai-engine/src/schemas/agentic_prompt_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix db revision history
  genai-engine/alembic/versions/2025_10_17_0953-5f4ff84f6a62_add_secret_storage.py
Due: none

fix schema strict mode errs and unused vars
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
