Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Add overload for methods
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix/Set meticulous session recording to staging only (#821)
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/dockerfile
  genai-engine/ui/vite.config.ts
Due: none

Increment arthur-engine version to 2.1.195
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

removed unused label
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
Due: none

correctly extract jinja values into variables
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/prompts-playground/utils/mustacheExtractor.ts
Due: none

raise an error for malformed response formats on prompt save
  genai-engine/src/schemas/llm_schemas.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[no-ref] allow exporting + importing dataset transforms to JSON files
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformFormModal.tsx
Due: none

allow creating transform from copy of another
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformFormModal.tsx
Due: none

allow creating columns from transform
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

fix lint errors
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
Due: none

raise an error for malformed response formats on prompt save (#825)
  genai-engine/src/schemas/llm_schemas.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.196
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

selection improvements
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
Due: none

Transform improvements (#827)
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformFormModal.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

Increment arthur-engine version to 2.1.197
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add route to grab variables from prompt messages
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix soft delete prompt route errors
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

add route to grab variables from prompt messages (#829)
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.198
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

update API client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

added helper function
  genai-engine/ui/src/components/prompts-playground/utils/messageUtils.ts
Due: none

remove deprecated extractor util
  genai-engine/ui/src/components/prompts-playground/utils/index.ts
  genai-engine/ui/src/components/prompts-playground/utils/mustacheExtractor.ts
Due: none

support using prompt tags in the prompt_version URL args, and update mastra example to pull from engine
  genai-engine/examples/agents/analytics-agent/README.md
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

templating working
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: none

use BE for variable extraction
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PreviewPromptModal.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/messageUtils.ts
Due: none

fix tests
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

fix tests
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: none

generate api client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

new helper for reducer
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/utils/cleanUpAndRecalculateKeywords.ts
  genai-engine/ui/src/components/prompts-playground/utils/index.ts
Due: none

added optimization
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
  genai-engine/ui/src/components/prompts-playground/utils/messageUtils.ts
Due: none

fix tests
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: none

[no-ref] support using prompt tags in prompt_version URL params (#830)
  genai-engine/examples/agents/analytics-agent/README.md
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
