Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Add missing var in start_local_server
  genai-engine/scripts/start_local_server.sh
Due: none

removing echos/instructions from set up scripts about secrets
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Remove salt parameter
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/secrets.yaml
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/src/db_models/custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

run changelog generation and simplify DB storage
  genai-engine/alembic/versions/2025_10_17_2042-897c39909e73_add_secret_storage.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix migration
  genai-engine/alembic/versions/2025_10_17_2042-897c39909e73_add_secret_storage.py
Due: none

update changelog
  genai-engine/staging.openapi.json
Due: none

fetching and using created_at date in FE/BE
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update changelog / openapi
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Update staging.openapi.json
  genai-engine/staging.openapi.json
Due: none

add model provider APIs to openapi spec
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

add named volume for postgres so it persists across `down` commands
  genai-engine/docker-compose.yml
Due: none

resovle new tool definitions
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add task creation form + modal
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/CreateTaskForm.tsx
Due: none

fix opacity
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

updated to creation editor
  genai-engine/ui/src/components/prompts/Tools.tsx
Due: none

UP-3099: Add secret storage table (#543)
  .github/workflows/arthur-engine-workflow.yml
  .pre-commit-config.yaml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-secrets-manager.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/secrets.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_17_2042-897c39909e73_add_secret_storage.py
  genai-engine/docker-compose.yml
  genai-engine/scripts/start_local_server.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/docker-entrypoint.sh
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/db_models/__init__.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

changelog updates
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

[no-ref] add yarn lock for example agent
  genai-engine/examples/agents/analytics-agent/.gitignore
  genai-engine/examples/agents/analytics-agent/yarn.lock
Due: none

moved created_at to base config
  genai-engine/src/schemas/agentic_prompt_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

regenerate openapi
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Dataset Enhancements
  genai-engine/alembic/versions/2025_10_20_1302-7fb45748e807_add_dataset_row_created_at_and_latest_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[no-ref] add yarn lock for example agent (#625)
  genai-engine/examples/agents/analytics-agent/.gitignore
  genai-engine/examples/agents/analytics-agent/yarn.lock
Due: none

convert credential request to use SecretStr type
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/schemas/request_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Up 3146 prompt versioning fe (#627)
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update api_key field to be sensitive in api spec
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

UP-3100 add model provider APIs and storage (#615)
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/repositories/secrets_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/routers/v1/secrets_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/db_models/test_custom_types.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/__init__.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

model provider screen
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ModelProviders.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

editing provider
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

UX to add API keys and delete providers
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

only show task creation button if other tasks exist since empty state shows the same form
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

update ProviderEnum -> ModelProvider
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

revert text coloring changes
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

react syntax highlighter basic
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/yarn.lock
Due: none

using react-syntax-highlighter with custom colors
  genai-engine/ui/src/components/prompts/HighlightedInputComponent.tsx
  genai-engine/ui/src/index.css
Due: none

remove comment
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
Due: none

Add User ID
  genai-engine/alembic/versions/2025_10_20_1811-919dbe74f42f_add_user_id_to_spans.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/__init__.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check
