Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.245
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Updated nav bar with new icons from MUI
  genai-engine/ui/src/components/SidebarNavigation.tsx
Due: none

UP-3361 extract variables using backend (#831)
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PreviewPromptModal.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/cleanUpAndRecalculateKeywords.ts
  genai-engine/ui/src/components/prompts-playground/utils/index.ts
  genai-engine/ui/src/components/prompts-playground/utils/messageUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/mustacheExtractor.ts
Due: none

Increment arthur-engine version to 2.1.246
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3493: Allow to download models from custom endpoint (#923)
  .gitignore
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/ml-engine/arthur-ml-engine-ecs-task-definition.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/ml-engine/docker-compose.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/templates/deployment.yaml
  genai-engine/dockerfile
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.247
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3494: Create a docker image that contains all model and upload to given S3 bucket
  deployment/ecs/model-upload/.gitignore
  deployment/ecs/model-upload/Dockerfile
  deployment/ecs/model-upload/download_models.py
  deployment/ecs/model-upload/poetry.lock
  deployment/ecs/model-upload/pyproject.toml
  deployment/ecs/model-upload/upload_models.py
Due: none

Use distroless docker
  deployment/ecs/model-upload/Dockerfile
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/poetry.lock
  deployment/ecs/model-upload/pyproject.toml
  deployment/ecs/model-upload/task-definition.json
Due: none

Add changes to CFT
  deployment/cloudformation/core/arthur-core-ecs.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-iam.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-model-upload.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Add github workflow
  .github/workflows/arthur-engine-workflow.yml
Due: none

Modify pipeline
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/version-workflow.yml
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/check_model_updates.py
Due: none

UP-3345: Fixup for fork() warning
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fixup for failure in changelog check
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/changelog.py
Due: none

Do not install oasdiff
  .github/workflows/arthur-engine-workflow.yml
Due: none

setup empty variables
  .github/workflows/arthur-engine-workflow.yml
Due: none

Fixup
  .github/workflows/arthur-engine-workflow.yml
Due: none

Check by checking if files are the same
  .github/workflows/arthur-engine-workflow.yml
Due: none

add the ability to filter on eval result and annotation type for traces
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Updated nav bar with new icons from MUI (#941)
  genai-engine/ui/src/components/SidebarNavigation.tsx
Due: none

Increment arthur-engine version to 2.1.248
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3314: RAG experiments V0
  genai-engine/alembic/versions/2025_12_10_1120-522b83a56135_create_rag_experiments.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/base_experiment_models.py
  genai-engine/src/db_models/notebook_models.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/db_models/rag_experiment_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/src/schemas/base_experiment_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/notebook_schemas.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/schemas/rag_experiment_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/rag_experiment_executor.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add the ability to filter traces on continuous eval name
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update arthur-common version for new trace filtering options
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

add the ability to run continuous evals (#921)
  genai-engine/alembic/versions/2025_12_04_1151-44cd9fd55df9_add_continuous_evals_to_agentic_annotations.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/__init__.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.249
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

checkpoint
  genai-engine/src/dependencies.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/scripts/run_linter.sh
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

update job to fetch and upload eval state
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

isort
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

Create .gitignore
  ml-engine/.gitignore
Due: none

Update task_management_job_executors.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

fix tests
  genai-engine/src/routers/v1/continuous_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
