Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

draggable messages
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/MessagesSection.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/SortableMessage.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/yarn.lock
Due: none

remove comment
  genai-engine/ui/src/components/prompts/MessagesSection.tsx
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

UP-3100 add endpoint for listing models for provider
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix test
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

resolve yarn lock
  genai-engine/ui/yarn.lock
Due: none

fix tests
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

Up 3138 mustache highlighting (#630)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/index.css
  genai-engine/ui/yarn.lock
Due: none

filter for text based models only
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Up 3166 draggable messages (#632)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/MessagesSection.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/SortableMessage.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/yarn.lock
Due: none

add thread to refresh model cost every 8 hours
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3100 add endpoint for listing models for provider (#636)
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update Mastra agent for sessions and users
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/app/layout.tsx
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
  genai-engine/examples/agents/analytics-agent/src/mastra/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

Move session and user to headers
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/app/layout.tsx
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

Add component
  genai-engine/examples/agents/analytics-agent/src/components/CopilotKitWithHeaders.tsx
Due: none

load configured prompts on page load
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Remove logging
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

disable input when no providers
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

update reducer state instead of local
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Fix passing parameter in CFT
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

review suggestions
  genai-engine/alembic/versions/2025_10_20_1302-7fb45748e807_add_dataset_row_created_at_and_latest_.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: add release process documentation
  deployment/README_RELEASE.md
Due: none

fetching available models into state
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

update model select in prompt
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

fix test
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: none

Change dropdown to autocomplete
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

remove console log
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

fix typing issue
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

more type fix
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

Subclass the mastra agent
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/context-aware-agent.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
Due: none

Fix passing parameter in CFT (#638)
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Add User ID
  genai-engine/alembic/versions/2025_10_20_1811-919dbe74f42f_add_user_id_to_spans.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/__init__.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Move session and user endpoints under /trace
  genai-engine/alembic/versions/2025_10_21_1918-ecc45f321532_add_user_id_to_spans.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Make user_id a filter on resources
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix query bug
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Dataset Enhancements (#626)
  genai-engine/alembic/versions/2025_10_20_1302-7fb45748e807_add_dataset_row_created_at_and_latest_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
