Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

fix changelog
  genai-engine/src/api_changelog.md
Due: none

fix input null values
  genai-engine/ui/src/components/prompts-playground/prompts/ModelParamsDialog.tsx
Due: none

review suggestions
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add unit test for getting and deleting prompts by different versions
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

fix test description
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: none

Update migration, handle total_count corner case
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add unit test for getting and deleting prompts by different versions (#735)
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

Increment arthur-engine version to 2.1.139
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3198: Config version crud (#734)
  genai-engine/README.md
  genai-engine/alembic/versions/2025_11_05_1404-83d01e7ad41c_soft_delete_setting_versions.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/base.py
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.140
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add token count and cost (#700)
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.141
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix migration down-revision
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

implement streaming
  genai-engine/ui/src/components/prompts-playground/hooks/useRunPrompt.ts
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/utils/streamCompletions.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Fix migration down-revision (#736)
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

Increment arthur-engine version to 2.1.142
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

convert ScoreRange to a top level min_score and max_score
  genai-engine/alembic/versions/2025_11_05_1107-f2de6a8c83f3_add_llm_evals_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add test soft delete version types
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: none

fix alembic errors
  genai-engine/alembic/versions/2025_11_05_1755-d31e27429dca_add_llm_evals_table.py
Due: none

remove incorrect references to prompt in llm evals
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix agentic prompts unit test failures
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

create llm evals table, router and save and delete endpoints
  genai-engine/alembic/versions/2025_11_04_1111-428b3b96deea_add_llm_evals_table.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

default stream
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

fix alembic heads issue
  genai-engine/alembic/versions/2025_11_05_1755-d31e27429dca_add_llm_evals_table.py
Due: none

create llm evals table, router and save and delete endpoints (#728)
  genai-engine/alembic/versions/2025_11_05_1755-d31e27429dca_add_llm_evals_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.143
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add add to dataset feature
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none

feat: resolve MR requests
  genai-engine/ui/src/components/common/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none

feat: add error handling
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/usePreviewTableData.tsx
Due: none

[UP-3247] feat: add add to dataset feature (#724)
  genai-engine/ui/src/components/common/Drawer.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/usePreviewTableData.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none
