Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat(ui): render wizard onboarding variant by default
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
Due: none

refactor(ui): adopt TanStack Form withForm HOCs for wizard steps
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/hooks/form-context.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/hooks/form.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/schema.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/identity.tsx
Due: none

feat(ui): add wizard onboarding discovery step component
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
Due: none

feat(ui): hide 'Back to start' on login when demo mode is off
  genai-engine/ui/src/components/LoginPage.tsx
Due: none

refactor(ui): split onboarding into kebab-case folder components
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/onboarding/LandingHero.tsx
  genai-engine/ui/src/components/onboarding/background-aurora/index.tsx
  genai-engine/ui/src/components/onboarding/background-aurora/types.ts
  genai-engine/ui/src/components/onboarding/background-grid/index.tsx
  genai-engine/ui/src/components/onboarding/engine-top-nav/index.tsx
  genai-engine/ui/src/components/onboarding/landing-hero/index.tsx
  genai-engine/ui/src/components/onboarding/landing-hero/types.ts
  genai-engine/ui/src/components/onboarding/onboarding-options.ts
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/onboarding/pick-card/index.tsx
  genai-engine/ui/src/components/onboarding/pick-card/types.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/schema.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/types.ts
  genai-engine/ui/src/components/onboarding/use-pointer-tracking.ts
Due: none

feat(ui): tag linear onboarding form events with variant=linear
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
Due: none

feat(ui): add onboarding wizard step event names
  genai-engine/ui/src/services/amplitude.ts
Due: none

feat(ui): add aurora + grid background to onboarding hero
  genai-engine/ui/src/components/onboarding/LandingHero.tsx
Due: none

feat: add shared layout
  genai-engine/ui/src/components/onboarding/landing-hero/index.tsx
  genai-engine/ui/src/components/onboarding/onboarding-layout/index.tsx
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/hooks/useExperimentVariant.tsx
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/services/amplitude-experiment.ts
Due: none

fix(ui): use Zod v4 idioms in onboarding schema
  genai-engine/ui/src/components/onboarding/try-it-out-form/schema.ts
Due: none

feat(ui): add wizard onboarding root component
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
Due: none

feat(ui): gate /welcome route on demoMode flag
  genai-engine/ui/src/App.tsx
Due: none

refactor(ui): use generated API client for engine-config
  genai-engine/ui/src/hooks/useEngineConfig.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Increment arthur-engine version to 2.1.573
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(tracer): fix parallel Agent spans collision and add end-to-end parent-child tests
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Subagent spans hierarchy fixed
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Add more tests and remove duplicates
  integrations/claude-code/test_tracer.py
Due: none

feat(multitenancy): schema migration for organizations and org_id (#1654)
  genai-engine/alembic/versions/2026_05_19_1510-3abf881da275_denormalize_org_id_to_task_scoped_tables.py
  genai-engine/alembic/versions/2026_05_19_1510-514464b8ca3d_create_organizations_table.py
  genai-engine/alembic/versions/2026_05_19_1510-5de5704b5892_add_org_id_to_api_keys.py
  genai-engine/alembic/versions/2026_05_19_1510-697657f9af66_add_org_id_to_tasks.py
  genai-engine/alembic/versions/2026_05_19_1510-d894934c8994_backfill_orphan_inferences_to_unmapped_.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/auth_models.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/db_models/rule_result_models.py
  genai-engine/src/db_models/task_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(multitenancy): scope API keys to organizations (UP-4423) (#1658)
  genai-engine/src/auth/multi_validator.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/unit/auth/test_multi_validator.py
  genai-engine/tests/unit/repositories/test_auth_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): add TENANT-USER role + permission frozensets (UP-4428) (#1661)
  genai-engine/src/routers/api_key_routes.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/utils/test_api_key_admin_role_allowlist.py
  genai-engine/tests/unit/utils/test_trace_route_permissions.py
  genai-engine/tests/unit/utils/test_users.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): GET /users/me identity introspection (UP-4426) (#1663)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/routers/user_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/utils/test_users_me.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): public tenant signup endpoint (UP-4430) (#1665)
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/docs/MULTI_TENANCY_DESIGN.md
  genai-engine/src/api_changelog.md
  genai-engine/src/config/extra_features.py
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Claude Code Observability - Fix sub agent spans hierarchy + more tests (#1671)
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/install.sh
  integrations/claude-code/test_tracer.py
Due: none

fix lint and changelog
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/demo_task_resources.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

use existing demo mode ff
  genai-engine/.env
  genai-engine/src/config/config.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add demo ff and create demo task
  genai-engine/.env
  genai-engine/src/config/config.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/demo_task_resources.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

create demo chatbot and update resources
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/utils/demo_task_fixtures/3f75c316afd74c05a2bc3e0bbcc75ed2.binpb
  genai-engine/src/utils/demo_task_fixtures/407666d37d6d49c8a3cd5be4cfdbbb87.binpb
  genai-engine/src/utils/demo_task_fixtures/46a1b6bc39324ecfbb6d2fdf80c5e27f.binpb
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/src/utils/demo_task_resources.py
  genai-engine/src/utils/wikipedia_tools.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_demo_task_routes.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

address ccr comments
  genai-engine/src/repositories/demo_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove unnecessary api changelog modification
  genai-engine/src/api_changelog.md
Due: none

fix demo prompt and eval formatting
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix changelog errs
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update demo gpt model
  genai-engine/src/repositories/demo_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

convert chatbot to store history on FE
  .pre-commit-config.yaml
  genai-engine/.env
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/helpers.py
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
  genai-engine/tests/unit/routes/tasks/test_demo_task_routes.py
  genai-engine/tests/unit/services/test_base_chatbot_service.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add demo env var to cft templates
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
Due: none

create demo chatbot and have history stored on FE
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
  genai-engine/ui/src/components/chatbot/ChatPanel.tsx
  genai-engine/ui/src/components/chatbot/ChatbotDrawer.tsx
  genai-engine/ui/src/components/chatbot/ChatbotPage.tsx
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/stores/chatbot.store.ts
Due: none

update tenant signup with demo items
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update chatbots to include session id
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/stores/chatbot.store.ts
Due: none
