Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

UP-5117: pin arthur-client 1.4.2795, which carries scan_id on the fetch spec
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

CODEOWNERS: gate guardrail scorers/checks and rules engine
  .github/CODEOWNERS
Due: none

Increment arthur-engine version to 2.1.985
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Add CODEOWNERS human-review gate for sensitive paths (#2421)
  .github/CODEOWNERS
Due: none

Increment arthur-engine version to 2.1.986
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-5114: share the base_url address check with Splunk
  ml-engine/src/ml_engine/discovery/address.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/tests/unit/discovery/test_address.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-5114: share the address check with Elastic too
  ml-engine/src/ml_engine/discovery/address.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/connector.py
  ml-engine/tests/unit/discovery/test_address.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.987
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-5117: relock arthur-client 1.4.2795 after merging dev
  ml-engine/uv.lock
Due: none

UP-5111: a Test Connection with no answer fails, and a config error reads as one (#2417)
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.988
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-5088 Stamp chain ids only for the chain a job heads (#2407)
  ml-engine/src/ml_engine/job_executors/_chain_utils.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_chain_utils.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.989
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-5114: one base_url address check for Jamf, Splunk and Elastic (#2429)
  ml-engine/src/ml_engine/discovery/address.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/connector.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/tests/unit/discovery/test_address.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.990
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Gate seven more paths in CODEOWNERS and add the maintain-codeowners skill
  .claude/skills/maintain-codeowners/SKILL.md
  .github/CODEOWNERS
  CLAUDE.md
Due: none

fix: populate annotation eval type
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Don't classify transport-caused RefreshError as an auth failure
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
  ml-engine/tests/unit/discovery/test_gcp_vertex_connector.py
Due: ml-engine-pytest-check

UP-5117: tag the fetch a discovery scan chains with the scan's ID (#2425)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.991
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Classify Vertex AI 401/403 discovery failures as authentication/permission errors (#2428)
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
  ml-engine/tests/unit/discovery/test_gcp_vertex_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.992
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4625 Populate annotation eval type (#2431)
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.993
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Add Splunk HEC and webhook sink targets for standalone discovery
  ml-engine/src/ml_engine/standalone/config_values.py
  ml-engine/src/ml_engine/standalone/discovery_config.py
  ml-engine/src/ml_engine/standalone/sinks/__init__.py
  ml-engine/src/ml_engine/standalone/sinks/common.py
  ml-engine/src/ml_engine/standalone/sinks/http.py
  ml-engine/src/ml_engine/standalone/sinks/record_sink.py
  ml-engine/src/ml_engine/standalone/sinks/siem/__init__.py
  ml-engine/src/ml_engine/standalone/sinks/siem/splunk_hec.py
  ml-engine/src/ml_engine/standalone/sinks/webhook.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_http.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_record_sink.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_splunk_hec.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_webhook.py
  ml-engine/tests/unit/standalone/test_discovery_config.py
Due: ml-engine-pytest-check

Add standalone discovery config file and build connector registry in executors
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/connector.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/src/ml_engine/standalone/__init__.py
  ml-engine/src/ml_engine/standalone/config_values.py
  ml-engine/src/ml_engine/standalone/discovery_config.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
  ml-engine/tests/unit/discovery/test_gcp_vertex_connector.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/standalone/test_discovery_config.py
Due: ml-engine-pytest-check

Document standalone discovery and add a Docker Compose example
  deployment/docker-compose/ml-engine-standalone-discovery/.env.template
  deployment/docker-compose/ml-engine-standalone-discovery/.gitignore
  deployment/docker-compose/ml-engine-standalone-discovery/README.md
  deployment/docker-compose/ml-engine-standalone-discovery/discovery.example.yaml
  deployment/docker-compose/ml-engine-standalone-discovery/docker-compose.yaml
  ml-engine/CLAUDE.md
  ml-engine/README.md
  ml-engine/docs/standalone-discovery.md
  ml-engine/tests/unit/standalone/test_discovery_config.py
Due: none

Address review feedback on standalone discovery
  deployment/docker-compose/ml-engine-standalone-discovery/.env.template
  ml-engine/docs/standalone-discovery.md
  ml-engine/src/ml_engine/standalone/config_values.py
  ml-engine/src/ml_engine/standalone/discovery_config.py
  ml-engine/src/ml_engine/standalone/sinks/http.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_http.py
  ml-engine/tests/unit/standalone/test_discovery_config.py
Due: ml-engine-pytest-check

Run standalone discovery on an interval from the job agent entrypoint
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/standalone/agent.py
  ml-engine/src/ml_engine/standalone/discovery_config.py
  ml-engine/src/ml_engine/standalone/scan.py
  ml-engine/tests/unit/standalone/test_agent.py
  ml-engine/tests/unit/standalone/test_entrypoint.py
  ml-engine/tests/unit/standalone/test_scan.py
Due: ml-engine-pytest-check

UP-5124 A&G discovery demo: GCE runs_on and staged connectors
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/discovery/staged/__init__.py
  ml-engine/src/ml_engine/discovery/staged/connector.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/discovery/test_staged_connector.py
Due: ml-engine-pytest-check

Time out standalone scans so one hung source cannot hold every slot
  ml-engine/docs/standalone-discovery.md
  ml-engine/src/ml_engine/standalone/agent.py
  ml-engine/src/ml_engine/standalone/discovery_config.py
  ml-engine/src/ml_engine/standalone/scan.py
  ml-engine/tests/unit/standalone/test_agent.py
  ml-engine/tests/unit/standalone/test_discovery_config.py
Due: ml-engine-pytest-check

Trust a standalone destination the way a SIEM source is trusted
  deployment/docker-compose/ml-engine-standalone-discovery/discovery.example.yaml
  ml-engine/docs/standalone-discovery.md
  ml-engine/src/ml_engine/standalone/config_values.py
  ml-engine/src/ml_engine/standalone/sinks/http.py
  ml-engine/tests/unit/standalone/sinks/test_sinks_http.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.994
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Trace Claude Code subagent LLM calls and stop double-counting tokens
  .github/workflows/renovate-autofix.yml
  integrations/claude-code-observability/README.md
  integrations/claude-code-observability/claude_code_tracer.py
  integrations/claude-code-observability/install.sh
  integrations/claude-code-observability/test_tracer.py
  integrations/claude-code-observability/uninstall.sh
  integrations/claude-code-observability/workflow-claude-code-review.yml
  integrations/claude-code-observability/workflow-claude-code.yml
Due: none

Install tracer dependencies in Claude Code Observability CI
  .github/workflows/claude-code-observability-workflow.yml
Due: none

Install tracer requirements in the README test setup
  integrations/claude-code-observability/README.md
Due: none

Trace forked subagents, isMeta entries, and subagents that outlive their turn
  integrations/claude-code-observability/claude_code_tracer.py
  integrations/claude-code-observability/test_tracer.py
Due: none

Key pending Skill entries by span so parallel calls don't collide
  integrations/claude-code-observability/claude_code_tracer.py
  integrations/claude-code-observability/test_tracer.py
Due: none

Add Vercel discovery connector (cloud, vercel_ai)
  ml-engine/docs/standalone-discovery.md
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/vercel_ai/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/vercel_ai/client.py
  ml-engine/src/ml_engine/discovery/cloud/vercel_ai/connector.py
  ml-engine/tests/unit/discovery/test_vercel_ai_connector.py
Due: ml-engine-pytest-check
