Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

CEs error when missing variables but skip when missing spans
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add microsoft/mdeberta-v3-base for the list of models download for PII model v2
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Local model test harness
  deployment/k8s/model-upload-oc/.gitignore
  genai-engine/docker-compose.yml
Due: none

Local model test harness
  genai-engine/docker-compose.yml
Due: none

start of implementing transform versioning
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/transform_models.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

CEs error when missing variables but skip when missing spans (#1132)
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.317
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add vertex and bedrock model providers
  genai-engine/alembic/versions/2026_01_16_1312-f18f1870b3d7_add_vertex_ai_credentials_to_secrets.py
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_prompt_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update arthur common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

update alembic down revision
  genai-engine/alembic/versions/2026_01_16_1312-f18f1870b3d7_add_vertex_ai_credentials_to_secrets.py
Due: none

change file upload to raw json for gcp credentials
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_prompt_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix failing unit tests
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

Add missing files
  deployment/ecs/model-upload/download_models.py
  deployment/k8s/model-upload-oc/download_models.py
Due: none

Add missing files
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

lint fixes
  genai-engine/ui/src/components/agent-experiments/new/components/EvaluatorsSelectorUI.tsx
  genai-engine/ui/src/components/agent-experiments/new/components/README.md
  genai-engine/ui/src/components/agent-experiments/new/components/evaluator-selector.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelectorUI.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/Temp-migration-doc.md
  genai-engine/ui/src/components/traces/components/README.md
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TracesViewLayout.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/data/create-span-level-columns.tsx
Due: none

Add consistent headers to Prompt sections
  genai-engine/ui/src/components/notebooks/NotebooksHeader.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagementHeader.tsx
Due: none

Add consistent headers to RAG sections
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooksHeader.tsx
Due: none

Update RAG Configurations description
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
Due: none

linting
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add vertex and bedrock model providers (#1126)
  genai-engine/alembic/versions/2026_01_16_1312-f18f1870b3d7_add_vertex_ai_credentials_to_secrets.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.318
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix for onboarding trace display and filter
  genai-engine/ui/src/components/traces/components/DataContentGate.tsx
Due: none

Point model_name in the gliner_config.json file to the model path
  deployment/k8s/model-upload-oc/copy_models.py
Due: none

Model upload doc updates
  deployment/ecs/model-upload/README.md
  deployment/k8s/model-upload-oc/README.md
Due: none

Poetry project name update
  deployment/ecs/model-upload/pyproject.toml
  deployment/k8s/model-upload-oc/pyproject.toml
Due: none

Fix for onboarding trace display and filter (#1137)
  genai-engine/ui/src/components/traces/components/DataContentGate.tsx
Due: none

Increment arthur-engine version to 2.1.319
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update the Poetry lock files
  deployment/ecs/model-upload/poetry.lock
  deployment/k8s/model-upload-oc/poetry.lock
Due: none

Update naming convention
  deployment/k8s/model-upload-oc/02-serviceaccount.yaml
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/06-copy-config-job.yaml
  deployment/k8s/model-upload-oc/docker-compose.local.yml
Due: none

deleted working file
  genai-engine/ui/src/components/traces/Temp-migration-doc.md
Due: none

make agentic exp session id configurable by user
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix flaky rag and agent exp unit tests
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
  genai-engine/tests/unit/routes/tasks/test_rag_notebook_routes.py
Due: none

fix lint and changelog errors
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add CI jobs for genai-engine-models-k8s artifact
  .github/workflows/arthur-engine-workflow.yml
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
