Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

UP-4990 (D-18): Elastic Security connector (ES|QL)
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/siem/__init__.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/__init__.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/client.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/connector.py
  ml-engine/src/ml_engine/discovery/siem/records.py
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

UP-4988 (D-16): a success body that is not a JSON object is a SplunkError
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4990 (D-18): report a non-ES|QL 200 as the vendor's error; pin real responses
  ml-engine/src/ml_engine/discovery/siem/elastic_security/client.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

UP-4990 (D-18): carry the TLS settings through an HTTPS proxy
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

UP-4988 (D-16): carry SIEM TLS settings to connections made through a proxy
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4984 (D-12): classify TLS failures and in-scan contract refusals correctly
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4988 (D-16): load a CA certificate that lost its line breaks; don't chain CA errors
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4990 (D-18): load a CA certificate that lost its line breaks
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

UP-4986 (D-14): list Agent Engines with agentplatform.Client, not the deprecated vertexai.Client
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
Due: ml-engine-pytest-check

UP-5102: deliver each source scan's outcome to the Platform's run store (#2403)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/discovery/endpoint/scope.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_run_reporter.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_run_reporter.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.971
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4984 (D-12): TEST_DISCOVERY_SOURCE executor (#2393)
  ml-engine/src/ml_engine/arthur_client_support.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_agent/test_job_agent_dequeue.py
  ml-engine/tests/unit/job_agent/test_job_agent_failures.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_job_executor_client_gating.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.972
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4986 (D-14): Vertex AI Agent Engine discovery on the connector framework (#2395)
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/discovery/test_gcp_vertex_connector.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

fix(tests): compare sorted prompt-variable lists instead of None-vs-None (#2245)
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

Increment arthur-engine version to 2.1.973
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Increment arthur-engine version to 2.1.974
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

fix engine vulns
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/yarn.lock
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/yarn.lock
  genai-engine/examples/agents/image-analysis-agent/package.json
  genai-engine/examples/agents/image-analysis-agent/yarn.lock
  security/vex/openvex.json
Due: none

fix: stamp chain ids only for the chain a job heads
  ml-engine/src/ml_engine/job_executors/_chain_utils.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_chain_utils.py
Due: ml-engine-pytest-check

Rebuild model-upload images for libexpat1 deb12u4
  deployment/model-upload/Dockerfile
Due: none

fix engine vulns (#2406)
  deployment/model-upload/Dockerfile
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/yarn.lock
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/yarn.lock
  genai-engine/examples/agents/image-analysis-agent/package.json
  genai-engine/examples/agents/image-analysis-agent/yarn.lock
  security/vex/openvex.json
Due: none

Increment arthur-engine version to 2.1.975
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

feat(ui): add ScaleDown to Model Providers (demo only)
  genai-engine/ui/public/logos/model_providers/scaledown-logo.svg
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/hooks/useModelWhitelist.tsx
  genai-engine/ui/src/components/model-providers/hooks/useProviders.tsx
  genai-engine/ui/src/components/model-providers/hooks/useRemoveProvider.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveModelWhitelist.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveProvider.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/components/model-providers/scaledown-demo.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat(ui): list ScaleDown first and offer it in the LLM evaluator form
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/model-providers/hooks/useProviders.tsx
  genai-engine/ui/src/components/model-providers/scaledown-demo.ts
Due: none

UP-4984: bump arthur-client to 1.4.2770 so engines run Test Connection
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.976
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

Increment arthur-engine version to 2.1.977
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4988 (D-16): a Splunk query or config mistake reads as the source's to fix
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/retry.py
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4990 (D-18): classify configuration and query errors as the source's to fix
  ml-engine/src/ml_engine/discovery/siem/elastic_security/client.py
  ml-engine/src/ml_engine/discovery/siem/elastic_security/connector.py
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

UP-4988 (D-16): keep the HTTP status out of a refused query's message
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.978
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4988 (D-16): raise a refused query's error outside the except
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4990 (D-18): assert a refused ES|QL error carries no __context__ either
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: none

UP-5085: docstring cleanup in the Vertex connector
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/connector.py
Due: ml-engine-pytest-check

UP-4988: keep Jamf on its own backoff; retry.py starts with Splunk
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/retry.py
Due: ml-engine-pytest-check

UP-4988: move JamfClient onto the shared discovery backoff
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/retry.py
Due: ml-engine-pytest-check

UP-5111: a test with no answer fails, and a config error reads as one
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4990 (D-18): report a malformed ES|QL result as the vendor's error
  ml-engine/src/ml_engine/discovery/siem/elastic_security/client.py
  ml-engine/tests/unit/discovery/test_elastic_security_connector.py
Due: ml-engine-pytest-check

fix engine vulns
  deployment/model-upload/Dockerfile
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/yarn.lock
  security/vex/openvex.json
Due: none
