Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

fix tests
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: none

fix lock file
  genai-engine/poetry.lock
Due: none

Return full annotation data and add eval name and version to response (#954)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.252
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fixes for CE results table view
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

more updates
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
Due: none

Update index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
Due: none

render json messages
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
Due: none

CE + Annotations UX improvements (#955)
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Increment arthur-engine version to 2.1.253
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

remove dead code
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/staging.openapi.json
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.254
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Revert "remove dead code"
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/staging.openapi.json
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.255
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

load data from trace metadata API
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
Due: ml-engine-pytest-check

bump arthur common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

linter and tests
  genai-engine/src/routers/v1/trace_api_routes.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

add spans to genai traces response
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix shield connect test
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: ml-engine-pytest-check

Bump Arthur common for improvements w/ agentic trace metrics (#957)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/tools/test_agentic_filters.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.256
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

bump common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

bump common ml-engine
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

bump common to add new aggregation (#963)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.257
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3515: Delete rag experiments endpoint
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
