Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Release test fixes (#906)
  genai-engine/README.md
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/routers/api_key_routes.py
  genai-engine/tests/unit/test_api_keys.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.235
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: README update
  README.md
Due: none

chore: README update (#907)
  README.md
Due: none

Increment arthur-engine version to 2.1.236
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.237
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Accept traces w/o task ids + API for identifying these (#898)
  genai-engine/alembic/versions/2025_12_03_1444-make_trace_metadata_task_id_nullable.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/test_span_ingestion.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.238
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

readme update
  deployment/README_RELEASE.md
Due: none

Update readme with new release instructions (#912)
  deployment/README_RELEASE.md
Due: none

Increment arthur-engine version to 2.1.239
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix lint
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

update dockerfile to remove the arthur-client workaround
  ml-engine/Dockerfile
Due: none

lint
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

WIP
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

lint
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

add tests
  ml-engine/tests/unit/job_executors/test_unregistered_agents_job_executor.py
Due: none

working unregistered task jobs
  ml-engine/Dockerfile
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

use generated client for unregistered agents
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
  ml-engine/tests/unit/job_executors/test_unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

Get spans
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

PR feedback
  ml-engine/src/ml_engine/job_executor.py
Due: ml-engine-pytest-check

Fixup for test_get_llm_eval_by_version_route flakiness
  genai-engine/tests/unit/routes/tasks/conftest.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: none

UP-3493: Allow to download models from custom endpoint
  .gitignore
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Run the container with non-root user
  deployment/cloudformation/ml-engine/arthur-ml-engine-ecs-task-definition.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/ml-engine/docker-compose.yaml
  deployment/helm/ml-engine/templates/deployment.yaml
Due: none

Reset docker file changes
  ml-engine/Dockerfile
Due: none

Swap tokencost->litellm
  genai-engine/pyproject.toml
  genai-engine/src/utils/token_count.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update poetry lock
  genai-engine/poetry.lock
Due: none

identify by name instead of index
  genai-engine/ui/src/hooks/datasets/useDatasetLocalState.ts
Due: none

Switch to using generated api types
  ml-engine/src/arthur_client/arthur_client-1.4.1054-py3-none-any.whl
  ml-engine/src/arthur_client_package/arthur_client-1.4.1054-py3-none-any.whl
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

remove wheel for arthur-client used in testing
  ml-engine/src/arthur_client/arthur_client-1.4.1054-py3-none-any.whl
  ml-engine/src/arthur_client_package/arthur_client-1.4.1054-py3-none-any.whl
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
