Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

update dataset
  genai-engine/examples/agents/analytics-agent/example-data/qa-eval-dataset/analytics_questions.csv
  genai-engine/examples/agents/analytics-agent/example-data/qa-eval-dataset/generation-instructions.txt
Due: none

add app header
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
Due: none

fix graph axis labels
  genai-engine/examples/agents/analytics-agent/src/components/GraphCard.tsx
Due: none

added ability to modify per-prompt model settings
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Update telemetry ORM models, update migrations to enforce non-null timestamps
  genai-engine/alembic/versions/2025_10_08_1627-bd75be39ece1_fix_telemetry_schema.py
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix embeddings column
  genai-engine/alembic/versions/2025_10_08_1736-f561dd6acd1e_fix_telemetry_schema.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/document_models.py
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove unconditional embedding index
  genai-engine/src/db_models/document_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix init
  genai-engine/src/db_models/__init__.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Make index conditional
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/document_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

rename
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
Due: none

add LLM.input messages and llm.output messages to traces
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

fix serialization and remove second system prompt
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

fix input message attributes and add new thread button
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

feat: set up meticulous tests recording
  genai-engine/ui/.env.local.example
  genai-engine/ui/index.html
  genai-engine/ui/vite.config.ts
Due: none

Add model_name field to DatabaseInference model
  genai-engine/src/db_models/db_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

stubbed a better output field
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

UP-3136 Model Settings (#563)
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Update index
  genai-engine/alembic/versions/2025_10_08_1736-f561dd6acd1e_fix_telemetry_schema.py
  genai-engine/alembic/versions/2025_10_09_1230-5cce23642f3a_fix_telemetry_schema.py
Due: none

Always enforce string-type for embeddings
  genai-engine/alembic/versions/2025_10_09_1230-5cce23642f3a_fix_telemetry_schema.py
  genai-engine/alembic/versions/2025_10_09_1326-bf11fb90a818_fix_telemetry_schema.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/document_models.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix conversion and unit tests
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3097 Mastra example agent w/ tracing (#560)
  genai-engine/examples/agents/analytics-agent/.env.example
  genai-engine/examples/agents/analytics-agent/.gitignore
  genai-engine/examples/agents/analytics-agent/README.md
  genai-engine/examples/agents/analytics-agent/eslint.config.mjs
  genai-engine/examples/agents/analytics-agent/example-data/qa-eval-dataset/analytics_questions.csv
  genai-engine/examples/agents/analytics-agent/example-data/qa-eval-dataset/generation-instructions.txt
  genai-engine/examples/agents/analytics-agent/next.config.ts
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/postcss.config.mjs
  genai-engine/examples/agents/analytics-agent/public/file.svg
  genai-engine/examples/agents/analytics-agent/public/globe.svg
  genai-engine/examples/agents/analytics-agent/public/next.svg
  genai-engine/examples/agents/analytics-agent/public/vercel.svg
  genai-engine/examples/agents/analytics-agent/public/window.svg
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/app/favicon.ico
  genai-engine/examples/agents/analytics-agent/src/app/globals.css
  genai-engine/examples/agents/analytics-agent/src/app/layout.tsx
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
  genai-engine/examples/agents/analytics-agent/src/components/GraphCard.tsx
  genai-engine/examples/agents/analytics-agent/src/components/SqlCard.tsx
  genai-engine/examples/agents/analytics-agent/src/components/SqlResultsCard.tsx
  genai-engine/examples/agents/analytics-agent/src/components/WeatherCard.tsx
  genai-engine/examples/agents/analytics-agent/src/components/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/executeSql.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/generateGraph.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/weather.ts
  genai-engine/examples/agents/analytics-agent/tsconfig.json
Due: none

Update telemetry ORM models, update migrations to enforce non-null timestamps (#562)
  genai-engine/alembic/versions/2025_10_09_1326-bf11fb90a818_fix_telemetry_schema.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/document_models.py
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

response input field and reducer logic
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

basic input for response schema
  genai-engine/ui/src/components/prompts/OutputField.tsx
Due: none

add ability to specify tool definitions in prompts ui
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/yarn.lock
Due: none

fix nested button errors for delete tool button
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

Add status_code and session_id to spans
  genai-engine/alembic/versions/2025_10_09_1530-a1b2c3d4e5f6_add_session_id_and_status_code_to_spans.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_span_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Remove debug logging
  genai-engine/src/services/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove extraction logic
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3099: Add secret storage table
  genai-engine/alembic/versions/2025_10_06_1525-d5305fe6b6e4_add_secret_storage.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/tests/unit/db_models/__init__.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3099: Add variable to deployment scripts
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-secrets-manager.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_07_1542-ad13a540c9e3_add_secret_storage.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/custom_types.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix github workflows
  .github/workflows/arthur-engine-workflow.yml
Due: none

Add multifernet support
  .pre-commit-config.yaml
  genai-engine/README.md
  genai-engine/src/db_models/custom_types.py
  genai-engine/tests/unit/db_models/test_custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix pre-commits
  .pre-commit-config.yaml
Due: none

Rebase alembic scripts
  genai-engine/alembic/versions/2025_10_07_1542-ad13a540c9e3_add_secret_storage.py
  genai-engine/alembic/versions/2025_10_10_0953-5f4ff84f6a62_add_secret_storage.py
Due: none

feat: add a workflow for automatic meticulous tests
  .github/workflows/meticulous.yaml
Due: none

fix: prepare correct yarn version
  .github/workflows/meticulous.yaml
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
