Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Skip ODBC backend test due to driver download requirement
  ml-engine/tests/unit/connectors/test_databricks_connector.py
Due: none

model-upload: Docker Hub image, slim runtime for cffi/cryptography
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/cloud-run-job.yaml
Due: none

Update GCP model upload job configuration with placeholders for namespace, service account, image version, and bucket name
  deployment/gcp/model-upload/cloud-run-job.yaml
Due: none

model-upload: Docker Hub image, slim runtime for cffi/cryptography (#1196)
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/cloud-run-job.yaml
Due: none

Increment arthur-engine version to 2.1.344
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update genai-engine
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/staging.openapi.json
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Add GCP creation source to Genai engine
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

feat: add cicd for gcp model upload
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-gcp-model-upload.yml
Due: none

chore: add minimal workflow file
  .github/workflows/build-gcp-model-upload.yml
Due: none

Add gcp model upload workflow (#1198)
  .github/workflows/build-gcp-model-upload.yml
Due: none

Increment arthur-engine version to 2.1.345
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: update .gitignore and modify VSCode settings for genai-engine
  .gitignore
  deployment/model-upload/.gitignore
  deployment/model-upload/Dockerfile
  deployment/model-upload/README.md
  deployment/model-upload/build.sh
  deployment/model-upload/check_model_updates.py
  deployment/model-upload/download_models.py
  deployment/model-upload/models-manifest.json
  deployment/model-upload/pyproject.toml
  deployment/model-upload/upload_models.py
  genai-engine/.vscode/settings.json
Due: none

feat: add gcp suffix
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-gcp-model-upload.yml
Due: none

Remove deprecated model upload scripts and configuration files for ECS and GCP deployments, including .gitignore, Dockerfile, and Python scripts.
  deployment/ecs/model-upload/.gitignore
  deployment/ecs/model-upload/Dockerfile
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/check_model_updates.py
  deployment/ecs/model-upload/download_models.py
  deployment/ecs/model-upload/models-manifest.json
  deployment/ecs/model-upload/poetry.lock
  deployment/ecs/model-upload/pyproject.toml
  deployment/ecs/model-upload/task-definition.json
  deployment/ecs/model-upload/upload_models.py
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/Dockerfile
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/gliner_tokenizer_config.json
  deployment/k8s/model-upload-oc/poetry.lock
  deployment/k8s/model-upload-oc/pyproject.toml
  model-upload/.gitignore
  model-upload/Dockerfile
  model-upload/README.md
  model-upload/build.sh
  model-upload/check_model_updates.py
  model-upload/download_models.py
  model-upload/models-manifest.json
  model-upload/pyproject.toml
  model-upload/upload_models.py
Due: none

Removed ODBC connector for now
  ml-engine/scripts/install_db_dependencies.sh
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

Bump arthur-client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

reverted db_install changes
  ml-engine/scripts/install_db_dependencies.sh
Due: none

Discovery service (#1174)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/staging.openapi.json
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.346
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

create otel to oi converter
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

move imports to top of files
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add GCP->OI Conversion
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/trace/gcp_conversion_service.py
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add job executor
  ml-engine/src/ml_engine/job_executors/agent_discovery_job_executor.py
Due: ml-engine-pytest-check

remove main function from otel conv service
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix poetry lock file
  genai-engine/poetry.lock
Due: none

fix mypy errors
  genai-engine/src/services/trace/gcp_conversion_service.py
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix ml engine lint errors
  ml-engine/src/ml_engine/job_executors/agent_discovery_job_executor.py
Due: ml-engine-pytest-check

fix changelog errors
  genai-engine/staging.openapi.json
Due: none

remove unnecessary code
  genai-engine/src/routers/v1/trace_api_routes.py
  ml-engine/src/ml_engine/job_executors/agent_discovery_job_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

revert changelog changes
  genai-engine/staging.openapi.json
Due: none

regen lock files
  genai-engine/poetry.lock
  ml-engine/poetry.lock
Due: none

revert changes to vs code
  genai-engine/.vscode/settings.json
Due: none

update claude settings
  .claude/settings.local.json
Due: none

Poc/agent discovery (#1146)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/trace/gcp_conversion_service.py
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
