Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Fix MODEL_STORAGE_PATH management for K8s and GCP model upload containers (#1242)
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/docker-compose.local.yml
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/upload_models.py
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/Dockerfile
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  genai-engine/docker-compose.yml
Due: none

Increment arthur-engine version to 2.1.365
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[New] Task ID Overview Dashboard (#1224)
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/components/task-overview/ChartCard.tsx
  genai-engine/ui/src/components/task-overview/MetricCard.tsx
  genai-engine/ui/src/components/task-overview/constants.ts
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/utils/timeWindows.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.366
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Updated UIX and metric cards for the All Tasks view
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Refactor TaskCard to use TanStack Query for component-level data fetching
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

Fix Prettier formatting: break long className into multiple lines
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

Fix ESLint import order violations
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

Fix remaining ESLint violations and React Query warnings
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

fix: use standard MUI color tokens in TaskCard
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

feat: move hook to its own component
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/hooks/tasks/useTaskMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Fix tests
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/unit/repositories/test_service_name_mapping_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: format TaskCard.tsx with Prettier to pass CI lint check
  genai-engine/ui/src/components/TaskCard.tsx
Due: none

New UIX and metric KPIS for the All Tasks tile cards (#1204)
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/hooks/tasks/useTaskMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Increment arthur-engine version to 2.1.367
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add is_autocreated flag
  genai-engine/alembic/versions/2026_02_10_1210-8c9e6106ab7d_add_is_autocreated_to_tasks.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add system task flag, mark __unmapped__ as system task
  genai-engine/alembic/versions/2026_02_09_1744-843e2d3f46d5_service_name_map_and_default_task_.py
  genai-engine/alembic/versions/2026_02_10_1210-8c9e6106ab7d_add_is_autocreated_to_tasks.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Prevent deleting/archiving system tasks
  genai-engine/src/repositories/tasks_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Up 3672 currency converter be (#1171)
  genai-engine/src/clients/currency/README.md
  genai-engine/src/clients/currency/__init__.py
  genai-engine/src/clients/currency/abc_currency_rate_provider.py
  genai-engine/src/clients/currency/frankfurter_provider.py
  genai-engine/src/clients/currency/static_provider.py
  genai-engine/src/config/currency_config.py
  genai-engine/src/server.py
  genai-engine/src/services/currency/README.md
  genai-engine/src/services/currency/__init__.py
  genai-engine/src/services/currency/currency_conversion_service.py
  genai-engine/tests/unit/clients/currency/test_frankfurter_provider.py
  genai-engine/tests/unit/clients/test_currency_static_provider.py
  genai-engine/tests/unit/services/__init__.py
  genai-engine/tests/unit/services/test_currency_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.368
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update README
  deployment/gcp/model-upload/README.md
Due: none

Don't confuse GCS_PREFIX and MODEL_DIR envars
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/gcp/model-upload/docker-compose.local.yml
  deployment/gcp/model-upload/upload_models.py
Due: none

Don't confuse GCS_PREFIX and MODEL_DIR envars (#1244)
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/gcp/model-upload/docker-compose.local.yml
  deployment/gcp/model-upload/upload_models.py
Due: none

Increment arthur-engine version to 2.1.369
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Bump common
  genai-engine/alembic/versions/2026_02_09_1142-c6df714edd16_create_resource_metadata_table.py
  genai-engine/alembic/versions/2026_02_09_1744-843e2d3f46d5_service_name_map_and_default_task_.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Fix transform routes
  genai-engine/src/routers/v1/transform_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added buttons for new modal
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
Due: none

Use fixed Task ID fir unmapped
  genai-engine/alembic/versions/2026_02_09_1744-843e2d3f46d5_service_name_map_and_default_task_.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Avoid file manipulation on the container to run with nonroot
  deployment/gcp/model-upload/upload_models.py
Due: none
