Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Skip mypy step for now
  .pre-commit-config.yaml
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/gcs_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/s3_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/connector_test_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/job_executors/list_datasets_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_jobs_executor.py
  ml-engine/src/ml_engine/job_executors/schema_inference_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/job_runner.py
  ml-engine/src/ml_engine/metric_calculators/custom_metric_sql_calculator.py
  ml-engine/src/ml_engine/metric_calculators/default_metric_calculator.py
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
Due: ml-engine-pytest-check

Report fail status, but continue to work on linters
  .github/workflows/composite-actions/setup-poetry/action.yml
Due: none

Fixing missing import
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fixup staging.openapi.json
  genai-engine/staging.openapi.json
Due: none

Fix storing artifacts
  .github/workflows/arthur-engine-workflow.yml
Due: none

Fix linter errors
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/routers/v1/model_provider_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fail job when one of the steps ends up with failure
  .github/workflows/arthur-engine-workflow.yml
Due: none

UP-3235: Use postgres version 18. Update volume mounts
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

UP-3199: Fixup mypy issue for ml-engine
  .pre-commit-config.yaml
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/metric_calculators/custom_metric_sql_calculator.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
Due: ml-engine-pytest-check

Fix tests
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

Enable mypy in github workflow for ml-engine
  .github/workflows/arthur-engine-workflow.yml
Due: none

Fixup for mypy
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

feat: improve dataset ui ux for large datasets
  genai-engine/ui/src/components/datasets/CellContentModal.tsx
  genai-engine/ui/src/components/datasets/ConfigureColumnsModal.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableCell.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/components/datasets/DatasetsEmptyState.tsx
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/constants/snackbar.ts
Due: none

feat: add new tracing ui
  genai-engine/ui/.vite/deps/_metadata.json
  genai-engine/ui/.vite/deps/package.json
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/common/Highlight.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/index.css
  genai-engine/ui/src/main.tsx
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add output message formatting and refresh metrics button
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/TextMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/constants.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/components/ui/LoadingButton/index.tsx
  genai-engine/ui/src/components/ui/Tabs/index.tsx
  genai-engine/ui/src/index.css
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/src/utils/index.ts
  genai-engine/ui/src/utils/llm.ts
  genai-engine/ui/yarn.lock
Due: none

fix: add new endpoints
  genai-engine/ui/src/services/tracing.ts
Due: none

feat: update endpoints & add span and session level views
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/session-level-columns.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add user level view
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/data/user-level-columns.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/query-options/users.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

chore: remove old files & update api client
  genai-engine/ui/src/components/traces/components/SpanDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawer.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/types.ts
Due: none

fix: rules types
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
Due: none

feat: ui fixes
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

chore: remove .vite directory
  genai-engine/ui/.gitignore
  genai-engine/ui/.vite/deps/_metadata.json
  genai-engine/ui/.vite/deps/package.json
Due: none

fix: session level filter row context
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
Due: none

feat: working filters
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/form/NumberField.tsx
  genai-engine/ui/src/components/common/form/SelectField.tsx
  genai-engine/ui/src/components/traces/components/filtering/TracesFilters.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form-context.ts
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/shared.ts
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/types.ts
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/hooks/useOnClickOutside.ts
  genai-engine/ui/src/lib/queryClient.ts
  genai-engine/ui/src/query-options/traces.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/src/utils/cn.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add renderers
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/TextMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/llm.ts
  genai-engine/ui/yarn.lock
Due: none

feat: custom filters builder
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/filtering/TracesFilters.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/hooks/useOnClickOutside.ts
Due: none

feat: add session level infinite scroll
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/hooks/useTableScrollThrottler.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/query-options/sessions.ts
  genai-engine/ui/src/query-options/spans.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

fix messages exporting incorrectly
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

Move span validation to utility
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_normalization_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add span conversion migration
  genai-engine/alembic/versions/2025_10_29_1645-2264832c91c0_update_raw_span_structure.py
Due: none

Fix migration to update data as JSON
  genai-engine/alembic/versions/2025_10_29_1645-2264832c91c0_update_raw_span_structure.py
Due: none

UP-3128: Automaticly bump version when merged to dev branch
  .github/workflows/version-workflow.yml
Due: none

UP-3128: Automatically bump version when merged to dev branch (#686)
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.96
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.97
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
