Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Provide a recovery path for engine runtime validation
  onboarding/src/workflow/steps/02-arthur-engine.ts
Due: none

Engine startup wait experience improvements
  onboarding/src/workflow/steps/02-arthur-engine.ts
Due: none

Provide an option to use a remote engine instance
  onboarding/src/workflow/steps/02-arthur-engine.ts
Due: none

fix(UP-4231): Navigate to unified RAG hub instead of legacy standalone routes
  genai-engine/ui/src/components/rag-experiments/RagExperimentDetailView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsHeader.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentsPage.tsx
Due: none

feat: add eval mapping reset on change
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/info-step/index.tsx
Due: none

Adding 08-evals workflow step to help configure continuous evals
  onboarding/src/arthur/client.ts
  onboarding/src/mastra/eval-recommender.ts
  onboarding/src/workflow/orchestrator.ts
  onboarding/src/workflow/steps/08-evals.ts
Due: none

Assist configuraing a model for evals
  onboarding/src/arthur/client.ts
  onboarding/src/workflow/steps/08-evals.ts
Due: none

fix(ui): add infinite scroll to All Tasks page (#1581)
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Increment arthur-engine version to 2.1.518
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix model loading m5
  genai-engine/src/utils/model_load.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

create arthur engine mcp
  mcp-server/README.md
  mcp-server/arthur_engine_mcp.py
Due: none

Make the eval builder work
  onboarding/example.txt
  onboarding/src/arthur/client.test.ts
  onboarding/src/arthur/client.ts
  onboarding/src/mastra/agent.ts
  onboarding/src/mastra/eval-recommender.ts
  onboarding/src/mastra/tools/code-analysis.ts
  onboarding/src/ui/prompts.ts
  onboarding/src/workflow/steps/01-prereqs.ts
  onboarding/src/workflow/steps/08-evals.ts
Due: none

[no-ref] support filtering trace userIDs via substring matching instead of exact matching
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add local development section
  onboarding/README.md
Due: none

Add use case 8 in the spec
  onboarding/specifications.txt
Due: none

update API docs
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update span_query_service.py
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] support user_id filtering by substring instead of exact match (#1585)
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/utils/model_load.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.519
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] fix eval pagination
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

lint
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] fix eval pagination (#1586)
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.520
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Automate release PR creation and main→dev sync (#release-process)
  .github/workflows/create-release-pr.yml
  .github/workflows/version-workflow.yml
Due: none

[no-ref] update traces table to allow selecting rows to test with an eval
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SelectionActionBar.tsx
  genai-engine/ui/src/components/traces/hooks/useTable.tsx
  genai-engine/uv.lock
Due: none

updates to ux for starting eval run
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
Due: none

fix claude comments
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
Due: none

format
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
Due: none

fix claude
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
Due: none

claude comments
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
Due: none

bump shared components
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

fix build
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
  genai-engine/ui/tsconfig.app.json
Due: none

CLI output message tweak
  onboarding/src/workflow/steps/08-evals.ts
Due: none

fix meticulous error
  genai-engine/ui/vite.config.ts
Due: none

MR fixes
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SelectionActionBar.tsx
  genai-engine/ui/src/lib/constants.ts
Due: none

use open
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: none

Manage buzz .env file per repo
  onboarding/src/config/env.test.ts
  onboarding/src/config/env.ts
  onboarding/src/workflow/orchestrator.ts
  onboarding/src/workflow/steps/02-arthur-engine.ts
  onboarding/src/workflow/steps/03-task.ts
Due: none

[no-ref] update traces table to allow selecting rows to test with an eval (#1588)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SelectionActionBar.tsx
  genai-engine/ui/src/components/traces/hooks/useTable.tsx
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/tsconfig.app.json
  genai-engine/ui/vite.config.ts
  genai-engine/ui/yarn.lock
  genai-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.521
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add notes regarding useEffect usage to CLAUDE.md
  genai-engine/ui/CLAUDE.md
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
