Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat: resolve PR comments
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
Due: none

[UP-3238] [UP-3258] [UP-3293] [UP-3295] [UP-3330] [UP-3174] feat: add tracing tweaks - next batch (#814)
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SessionDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/context/bucket-context.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/stores/pagination-context.tsx
  genai-engine/ui/src/components/traces/utils/duration.ts
  genai-engine/ui/src/components/traces/utils/sessions.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/formatters.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

Increment arthur-engine version to 2.1.204
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-2931: Increase ML Engine aggregation timeout (#834)
  ml-engine/src/ml_engine/config/settings.yaml
Due: none

Increment arthur-engine version to 2.1.205
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add annotations to traces
  genai-engine/alembic/versions/2025_11_19_1226-7bff101b1a7a_add_agentic_annotations_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

abstract annotations to their own class
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update setting annotation on trace metadata
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/services/trace/trace_annotation_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add annotations to traces (#836)
  genai-engine/alembic/versions/2025_11_19_1226-7bff101b1a7a_add_agentic_annotations_table.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.206
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3299 install amplitude (#823)
  genai-engine/ui/.env.local.example
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/main.tsx
  genai-engine/ui/src/services/amplitude.ts
  genai-engine/ui/vite.config.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.207
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3350 highlighting v2 (#828)
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
Due: none

Increment arthur-engine version to 2.1.208
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

replace old query with react query
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
Due: none

Increment arthur-engine version to 2.1.209
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Open experiment in notebook
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsEmptyState.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsViewHeader.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
Due: none

Add multiprompt and unsaved_prompt features
  genai-engine/alembic/versions/2025_11_20_1520-88a3cbf21434_support_non_similar_and_unsaved_prompts_.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add edit button on eval version
  genai-engine/ui/src/components/evaluators/EvalEditModal.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

fix eval creation
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
Due: none

Complete support for unsaved prompts
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptVersionDrawer.tsx
  genai-engine/ui/src/hooks/usePromptExperiments.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Eval editing (#842)
  genai-engine/ui/src/components/evaluators/EvalEditModal.tsx
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

Increment arthur-engine version to 2.1.210
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] allow prompt and eval text to take up all available space
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
Due: none

give more space to text and collapse config into metadata
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
Due: none

Update prompt-playground to render real results
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
Due: none

add open in prompt playground button
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none
