Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.937
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Increment arthur-engine version to 2.1.938
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4979: keep discovery credentials out of the job log
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

UP-4980: close the three gaps review found in resolution
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(discovery): read the arthur1. endpoint envelope and match it against the catalog
  .pre-commit-config.yaml
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/_vendor/SHA256SUMS
  ml-engine/src/ml_engine/discovery/_vendor/VERSION
  ml-engine/src/ml_engine/discovery/_vendor/__init__.py
  ml-engine/src/ml_engine/discovery/_vendor/agents.yaml
  ml-engine/src/ml_engine/discovery/_vendor/classify.py
  ml-engine/src/ml_engine/discovery/_vendor/routes.yaml
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/jamf/envelope.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_jamf_envelope.py
  ml-engine/tests/unit/discovery/test_vendor_tree.py
Due: ml-engine-pytest-check

UP-4979: redact credentials where job logs are shipped, not per call site
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_log_exporter.py
  ml-engine/src/ml_engine/log_redaction.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

UP-4980: take discovery record schemas from arthur-common 2.4.81
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix(discovery): exclude the vendored tree from black and isort themselves
  ml-engine/pyproject.toml
Due: none

fix(discovery): three from review, one of which would have failed whole scans
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/jamf/envelope.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_jamf_envelope.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.939
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-5022: correct the platform cutoff to 1.4.2594
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/job_executors/test_task_management_job_executors.py
Due: ml-engine-pytest-check

UP-4991 (D-19): read the arthur1. endpoint envelope and match it against the catalog (#2370)
  .pre-commit-config.yaml
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/_vendor/SHA256SUMS
  ml-engine/src/ml_engine/discovery/_vendor/VERSION
  ml-engine/src/ml_engine/discovery/_vendor/__init__.py
  ml-engine/src/ml_engine/discovery/_vendor/agents.yaml
  ml-engine/src/ml_engine/discovery/_vendor/classify.py
  ml-engine/src/ml_engine/discovery/_vendor/routes.yaml
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/jamf/envelope.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_jamf_envelope.py
  ml-engine/tests/unit/discovery/test_vendor_tree.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.940
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

refactor(discovery): the arthur1. reader is not Jamf's, so it does not live there
  ml-engine/src/ml_engine/discovery/endpoint/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/jamf/__init__.py
  ml-engine/tests/unit/discovery/test_envelope.py
Due: ml-engine-pytest-check

docs(discovery): cut the prose back to what a reader needs
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/tests/unit/discovery/test_vendor_tree.py
Due: ml-engine-pytest-check

feat(discovery): the Jamf endpoint connector
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/discovery/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/jamf/envelope.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/tests/unit/discovery/test_envelope.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/discovery/test_vendor_tree.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

feat(discovery): the endpoint deployable, and Jamf as one MDM of several
  .github/workflows/endpoint-ai-discovery.yml
  .pre-commit-config.yaml
  integrations/endpoint-ai-discovery/.gitignore
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/README.md
  integrations/endpoint-ai-discovery/deploy/com.arthur.ai-discovery.plist
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/README.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/docs/oss-queries-design.md
  integrations/endpoint-ai-discovery/test/README.md
  integrations/endpoint-ai-discovery/test/lint.sh
  integrations/endpoint-ai-discovery/test/run-collector.sh
  integrations/endpoint-ai-discovery/tools/build-collector.py
  integrations/endpoint-ai-discovery/tools/vendor-queries.sh
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/SHA256SUMS
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/VERSION
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/classify
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/container-scan
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/discover
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/ai-discovery.conf
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-darwin.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-deep.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-linux.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/tools/bundle.py
  ml-engine/tests/unit/discovery/test_vendor_parity.py
Due: none

docs(discovery): say what the rule is, not how it was found
  .github/workflows/endpoint-ai-discovery.yml
  integrations/endpoint-ai-discovery/test/lint.sh
  integrations/endpoint-ai-discovery/tools/vendor-queries.sh
Due: none

docs(discovery): comments state the rule, not the incident
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/test/lint.sh
  integrations/endpoint-ai-discovery/test/run-collector.sh
  integrations/endpoint-ai-discovery/tools/build-collector.py
  integrations/endpoint-ai-discovery/tools/vendor-queries.sh
Due: none

docs(discovery): finish the pass over docs and remaining comments
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/test/README.md
  integrations/endpoint-ai-discovery/tools/build-collector.py
Due: none

fix(discovery): offset paging over a mutating field skips devices
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

fix(discovery): five from review on the deployable
  integrations/endpoint-ai-discovery/deploy/com.arthur.ai-discovery.plist
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/test/lint.sh
  integrations/endpoint-ai-discovery/tools/vendor-queries.sh
Due: none

fix(discovery): a failing manifest check silently skipped every other check
  .github/workflows/arthur-engine-workflow.yml
  integrations/endpoint-ai-discovery/test/lint.sh
Due: none

fix(discovery): one device's bad payload must not end the fleet scan
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_envelope.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

UP-5022: replace the platform version probe with try-then-fallback
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/job_executors/test_task_management_job_executors.py
  ml-engine/tests/unit/mock_data/api_mock_helpers.py
Due: ml-engine-pytest-check

fix(discovery): the filter was double-encoded, and the fake hid it
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

docs(discovery): drop the open-sourcing decision record
  integrations/endpoint-ai-discovery/README.md
  integrations/endpoint-ai-discovery/docs/oss-queries-design.md
Due: none

fix(discovery): stale docs, a dead assertion, and a typo I introduced
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/README.md
  integrations/endpoint-ai-discovery/deploy/com.arthur.ai-discovery.plist
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/test/run-collector.sh
Due: none

ci(discovery): read-only token, not persisted into the checkout
  .github/workflows/endpoint-ai-discovery.yml
Due: none

Increment arthur-engine version to 2.1.941
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4991: migrate the endpoint deployable into the monorepo, and record the collector design (#2371)
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/endpoint-ai-discovery.yml
  .pre-commit-config.yaml
  integrations/endpoint-ai-discovery/.gitignore
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/README.md
  integrations/endpoint-ai-discovery/deploy/com.arthur.ai-discovery.plist
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/README.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/test/README.md
  integrations/endpoint-ai-discovery/test/lint.sh
  integrations/endpoint-ai-discovery/test/run-collector.sh
  integrations/endpoint-ai-discovery/tools/build-collector.py
  integrations/endpoint-ai-discovery/tools/vendor-queries.sh
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/SHA256SUMS
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/VERSION
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/classify
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/container-scan
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/discover
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/ai-discovery.conf
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-darwin.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-deep.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/dist/discovery-linux.sql
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/tools/bundle.py
  ml-engine/tests/unit/discovery/test_vendor_parity.py
Due: none

Increment arthur-engine version to 2.1.942
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Increment arthur-engine version to 2.1.943
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

fix(discovery): the strict loader rejected YAML merge keys
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/tests/unit/discovery/test_catalog.py
Due: ml-engine-pytest-check

UP-4991 (D-19): the Jamf endpoint connector (#2372)
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/discovery/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/jamf/envelope.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_log_exporter.py
  ml-engine/src/ml_engine/log_redaction.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_envelope.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/discovery/test_vendor_tree.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.944
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

fix(discovery): the scan seam carries a logger, and failures stop leaking
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

UP-4985 (D-13): the scan seam carries a logger, and failures stop leaking (#2377)
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.945
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

fix(discovery): a source's address is not one of its secrets
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check
