Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

fix lint
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update test to include exp spans by default
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
Due: none

LINT
  genai-engine/src/services/agent_discovery_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add genai engine mypy check to precommit runs (#1186)
  .pre-commit-config.yaml
Due: none

Increment arthur-engine version to 2.1.338
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Cangelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Update changelog and openapi
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix trace unit test
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: none

Fix agentic exp traces not fetched in list endpoint (#1185)
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.339
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

pr feedback
  .claude/settings.local.json
  genai-engine/CLAUDE.md
  genai-engine/src/services/synthetic_data_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix Continuous Eval ID filter on Results page
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
Due: none

Add synthetic data generation workflow in datasets (#1111)
  .claude/settings.local.json
  .claude/skills/setup-genai-dev/SKILL.md
  .claude/skills/start-genai-backend/SKILL.md
  genai-engine/CLAUDE.md
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataCanvas.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataChat.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataModal.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
  genai-engine/ui/src/components/datasets/synthetic/index.ts
  genai-engine/ui/src/components/datasets/synthetic/types.ts
  genai-engine/ui/src/contexts/dataset/reducer.ts
  genai-engine/ui/src/contexts/dataset/types.ts
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.340
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix Continuous Eval ID filter on Results page (#1187)
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
Due: none

Increment arthur-engine version to 2.1.341
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add endpoint for analytics
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/response_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add index for analytics
  genai-engine/alembic/versions/2026_02_03_1459-a8e90125e931_add_annotations_index.py
  genai-engine/src/db_models/agentic_annotation_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add unit tests for API
  genai-engine/CLAUDE.md
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: none

lint
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

IM: Add agentic annotation analytics endpoint (#1193)
  genai-engine/CLAUDE.md
  genai-engine/alembic/versions/2026_02_03_1459-a8e90125e931_add_annotations_index.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.342
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore(deps): update arthur-common to v2.4.32 and add Databricks connector support
  .gitignore
  genai-engine/.vscode/settings.json
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

feat: added model_upload to gcp (#1195)
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
Due: none

Increment arthur-engine version to 2.1.343
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Refactor import statement in test_databricks_connector.py to use relative path for mock data
  ml-engine/tests/unit/connectors/test_databricks_connector.py
Due: none

Refactor test cases in test_databricks_connector.py to use direct import for pyodbc connection mock
  ml-engine/tests/unit/connectors/test_databricks_connector.py
Due: none
