Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Add notes regarding useEffect usage to CLAUDE.md (#1589)
  genai-engine/ui/CLAUDE.md
Due: none

Increment arthur-engine version to 2.1.522
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

added .env.example file for claude code integration
  integrations/claude-code/.env.example
Due: none

add transfer encoding middleware
  genai-engine/.env
  genai-engine/src/config/extra_features.py
  genai-engine/src/server.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

moved comments in env into a new line
  integrations/claude-code/.env.example
Due: none

Avoid recommending duplicate evals
  onboarding/src/arthur/client.ts
  onboarding/src/mastra/eval-recommender.ts
  onboarding/src/workflow/steps/08-evals.ts
Due: none

Remove feature flag from TransferEncodingMiddleware and add unit tests
  .pre-commit-config.yaml
  genai-engine/.env
  genai-engine/src/config/extra_features.py
  genai-engine/src/server.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

updated comments
  integrations/claude-code/.env.example
Due: none

add transfer encoding middleware (#1591)
  .pre-commit-config.yaml
  genai-engine/src/config/extra_features.py
  genai-engine/src/server.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.523
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.517
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.519
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.518
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] support user_id filtering by substring instead of exact match (#1585)
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/utils/model_load.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.520
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] update traces table to allow selecting rows to test with an eval (#1588)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/components/EvalPickerDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SelectionActionBar.tsx
  genai-engine/ui/src/components/traces/hooks/useTable.tsx
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/tsconfig.app.json
  genai-engine/ui/vite.config.ts
  genai-engine/ui/yarn.lock
  genai-engine/uv.lock
Due: none

[no-ref] fix eval pagination (#1586)
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(ui): add infinite scroll to All Tasks page (#1581)
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Track violation count per alert rule in compliance metrics (#1575)
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.521
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Make GENAI_ENGINE_MAX_PAGE_SIZE configurable
  ml-engine/src/ml_engine/config/config.py
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Add tests for GENAI_ENGINE_MAX_PAGE_SIZE envar
  ml-engine/tests/unit/configuration/test_config.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: none

Make GENAI_ENGINE_MAX_PAGE_SIZE configurable on CFT
  deployment/cloudformation/ml-engine/arthur-ml-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
Due: none

Make GENAI_ENGINE_MAX_PAGE_SIZE configurable on helm
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/ml-engine/templates/deployment.yaml
  deployment/helm/ml-engine/values.schema.json
  deployment/helm/ml-engine/values.yaml.template
Due: none

Make GENAI_ENGINE_MAX_PAGE_SIZE envar configurable (#1594)
  deployment/cloudformation/ml-engine/arthur-ml-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/ml-engine/templates/deployment.yaml
  deployment/helm/ml-engine/values.schema.json
  deployment/helm/ml-engine/values.yaml.template
  ml-engine/src/ml_engine/config/config.py
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/tests/unit/configuration/test_config.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.524
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix mypy violations
  genai-engine/pyproject.toml
  genai-engine/src/server.py
  genai-engine/uv.lock
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix mypy violations (#1596)
  genai-engine/pyproject.toml
  genai-engine/src/server.py
  genai-engine/uv.lock
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.525
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Make a feature flag for transfer encoding middleware
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Make a feature flag for transfer encoding middleware (#1597)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/unit/routes/test_transfer_encoding_middleware.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.526
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add .env.example for Claude code integration (#1590)
  integrations/claude-code/.env.example
Due: none

Increment arthur-engine version to 2.1.527
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update uv.lock
  genai-engine/uv.lock
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
