Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Remove old local ArthurExporter from analytics-agent
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
Due: none

Migrate all example agents to Mastra 1.x + Arthur Observability SDK
  arthur-observability-sdk/tutorials/getting_started_openai.ts
  arthur-observability-sdk/tutorials/package.json
  arthur-observability-sdk/typescript/package-lock.json
  arthur-observability-sdk/typescript/package.json
  arthur-observability-sdk/typescript/src/arthur.ts
  arthur-observability-sdk/typescript/src/telemetry.ts
  genai-engine/examples/agents/MASTRA_1X_MIGRATION.md
  genai-engine/examples/agents/customer-support-agent/package.json
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/index.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/tracing.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/tools/githubSearch.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/tools/websearch.ts
  genai-engine/examples/agents/image-analysis-agent/package.json
  genai-engine/examples/agents/image-analysis-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/mastra-translator-agent/index.js
  genai-engine/examples/agents/mastra-translator-agent/mastra.js
  genai-engine/examples/agents/mastra-translator-agent/package.json
Due: none

Add TS SDK build script and use it in CI workflows
  .github/workflows/arthur-observability-sdk-release.yml
  .github/workflows/arthur-observability-sdk-workflow.yml
  arthur-observability-sdk/scripts/build_ts_sdk.sh
Due: none

Remove circular self-reference from TS SDK package.json
  arthur-observability-sdk/typescript/package-lock.json
  arthur-observability-sdk/typescript/package.json
Due: none

Fix prettier formatting in arthur.ts
  arthur-observability-sdk/typescript/src/arthur.ts
Due: none

Fix telemetry tests for proto exporter and global provider registration
  arthur-observability-sdk/typescript/tests/telemetry.test.ts
Due: none

consolidate job
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/model-upload/templates/job.yaml
  deployment/helm/model-upload/templates/pvc.yaml
  deployment/helm/model-upload/templates/secret.yaml
  deployment/helm/model-upload/templates/serviceaccount.yaml
  deployment/helm/model-upload/values.yaml.template
  deployment/k8s/model-upload-oc/04-job.yaml
  model-upload/Dockerfile
  model-upload/README.md
  model-upload/build.sh
Due: none

Fix ml-engine ECS CPU/memory alarms firing on normal hourly job bursts
  deployment/cloudformation/ml-engine/arthur-ml-engine-cloudwatch-alarms.yml
Due: none

Fix ml-engine ECS CPU/memory alarms firing on normal hourly job bursts (#1472)
  deployment/cloudformation/ml-engine/arthur-ml-engine-cloudwatch-alarms.yml
Due: none

Increment arthur-engine version to 2.1.470
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix an incorrectly formatted envar
  genai-engine/.env
Due: none

A well formatted gpt service configuration is expected even when the guardrail LLM is intentionally not enabled
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Disallow usage of special chars in auto generated secrets that break .env file parsing
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
Due: none

Make sure we don't miss out on buffered logs
  genai-engine/dockerfile
Due: none

feat(integrations): add uninstall script for claude-code tracer hooks
  integrations/claude-code/uninstall.sh
Due: none

Add separate deployments for each env type
  deployment/helm/model-upload-aws/Chart.yaml
  deployment/helm/model-upload-aws/templates/_helpers.tpl
  deployment/helm/model-upload-aws/templates/job.yaml
  deployment/helm/model-upload-aws/templates/secret.yaml
  deployment/helm/model-upload-aws/templates/serviceaccount.yaml
  deployment/helm/model-upload-aws/values.yaml.template
  deployment/helm/model-upload-gcp/Chart.yaml
  deployment/helm/model-upload-gcp/templates/_helpers.tpl
  deployment/helm/model-upload-gcp/templates/job.yaml
  deployment/helm/model-upload-gcp/templates/serviceaccount.yaml
  deployment/helm/model-upload-gcp/values.yaml.template
  deployment/helm/model-upload-onprem/Chart.yaml
  deployment/helm/model-upload-onprem/templates/_helpers.tpl
  deployment/helm/model-upload-onprem/templates/job.yaml
  deployment/helm/model-upload-onprem/templates/pvc.yaml
  deployment/helm/model-upload-onprem/templates/scc.yaml
  deployment/helm/model-upload-onprem/templates/serviceaccount.yaml
  deployment/helm/model-upload-onprem/values.yaml.template
  deployment/helm/model-upload/Chart.yaml
  deployment/helm/model-upload/README.md
Due: none

feat(UP-4076): add pagination to version selector
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
Due: none

feat(UP-3772): add row ID column
  genai-engine/ui/src/components/datasets/DatasetSearchBar.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/contexts/dataset/selectors.ts
Due: none

Fix local deployment paper cuts (#1476)
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  genai-engine/.env
  genai-engine/dockerfile
Due: none

Increment arthur-engine version to 2.1.471
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: bump base-ui library
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

make tables scrollable
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
Due: none

address claude code comments
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add ability to clear chats
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix chatbot not finding the most recent items properly
  genai-engine/src/services/chatbot/chatbot_prompts.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add test for clearing chats
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
Due: none

create engine chatbot
  genai-engine/.env
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/__init__.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
  genai-engine/ui/src/components/chatbot/ChatbotDrawer.tsx
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

address claude review comments
  genai-engine/src/schemas/chatbot_schemas.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/utils/llm_tool_functions.py
  genai-engine/tests/unit/routes/tasks/test_chatbot_routes.py
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

move prompts to system task
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor add whitelist and protections
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/services/chatbot/api_call_service.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/services/chatbot/chatbot_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix ui lint
  genai-engine/ui/src/components/chatbot/ChatMessage.tsx
Due: none

create new chatbot system task
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/chatbot_prompts.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/clients/base_test_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(ui): add pagination to prompt version drawer
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
Due: none

fix: lint
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
Due: none

feat: resolve PR comments
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
Due: none

feat(UP-4076): add pagination to version selector (#1479)
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
Due: none

Increment arthur-engine version to 2.1.472
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
