Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.124
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

added eslint prettier plugin
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

added commands to package.json
  genai-engine/ui/package.json
Due: none

newline
  genai-engine/ui/.prettierignore
Due: none

Prettier integration (#716)
  genai-engine/ui/.prettierignore
  genai-engine/ui/.prettierrc
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.125
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add input/output_contents and remove span message properties (#701)
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

Update migration
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

Update tests
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Use semconv constants
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Split conditional
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

UP-3231 Run Prompt Completions (#710)
  genai-engine/ui/src/components/prompts/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/mustacheExtractor.ts
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Increment arthur-engine version to 2.1.126
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

regen yarn lock
  genai-engine/ui/yarn.lock
Due: none

prettified the prompts components
  genai-engine/ui/src/components/prompts/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/MessagesSection.tsx
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/SortableMessage.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/VersionSubmenu.tsx
  genai-engine/ui/src/components/prompts/mustacheExtractor.ts
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/sampleSpans.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

Increment arthur-engine version to 2.1.127
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix token count method
  genai-engine/src/utils/token_count.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add version to FE prompt type
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

Update more keys to semconv globals
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix connection test request
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3198: Settings crud
  genai-engine/alembic/versions/2025_11_03_1527-ebbf3cd9f512_create_rag_configs.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_search_kinds.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix connection test request (#718)
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.128
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

update llm evals tdd
  genai-engine/technical_documentation/llm_evals_tdd/img/LLMEvals.png
  genai-engine/technical_documentation/llm_evals_tdd/img/delete_evals.png
  genai-engine/technical_documentation/llm_evals_tdd/img/get_all_llm_evals.png
  genai-engine/technical_documentation/llm_evals_tdd/img/get_llm_eval.png
  genai-engine/technical_documentation/llm_evals_tdd/img/list_versions.png
  genai-engine/technical_documentation/llm_evals_tdd/img/llm_eval_workflow.png
  genai-engine/technical_documentation/llm_evals_tdd/img/llm_evals_table_schema.png
  genai-engine/technical_documentation/llm_evals_tdd/img/run_llm_eval.png
  genai-engine/technical_documentation/llm_evals_tdd/img/save_llm_eval.png
  genai-engine/technical_documentation/llm_evals_tdd/llm_evals_tdd.md
Due: none

Update migration logic
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

UP-3198: Finish settings crud
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3128: Limit cases when bump version is triggered (#695)
  .github/workflows/version-workflow.yml
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
