Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix(multitenancy): grant TENANT_USER write access to datasets
  genai-engine/src/schemas/enums.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[no-ref] update demo chatbot prompt to have question variable
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[no-ref] update demo chatbot prompt to have question variable (#1685)
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[no-ref] fix experiments with tool calls in response
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/services/prompt_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] fix prompt experiments that return tool calls (#1686)
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/services/prompt_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(multitenancy): close cross-org resource-reference leaks in continuous-eval, experiments, and notebooks (#1683)
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4461 set up tenant model whitelist
  genai-engine/src/config/config.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(multitenancy): schema migration for organizations and org_id (#1654)
  genai-engine/alembic/versions/2026_05_19_1510-3abf881da275_denormalize_org_id_to_task_scoped_tables.py
  genai-engine/alembic/versions/2026_05_19_1510-514464b8ca3d_create_organizations_table.py
  genai-engine/alembic/versions/2026_05_19_1510-5de5704b5892_add_org_id_to_api_keys.py
  genai-engine/alembic/versions/2026_05_19_1510-697657f9af66_add_org_id_to_tasks.py
  genai-engine/alembic/versions/2026_05_19_1510-d894934c8994_backfill_orphan_inferences_to_unmapped_.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/auth_models.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/db_models/rule_result_models.py
  genai-engine/src/db_models/task_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(multitenancy): GET /users/me identity introspection (UP-4426) (#1663)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/routers/user_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/utils/test_users_me.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): scope API keys to organizations (UP-4423) (#1658)
  genai-engine/src/auth/multi_validator.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/unit/auth/test_multi_validator.py
  genai-engine/tests/unit/repositories/test_auth_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): public tenant signup endpoint (UP-4430) (#1665)
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/docs/MULTI_TENANCY_DESIGN.md
  genai-engine/src/api_changelog.md
  genai-engine/src/config/extra_features.py
  genai-engine/src/db_models/organization_models.py
  genai-engine/src/repositories/api_key_repository.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(multitenancy): add TENANT-USER role + permission frozensets (UP-4428) (#1661)
  genai-engine/src/routers/api_key_routes.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/utils/test_api_key_admin_role_allowlist.py
  genai-engine/tests/unit/utils/test_trace_route_permissions.py
  genai-engine/tests/unit/utils/test_users.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(UP-4411): persist onboarding try-it-out submissions with session tokens (#1656)
  genai-engine/alembic/versions/2026_05_19_1200-d4e5f6a7b8c9_create_onboarding_tables.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/onboarding_models.py
  genai-engine/src/repositories/onboarding_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/conftest.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/ui/src/components/onboarding/hooks/useCreateOnboardingSubmissionMutation.ts
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/types.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

[FE] Tenant-mode UI: /users/me on login + conditional admin-nav rendering (#1672)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/auth.ts
Due: none

test(multitenancy): integration tests for org isolation + fuzz coverage (UP-4432) (#1678)
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/src/utils/users.py
  genai-engine/tests/coverage/__init__.py
  genai-engine/tests/coverage/test_repository_org_scope_coverage.py
  genai-engine/tests/coverage/test_route_scope_coverage.py
  genai-engine/tests/multitenancy/__init__.py
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] demo chatbot improvements (#1682)
  genai-engine/scripts/start_local_server.sh
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/user_routes.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4461 set up tenant model whitelist (#1689)
  genai-engine/src/config/config.py
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore: regenerate openapi spec and changelog after rebase
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix(multitenancy): send valid signup body in tests for /tenant/signup
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

fix: gracefully disable Amplitude experiments when env/init fails
  genai-engine/ui/src/services/amplitude-experiment.ts
Due: none

feat: regenerate API client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

chore: regenerate yarn lock
  genai-engine/ui/yarn.lock
  genai-engine/yarn.lock
Due: none

feat: upgrade react-form
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

feat: add reCAPTCHA Enterprise to onboarding signup form
  deployment/docker-compose/genai-engine/.env.template
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/recaptcha/__init__.py
  genai-engine/src/clients/recaptcha/recaptcha_verifier.py
  genai-engine/src/config/recaptcha_config.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/clients/recaptcha/test_recaptcha_verifier.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/ui/.env.local.example
  genai-engine/ui/src/components/onboarding/hooks/useCreateOnboardingSubmissionMutation.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/recaptcha.ts
  genai-engine/ui/vite.config.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix(multitenancy): send valid signup body in tests for /tenant/signup (#1691)
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

feat(UP-4451): add reCAPTCHA Enterprise to onboarding signup form (#1684)
  deployment/docker-compose/genai-engine/.env.template
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/recaptcha/__init__.py
  genai-engine/src/clients/recaptcha/recaptcha_verifier.py
  genai-engine/src/config/recaptcha_config.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/clients/recaptcha/test_recaptcha_verifier.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/ui/.env.local.example
  genai-engine/ui/package.json
  genai-engine/ui/src/components/onboarding/hooks/useCreateOnboardingSubmissionMutation.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/recaptcha.ts
  genai-engine/ui/src/services/amplitude-experiment.ts
  genai-engine/ui/vite.config.ts
  genai-engine/ui/yarn.lock
  genai-engine/yarn.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add ability to use neg indexes for transforms
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix the demo dataset not matching with the transform variable names
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

extract right field for FE navigation for transforms with a neg index
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none

bump shared components version
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

fix yarn lock errs
  genai-engine/ui/yarn.lock
Due: none

fix the demo dataset not matching with the transform variable names (#1687)
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
  genai-engine/ui/package.json
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/yarn.lock
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.580
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
