Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

address review bot
  genai-engine/ui/src/features/task-tour/__tests__/loader.test.ts
  genai-engine/ui/src/features/task-tour/content/loader.tsx
Due: none

address MR comments
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/image_resolver.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

add gcs image support for datasets (#1785)
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/src/ml_engine/tools/dataset_utils.py
  ml-engine/src/ml_engine/tools/image_resolver.py
  ml-engine/src/ml_engine/tools/image_tools.py
  ml-engine/tests/unit/job_executors/test_fetch_data_image_resolution.py
  ml-engine/tests/unit/tools/test_image_resolver.py
  ml-engine/tests/unit/tools/test_image_tools.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.641
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(deps): patch high-severity CVEs in starlette, cryptography, pyjwt
  arthur-observability-sdk/python/uv.lock
  deployment/model-upload/uv.lock
  genai-engine/pyproject.toml
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/auth/test_jwk_client.py
  genai-engine/tests/unit/auth/test_oauth_validator.py
  genai-engine/uv.lock
  ml-engine/uv.lock
Due: none

Add engine audit logs to k8s (#1793)
  deployment/helm/genai-engine/templates/arthur-genai-engine-audit-logs-pvc.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/docs/audit-logging.md
Due: none

Increment arthur-engine version to 2.1.642
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore(genai-engine): regenerate OpenAPI schema/changelog for fastapi 0.136
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

chore: sync genai-engine uv.lock self-version to 2.1.641 after dev merge
  genai-engine/uv.lock
Due: none

Patch high-severity CVEs in starlette, cryptography, pyjwt (#1801)
  arthur-observability-sdk/python/uv.lock
  deployment/model-upload/uv.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/auth/test_jwk_client.py
  genai-engine/tests/unit/auth/test_oauth_validator.py
  genai-engine/uv.lock
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.643
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.644
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

linter
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/scorer/metrics/relevance/prompt_templates.py
  genai-engine/src/scorer/metrics/tool_selection/prompt_templates.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/scorer/metrics/relevance/prompt_templates.py
  genai-engine/src/scorer/metrics/tool_selection/prompt_templates.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/alembic/versions/2026_06_16_0900-646bea1451cf_merge_token_limit_and_eval_type.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/agent-experiments/new/hooks/useCreateNewExperiment.tsx
  genai-engine/ui/src/components/common/OutOfCreditsDialog.tsx
  genai-engine/ui/src/components/live-evals/hooks/useRerunContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useRunPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/streamCompletions.ts
  genai-engine/ui/src/contexts/OutOfCreditsContext.tsx
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/hooks/usePromptExperiments.ts
  genai-engine/ui/src/hooks/useRagExperiments.ts
  genai-engine/ui/src/lib/api-errors.ts
Due: none

Add TLS private-cert config for the LLM endpoint (download-URL based)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/docker-compose/arthur-engine/.env.template
  deployment/docker-compose/genai-engine/.env.template
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/.env
  genai-engine/src/config/openai_config.py
  genai-engine/src/docker-entrypoint.sh
  genai-engine/src/scorer/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix migration head
  genai-engine/alembic/versions/2026_06_04_1000-5e84b8d7aa1f_add_token_limit_to_organizations.py
  genai-engine/alembic/versions/2026_06_16_0900-646bea1451cf_merge_token_limit_and_eval_type.py
Due: none

Add TLS private-cert config for the LLM endpoint (download-URL based) (#1804)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/docker-compose/arthur-engine/.env.template
  deployment/docker-compose/genai-engine/.env.template
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/.env
  genai-engine/src/config/openai_config.py
  genai-engine/src/docker-entrypoint.sh
  genai-engine/src/scorer/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.645
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix typing
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/llm_evaluator.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove explicit token quota enforcement
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/chatbot_routes.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/rag_experiment_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix error parsing in CEs
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update continuous_eval_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update 2026_06_04_1000-5e84b8d7aa1f_add_token_limit_to_organizations.py
  genai-engine/alembic/versions/2026_06_04_1000-5e84b8d7aa1f_add_token_limit_to_organizations.py
Due: none

fix prompt experiments
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/prompt_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix tests
  genai-engine/src/dependencies.py
  genai-engine/tests/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: visualize guardrail invocations in trace viewer
  genai-engine/ui/package.json
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/guardrail-bar/GuardrailInvocationRow.tsx
  genai-engine/ui/src/components/traces/components/guardrail-bar/GuardrailSummaryBar.tsx
  genai-engine/ui/src/components/traces/utils/guardrails.test.ts
  genai-engine/ui/src/components/traces/utils/guardrails.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/vitest.config.ts
  genai-engine/ui/yarn.lock
Due: none

fix: unrelated type error
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
Due: none

fix: unrelated failing vitest tests
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/CreateExperimentModal.tour.test.tsx
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
Due: none

Increment arthur-engine version to 2.1.646
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

docs: revise MT plan — new Keycloak auth client, unified-view-only UI
  genai-engine/docs/PLATFORM_CONNECTED_MULTI_TENANCY_PLAN.md
Due: none

update to use 429 response code & make token limit optional, default off
  genai-engine/alembic/versions/2026_06_04_1000-5e84b8d7aa1f_add_token_limit_to_organizations.py
  genai-engine/src/config/config.py
  genai-engine/src/repositories/organizations_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/utils/constants.py
  genai-engine/ui/src/components/agent-experiments/new/hooks/useCreateNewExperiment.tsx
  genai-engine/ui/src/components/common/OutOfCreditsDialog.tsx
  genai-engine/ui/src/components/live-evals/hooks/useRerunContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useRunPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/streamCompletions.ts
  genai-engine/ui/src/contexts/OutOfCreditsContext.tsx
  genai-engine/ui/src/hooks/datasets/useSyntheticDataSession.ts
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/src/lib/api-errors.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update CFTs to pass tenant token limit env var
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

docs: consolidate MT plan, remove conversation references
  genai-engine/docs/PLATFORM_CONNECTED_MULTI_TENANCY_PLAN.md
Due: none

add org repo unit test
  genai-engine/tests/unit/repositories/test_organizations_repository.py
  genai-engine/uv.lock
Due: none

docs: trim MT plan to framing + validated current-state findings
  genai-engine/docs/PLATFORM_CONNECTED_MULTI_TENANCY_PLAN.md
Due: none

docs: add "Changes Required" section to MT plan
  genai-engine/docs/PLATFORM_CONNECTED_MULTI_TENANCY_PLAN.md
Due: none

UP-4554 Visualize guardrail invocations in trace viewer (#1807)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/CreateExperimentModal.tour.test.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/guardrail-bar/GuardrailInvocationRow.tsx
  genai-engine/ui/src/components/traces/components/guardrail-bar/GuardrailSummaryBar.tsx
  genai-engine/ui/src/components/traces/utils/guardrails.test.ts
  genai-engine/ui/src/components/traces/utils/guardrails.ts
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/vitest.config.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.647
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[vuln] swap gray-matter library and add test (#1799)
  genai-engine/ui/package.json
  genai-engine/ui/src/features/task-tour/__tests__/loader.test.ts
  genai-engine/ui/src/features/task-tour/content/loader.tsx
  genai-engine/ui/yarn.lock
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
