Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

add description for column to id map
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
Due: ml-engine-pytest-check

add support for nested segmentation columns
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

add test cases for columns with double quotes
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

add test cases for nested columns with periods and top level columns
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: none

bump arthur common version in ml engine
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

add support for nested segmentation columns (#525)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

fix integration test with removed functionality
  genai-engine/tests/integration/test_create_inferences.py
Due: none

fix integration test with removed functionality (#544)
  genai-engine/tests/integration/test_create_inferences.py
Due: none

Increment arthur-engine version to 2.1.91
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix UI pipeline during arthur-engine release
  genai-engine/dockerfile
Due: none

Update dockerfile
  genai-engine/dockerfile
Due: none

Fix UI pipeline during arthur-engine release (#546)
  genai-engine/dockerfile
Due: none

Increment arthur-engine version to 2.1.92
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix branch diversion
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

fix import
  genai-engine/ui/src/App.tsx
Due: none

added material icons
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

added uuid
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Dependency update (#552)
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

chore: force yarn to use node modules
  genai-engine/ui/.yarnrc.yml
Due: none

Force yarn to use node modules (#553)
  genai-engine/ui/.yarnrc.yml
Due: none

changed layout
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
Due: none

use correct verbiage/label
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Increment arthur-engine version to 2.1.93
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

create agentic prompt repo and route to run a prompt
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

create agentic_prompts db and add routes to modify it
  genai-engine/alembic/versions/2025_10_07_1428-a299936fc3f1_add_agentic_prompts_table.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
