Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

add engine audit logging to cloudwatch
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
Due: none

add tracing
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/synthetic_data_tracing_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix regen on existing dataset
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

address PR feedback on MR 1371
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/system_tasks_service.py
  genai-engine/ui/src/components/prompts-management/PromptFormModal.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

lint and changelog
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix null not passing override check
  genai-engine/src/config/config.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

type SDG tracing messages as List[OpenAIMessage]
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/synthetic_data_tracing_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add strip to trim override path
  genai-engine/src/config/config.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

narrow AgenticPrompt.model_provider union at downstream boundaries
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/services/prompt_experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

address ccr comments
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  genai-engine/src/config/config.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

migrate SyntheticDataConfigForm fetches to useApiQuery
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
Due: none

add engine audit logging to cloudwatch (#1603)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  genai-engine/src/config/config.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.535
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: introduce ML eval support with new models, routes, and request schemas
  genai-engine/alembic/versions/2026_04_21_1000-c3e7a1b2d4f8_add_ml_eval_support_to_continuous_evals.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/base_ml_scorer.py
  genai-engine/src/server.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluators/CreateEvalTypeModal.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalActions.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

create a dummy commit to trigger sts dev pipeline
  genai-engine/README.md
Due: none

create a dummy commit to trigger sts dev pipeline (#1604)
  genai-engine/README.md
Due: none

Increment arthur-engine version to 2.1.536
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

pass the AuditLogEnabled param to the substack
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
Due: none

feat: enhance evaluation framework with eval_type support
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update cpu root stacks
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
Due: none

add audit logging to gpu stacks
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

combine tracing services for chatbot and synthetic data gen
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/chatbot/chatbot_tracing_service.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/trace/internal_trace_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

pass the AuditLogEnabled param to the substack (#1605)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Increment arthur-engine version to 2.1.537
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update uv.lock
  genai-engine/uv.lock
Due: none

Bundle system task for monitoring Synthetic Dataset Generation (#1371)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/repositories/system_task_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/chatbot_service.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/src/services/system_tasks_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/components/prompts-management/PromptFormModal.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.538
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

updated logging and added env variables
  genai-engine/src/services/README.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/services/test_trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update verbiage
  genai-engine/src/services/README.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/tests/unit/services/test_trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added a run start log
  genai-engine/src/services/README.md
  genai-engine/src/services/trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(ml-engine): bake compliance policy check into alert check job
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

UP-3149 Follow-up (#1606)
  genai-engine/src/services/README.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/services/test_trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.539
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix initial blur
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

fix initial focus
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

add policy violation if guardrail is missing or no data on app
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

update tests to check descriptions
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: none

add fallback for non materialized alert rules
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

feat(UP-4349): Skip empty eval config step
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/prompt-step/index.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/index.tsx
Due: none
