Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Agent Task Endpoint that responds with enriched tasks (#1293)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.390
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix dataset search to query full dataset instead of current page only
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/ui/src/contexts/dataset/DatasetContext.tsx
  genai-engine/ui/src/contexts/dataset/reducer.ts
  genai-engine/ui/src/contexts/dataset/selectors.ts
  genai-engine/ui/src/contexts/dataset/useDatasetQueries.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Regenerate staging.openapi.json and api-client.ts from dev base
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Clean up task, add new polling state table
  genai-engine/alembic/versions/2026_02_18_1722-53f5544bc0b8_create_task_polling_state_and_migrate_.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: use mutation state instead of setting loading manually
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigFullScreenView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigVersionDrawer.tsx
Due: none

feat: adjust ux to allow viewing rag configs
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigDetailView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigEditModal.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigFullScreenView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigVersionDrawer.tsx
  genai-engine/ui/src/hooks/rag-search-settings/useLoadRagConfig.ts
Due: none

UP-3644: Adjust UX to allow viewing rag configs (#1279)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigDetailView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigEditModal.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigFullScreenView.tsx
  genai-engine/ui/src/components/retrievals/fullscreen/RagConfigVersionDrawer.tsx
  genai-engine/ui/src/hooks/rag-search-settings/useLoadRagConfig.ts
Due: none

Increment arthur-engine version to 2.1.391
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix trace viewer legacy filters being unclearable
  genai-engine/ui/src/components/traces/hooks/useSyncFiltersToUrl.tsx
Due: none

fix trace viewer legacy filters being unclearable (#1300)
  genai-engine/ui/src/components/traces/hooks/useSyncFiltersToUrl.tsx
Due: none

Increment arthur-engine version to 2.1.392
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Now that we verified that the claude-pr workflow can successfully run, give it write permission
  .github/workflows/claude-code-review.yml
Due: none

Now that we verified that the claude-pr workflow can successfully run… (#1301)
  .github/workflows/claude-code-review.yml
Due: none

Increment arthur-engine version to 2.1.393
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Standardize page headers, action buttons, and empty states across all task views
  genai-engine/ui/src/components/ApiKeysManagement.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/agent-experiments/components/experiments/index.tsx
  genai-engine/ui/src/components/agent-experiments/index.tsx
  genai-engine/ui/src/components/agent-notebook/index.tsx
  genai-engine/ui/src/components/datasets/DatasetsEmptyState.tsx
  genai-engine/ui/src/components/datasets/DatasetsView.tsx
  genai-engine/ui/src/components/datasets/DatasetsViewHeader.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorsHeader.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/components/notebooks/Notebooks.tsx
  genai-engine/ui/src/components/notebooks/NotebooksHeader.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsEmptyState.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsViewHeader.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagementHeader.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsEmptyState.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsViewHeader.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooks.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooksHeader.tsx
  genai-engine/ui/src/components/traces/components/TracesViewLayout.tsx
  genai-engine/ui/src/components/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
Due: none

fix anthropic messages require more than just system message
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Clean up: Remove redundant exception handlers
  genai-engine/src/routers/api_key_routes.py
  genai-engine/src/routers/chat_routes.py
  genai-engine/src/routers/v2/feedback_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/routers/v2/rule_management_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/routers/v2/validate_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Standardize page headers, action buttons, and empty states across all… (#1294)
  genai-engine/ui/src/components/ApiKeysManagement.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/agent-experiments/components/experiments/index.tsx
  genai-engine/ui/src/components/agent-experiments/index.tsx
  genai-engine/ui/src/components/agent-notebook/index.tsx
  genai-engine/ui/src/components/datasets/DatasetsEmptyState.tsx
  genai-engine/ui/src/components/datasets/DatasetsView.tsx
  genai-engine/ui/src/components/datasets/DatasetsViewHeader.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorsHeader.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/components/notebooks/Notebooks.tsx
  genai-engine/ui/src/components/notebooks/NotebooksHeader.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsEmptyState.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsViewHeader.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagementHeader.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsEmptyState.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentsViewHeader.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooks.tsx
  genai-engine/ui/src/components/retrievals/notebooks/RagNotebooksHeader.tsx
  genai-engine/ui/src/components/traces/components/TracesViewLayout.tsx
  genai-engine/ui/src/components/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
Due: none

Increment arthur-engine version to 2.1.394
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Adjust code review triggers; allow Claude to run without getting approvals
  .github/workflows/claude-code-review.yml
Due: none

Fix: code-review expects a fully qualified PR URL, not a repo-relative path
  .github/workflows/claude-code-review.yml
Due: none

Claude Code CI config adjustments (#1304)
  .github/workflows/claude-code-review.yml
  genai-engine/src/routers/api_key_routes.py
  genai-engine/src/routers/chat_routes.py
  genai-engine/src/routers/v2/feedback_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/routers/v2/rule_management_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/routers/v2/validate_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.395
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Document GENAI_ENGINE_SKIP_MODEL_LOADING feature flag
  genai-engine/README.md
Due: none

The workflow now has a second step that posts the review summary as a PR comment
  .github/workflows/claude-code-review.yml
Due: none
