Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

add prompts management page and auto-close db sessions (#790)
  genai-engine/src/dependencies.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/prompts-management/PromptFormModal.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagementHeader.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/hooks/useCreatePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePrompt.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePromptVersions.ts
  genai-engine/ui/src/components/prompts-management/hooks/usePrompts.ts
  genai-engine/ui/src/components/prompts-management/table/PromptRowExpansion.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/prompts-management/types.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.173
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

expirement executor
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update experiment_executor.py
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

updates to executor
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix summary info populating
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix executor
  genai-engine/src/api_changelog.md
  genai-engine/src/services/experiment_executor.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/hooks/usePromptExperiments.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix and format
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix types
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

formatting and fixes
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UI Fixes
  genai-engine/src/services/experiment_executor.py
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/utils/formatters.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UI fixes
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/utils/formatters.ts
Due: none

style updates
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
Due: none

Load datasets only on drawer-open
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/hooks/useDatasets.ts
Due: none

UI fixes
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
Due: none

Bump arthur-common
  CLAUDE.md
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

update DB model
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add cost for experiments
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Load datasets only on drawer-open (#795)
  CLAUDE.md
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/hooks/useDatasets.ts
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.174
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add costs to UI
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

attempt to fix cost passing
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
Due: none

add delete to prompts and evals mgmt and remove expansion
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/table/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/types.ts
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptVersionMutation.ts
  genai-engine/ui/src/components/prompts-management/table/PromptRowExpansion.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/prompts-management/types.ts
Due: none

lint management pages
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
Due: none

fix build errors
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
Due: none

ui improvements
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
Due: none

add delete to prompts and evals mgmt and remove expansion (#796)
  genai-engine/ui/src/components/evaluators/EvalFormModal.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalFullScreenView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalVersionMutation.ts
  genai-engine/ui/src/components/evaluators/table/EvalRowExpansion.tsx
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/types.ts
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptFullScreenView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptVersionDrawer.tsx
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptMutation.ts
  genai-engine/ui/src/components/prompts-management/hooks/useDeletePromptVersionMutation.ts
  genai-engine/ui/src/components/prompts-management/table/PromptRowExpansion.tsx
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/prompts-management/types.ts
Due: none

Increment arthur-engine version to 2.1.175
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

Add Transform Management page
  genai-engine/CLAUDE.md
  genai-engine/ui/CLAUDE.md
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformFormModal.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/datasets/transforms/hooks/useCreateTransformMutation.ts
  genai-engine/ui/src/components/datasets/transforms/hooks/useDeleteTransformMutation.ts
  genai-engine/ui/src/components/datasets/transforms/hooks/useTransforms.ts
  genai-engine/ui/src/components/datasets/transforms/hooks/useUpdateTransformMutation.ts
  genai-engine/ui/src/components/datasets/transforms/table/TransformRowExpansion.tsx
  genai-engine/ui/src/components/datasets/transforms/table/TransformsTable.tsx
  genai-engine/ui/src/components/datasets/transforms/types.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformBuilder.ts
  ml-engine/CLAUDE.md
Due: none

experiment creation fixes
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

fix prompt variables
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

experiment creation working
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none
