Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Fix lint failure caused by mypy version bump from 1.19.1 to 1.20.0
  ml-engine/src/ml_engine/connectors/odbc_connector.py
Due: ml-engine-pytest-check

fixed test
  genai-engine/tests/unit/routes/configuration/test_configurations.py
Due: none

test runs view
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
Due: none

fixes
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

rewrote background_loop
  genai-engine/src/services/trace_retention_service.py
  genai-engine/tests/unit/services/test_trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add delete endpoint
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add test run delete
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Address claude comments
  genai-engine/src/api_changelog.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add delete and success toast
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
Due: none

add enum for status
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update TestRunDialog.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
Due: none

add is loading to traces page
  genai-engine/ui/src/components/traces/components/DataContentGate.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
Due: none

Enforce 3-day package minimum for uv dependency resolution
  arthur-observability-sdk/python/pyproject.toml
  deployment/ecs/model-upload/pyproject.toml
  deployment/gcp/model-upload/pyproject.toml
  deployment/k8s/model-upload-oc/pyproject.toml
  genai-engine/pyproject.toml
  ml-engine/pyproject.toml
Due: none

add tests
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
Due: none

lint
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Exclude torch from exclude-newer constraint as pytorch-cpu index doesn't provide upload timestamps for its wheels
  genai-engine/pyproject.toml
Due: none

lint
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: none

feat: validate schedule_id against assignments in compliance executor
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.504
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

refactor: read compliance_schedule_id from model instead of assignments
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
Due: ml-engine-pytest-check

feat(ui): unified evaluators + continuous evals UX in Evaluate section (#1563)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

Increment arthur-engine version to 2.1.505
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add ML eval support with continuous eval integration
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/llm_evaluator.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/base_ml_scorer.py
  genai-engine/src/scorer/ml_scorers.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalActions.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvaluators.tsx
  genai-engine/ui/src/components/ml-evaluators/hooks/useCreateMlEvalMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useDeleteMlEvalMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useDeleteMlEvalVersionMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEval.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEvalVersions.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEvals.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UI tweaks
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
Due: none

fix lint
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

claude fixes
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/lib/polling.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix tests and lint
  genai-engine/scripts/generate_changelog.sh
  genai-engine/scripts/generate_migration.sh
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove unused relation
  genai-engine/src/db_models/agentic_annotation_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

review comment
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

mr fixes
  genai-engine/alembic/versions/2026_04_07_1523-6939d74b3750_add_continuous_eval_test_table.py
  genai-engine/src/repositories/continuous_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fixes
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: ML eval support with continuous eval integration and unified evals API (v2.1.506)
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/CreateEvalTypeModal.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/MLEvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/hooks/useAllEvals.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteMLEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/create-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  version
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(db): backfill transform_versions table with initial data from trace_transforms
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
Due: none

fixes
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

MR fixes for concurrency
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

commit lock
  genai-engine/uv.lock
Due: none

do NOT delete resources
  genai-engine/src/repositories/trace_retention_repository.py
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(db): serialize config_snapshot as JSON in transform_versions table upgrade
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
Due: none

MR comments
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check
