Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Fix migration revision
  genai-engine/alembic/versions/2025_10_21_1918-ecc45f321532_add_user_id_to_spans.py
Due: none

Rag Provider Connection Support
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_22_1209-5a02e38003af_create_rag_configs.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/__init__.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_crud.py
  genai-engine/tests/unit/routes/rag/test_rag_providers_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add User ID (#631)
  genai-engine/alembic/versions/2025_10_21_1918-ecc45f321532_add_user_id_to_spans.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/__init__.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_user_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add versioning for agentic prompts
  genai-engine/alembic/versions/2025_10_20_1422-96e667d4e2af_add_versioning_to_agentic_prompts.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

remove constraints and modularize version filtering
  genai-engine/alembic/versions/2025_10_20_1422-96e667d4e2af_add_versioning_to_agentic_prompts.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

skip empty ModelProvider.None when listing model providers
  genai-engine/src/repositories/model_provider_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix rebase errs
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/schemas/response_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update prompt routes and response models
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix changelog
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/model_provider_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove names endpoint
  genai-engine/src/routers/v1/agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix router tests failing
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/response_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Create AGENTS.md
  genai-engine/ui/AGENTS.md
Due: none

Up 3134 dynamic providers (#640)
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

convert agent creation to use MUI
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/CreateTaskForm.tsx
Due: none

convert table to mui
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

adjust column width
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

Update ModelProviders.tsx
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

Add component
  genai-engine/examples/agents/analytics-agent/src/components/CopilotKitWithHeaders.tsx
Due: none

Remove logging
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

Move session and user to headers
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/app/layout.tsx
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

Update Mastra agent for sessions and users
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/app/layout.tsx
  genai-engine/examples/agents/analytics-agent/src/app/page.tsx
  genai-engine/examples/agents/analytics-agent/src/mastra/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
  genai-engine/examples/agents/analytics-agent/src/providers/TelemetryProvider.tsx
Due: none

Subclass the mastra agent
  genai-engine/examples/agents/analytics-agent/src/app/api/copilotkit/route.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/context-aware-agent.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
Due: none

add logos
  genai-engine/ui/public/logos/model_providers/anthropic-logo.svg
  genai-engine/ui/public/logos/model_providers/gemini-logo.svg
  genai-engine/ui/public/logos/model_providers/openai-logo.svg
  genai-engine/ui/src/components/ModelProviders.tsx
Due: none

updated API client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add pagination, sorting and filtering to list endpoints
  genai-engine/alembic/versions/2025_10_22_1646-5b5d630418ba_add_versioning_to_agentic_prompts.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

wip
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/sampleSpans.ts
Due: none

split filters into separate classes
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

remove sql supports comments from description
  genai-engine/src/routers/v1/agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor to liteLLM spans
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/sampleSpans.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

add versioning for agentic prompts (#629)
  genai-engine/alembic/versions/2025_10_22_1646-5b5d630418ba_add_versioning_to_agentic_prompts.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

actual response in output field
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/types.ts
Due: none

UP-3128: Deploy genai-engine to AWS
  .github/workflows/arthur-engine-workflow.yml
Due: none

Trigger the job with POST request
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix error with repsonse format saving
  genai-engine/ui/src/components/prompts/OutputField.tsx
Due: none

added more samples and changed minor css
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/sampleSpans.ts
Due: none

create strict mode for var replacement in prompts
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
