Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

add error state in api client
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add progress bar to modal to follow along
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
Due: none

Revert "[no-ref] change default genai provider to openai (#1553)" (#1561)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Increment arthur-engine version to 2.1.506
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4109 eval bulk testing (#1565)
  genai-engine/alembic/versions/2026_04_07_1523-6939d74b3750_add_continuous_eval_test_table.py
  genai-engine/scripts/generate_changelog.sh
  genai-engine/scripts/generate_migration.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/continuous_eval_test_run_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_test_run_routes.py
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunsHistory.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/components/traces/components/DataContentGate.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/polling.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.507
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: update arthur-client to 1.4.2007, use direct compliance_schedule_id access
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

fix: exempt arthur-client from exclude-newer constraint
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

fix: add required project_id to ModelSummary in compliance check tests
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: none

Add scheduled compliance job executor (#1540)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.508
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add transform version selector to continuous eval forms and fix restore version
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/transform_models.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/unit/db_models/test_transform_version_model.py
  genai-engine/tests/unit/routes/transforms/test_transform_versions.py
  genai-engine/ui/src/components/live-evals/components/create-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformFullScreenView.tsx
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: pin transform version in continuous eval execution
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
  genai-engine/alembic/versions/2026_04_08_1200-add_transform_version_id_to_continuous_evals.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/live-evals/components/create-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor: clean up code formatting in ContinuousEvalStepper and TransformSelector components
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformDetailView.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformFullScreenView.tsx
Due: none

resolve alembic merge
  genai-engine/alembic/versions/2026_04_09_1433-f15ac7955e6f_merge_trace_end_time_index_and_.py
Due: none

fix: preserve transform version pin when saving continuous eval
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/transform_models.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/db_models/test_transform_version_model.py
  genai-engine/tests/unit/routes/transforms/test_transform_versions.py
  genai-engine/ui/src/components/live-evals/components/create-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/transforms/RestoreTransformVersionDialog.tsx
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistory.tsx
  genai-engine/ui/src/components/transforms/TransformEditHistoryPanel.tsx
  genai-engine/ui/src/components/transforms/TransformImpactedCEsDialog.tsx
  genai-engine/ui/src/components/transforms/TransformVersionSnapshotModal.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformDetailView.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformFullScreenView.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformVersionDrawer.tsx
  genai-engine/ui/src/components/transforms/hooks/useImpactedTransformContinuousEvals.ts
  genai-engine/ui/src/components/transforms/hooks/useRestoreTransformVersionMutation.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: add delete functionality for transform versions
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(ui): add continuous eval name to AnnotationCell schema and table
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

Specifications of the onboarding agent
  onboarding/specifications.txt
Due: none

Tech design
  onboarding/tech-design.txt
Due: none

Initial vibe coded output
  onboarding/package.json
  onboarding/src/arthur/client.test.ts
  onboarding/src/arthur/client.ts
  onboarding/src/claude-code/sdk.ts
  onboarding/src/config/env.test.ts
  onboarding/src/config/env.ts
  onboarding/src/errors.ts
  onboarding/src/index.ts
  onboarding/src/mastra/agent.ts
  onboarding/src/mastra/index.ts
  onboarding/src/mastra/tools/code-analysis.ts
  onboarding/src/ui/avatar.ts
  onboarding/src/ui/prompts.test.ts
  onboarding/src/ui/prompts.ts
  onboarding/src/ui/theme.ts
  onboarding/src/workflow/orchestrator.ts
  onboarding/src/workflow/steps/01-prereqs.ts
  onboarding/src/workflow/steps/02-arthur-engine.ts
  onboarding/src/workflow/steps/03-task.ts
  onboarding/src/workflow/steps/04-python.ts
  onboarding/src/workflow/steps/05-mastra.ts
  onboarding/src/workflow/steps/06-other.ts
  onboarding/src/workflow/steps/07-verify.ts
  onboarding/test/fixtures/mastra-app/package.json
  onboarding/test/fixtures/mastra-app/src/mastra/index.ts
  onboarding/test/fixtures/openai-js-app/package.json
  onboarding/test/fixtures/openai-js-app/src/index.js
  onboarding/test/fixtures/python-langchain-app/main.py
  onboarding/test/fixtures/python-langchain-app/requirements.txt
  onboarding/tsconfig.json
  onboarding/vitest.config.ts
Due: none

mastra package should be used instead of the example
  onboarding/src/claude-code/sdk.ts
  onboarding/src/workflow/steps/05-mastra.ts
  onboarding/tech-design.txt
Due: none

move main.py under the src folder
  onboarding/test/fixtures/python-langchain-app/src/main.py
Due: none

refactor: simplify TraceTransform handling and remove unused definition references
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

lint and regen api spec
  genai-engine/src/api_changelog.md
  genai-engine/src/server.py
  genai-engine/src/services/synthetic_data_prompts.py
  genai-engine/src/services/system_tasks_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

bump common and litellm
  genai-engine/pyproject.toml
  genai-engine/src/services/synthetic_data_service.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

handle unknown model cost gracefully
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

lint
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: add policy_alert_rule_check_count metric for historic rule violation tracking
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

unify cost calculation and default to $0
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UI adjustment
  onboarding/src/index.ts
Due: none

Add user facing README
  onboarding/README.md
Due: none

fix tests
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: none

feat: add policy_alert_rule_check_count metric (#1570)
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.509
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] handle unknown model cost gracefully (#1569)
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.510
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
