Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Add agent metadata (#1203)
  genai-engine/alembic/versions/2026_02_04_1332-4af384f67b6b_create_task_metadata.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.352
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix poetry lock files
  genai-engine/poetry.lock
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Databricks connector support (#1194)
  .claude/settings.local.json
  .gitignore
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.353
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.354
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

create agent discovery polling mechanism
  genai-engine/alembic/versions/2026_02_05_1213-6bb9c3509892_add_agentic_polling_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agent_discovery_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agent_discovery/__init__.py
  genai-engine/src/services/agent_discovery/registered_agent_polling_service.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/services/conftest.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: inherit secrets
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: inherit secrets (#1211)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.355
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix retry polling logic and add unit tests for that route
  genai-engine/src/repositories/agent_discovery_repository.py
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_discovery_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

bump arthur common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

fix sqlite test db errs
  genai-engine/src/db_models/agent_polling_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: add evals input field
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
Due: none

[UP-3723] feat: add evals input field (#1209)
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
Due: none

Increment arthur-engine version to 2.1.356
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Create Resource Metadata and System Task
  genai-engine/alembic/versions/2026_02_06_1043-516d579bd164_create_resource_meta_table_and_system_.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/resource_metadata_repository.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/repositories/test_resource_metadata_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add changes from comment requests
  genai-engine/.env
  genai-engine/alembic/versions/2026_02_05_1213-6bb9c3509892_add_agentic_polling_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/task/__init__.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_discovery_routes.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add service name mappings
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/routers/v1/service_name_mapping_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/tests/routes/trace_api/test_service_name_mapping_routes.py
  genai-engine/tests/unit/repositories/test_service_name_mapping_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix tests
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix failing unit test
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
Due: none

Move get system task to util
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/task_utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Mypy
  genai-engine/src/utils/task_utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add migration
  genai-engine/alembic/versions/2026_02_06_1246-c2b62e95341f_create_service_name_map.py
Due: none

reset failed run count on successful execution
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix service map tests
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_service_name_mapping_routes.py
Due: none

Fix service name tests
  genai-engine/tests/routes/trace_api/test_service_name_mapping_routes.py
Due: none

Fix resource metadata tests
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
Due: none

create agent discovery polling mechanism (#1212)
  genai-engine/.env
  genai-engine/alembic/versions/2026_02_05_1213-6bb9c3509892_add_agentic_polling_table.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/task/__init__.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/services/conftest.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.357
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
