Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

ci(renovate): use infra experts (ntatsumi, jdbarthur) for major infra bumps
  renovate.json
Due: none

ci(renovate): auto-merge lockFileMaintenance and replacement updates
  renovate.json
Due: none

ci(renovate): route major bumps to domain experts for review (#2099)
  renovate.json
Due: none

Increment arthur-engine version to 2.1.771
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(deps): exempt fastapi-pagination from release-age soak
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

docs(api): regenerate OpenAPI schema for FastAPI 0.140 bump
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

ci(renovate-autofix): label soak-blocked Renovate PRs (#2095)
  .github/workflows/renovate-autofix.yml
Due: none

Increment arthur-engine version to 2.1.772
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(audit): flatten nested routers for FastAPI 0.140 introspection
  genai-engine/src/monitoring/audit_log_middleware.py
  genai-engine/src/utils/routes.py
  genai-engine/tests/coverage/test_route_scope_coverage.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.773
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.774
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(ui): add ModelWhitelistSection to provider configure dialog (UP-4699)
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.test.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.tsx
Due: none

feat(model-providers): filter available models by whitelist in repository (UP-4699)
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/tests/unit/repositories/test_model_provider_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(model-providers): add model whitelist GET/PUT endpoints (UP-4699)
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(ui): add model whitelist query and mutation hooks (UP-4699)
  genai-engine/ui/src/components/model-providers/hooks/useModelWhitelist.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveModelWhitelist.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat(model-providers): add model_whitelist column to secret_storage (UP-4699)
  genai-engine/alembic/versions/2026_07_27_1200-b3f2a91c4d17_add_model_whitelist_to_secret_storage.py
  genai-engine/src/db_models/secret_storage_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor(ui): derive whitelist display from a dirty prop (UP-4699)
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.test.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveProvider.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
Due: none

fix(ui): invalidate available models through queryKeys (UP-4699)
  genai-engine/ui/src/components/model-providers/hooks/useSaveModelWhitelist.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

chore(genai-engine): order api changelog entries newest-first
  genai-engine/src/api_changelog.md
Due: none

feat(ui): save model whitelist from the provider configure dialog (UP-4699)
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
Due: none

style(ui): apply prettier to the provider edit form
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

fix: gate the provider whitelist read to admin roles
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/tests/unit/utils/test_users.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

test(genai-engine): drive model provider tests through GenaiEngineTestClientBase
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

chore: remove redundant comments and move condition to a const
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

chore: remove redundant comments
  genai-engine/alembic/versions/2026_07_27_1200-b3f2a91c4d17_add_model_whitelist_to_secret_storage.py
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/tests/unit/repositories/test_model_provider_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.test.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/evaluators/EvalEditModal.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.test.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/model-whitelist/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/hooks/useModelWhitelist.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveModelWhitelist.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

refactor(genai-engine): share the provider secret lookup in ModelProviderRepository
  genai-engine/src/repositories/model_provider_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat(ui): keep de-whitelisted models visible in pickers (UP-4699)
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.test.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/evaluators/EvalEditModal.tsx
Due: none

fix(ui): surface provider save failures in the configure dialog (UP-4699)
  genai-engine/ui/src/components/model-providers/index.tsx
Due: none

feat: add source trace drawer to display linked traces in the same view
  genai-engine/ui/src/components/common/SourceTraceLink.test.tsx
  genai-engine/ui/src/components/common/SourceTraceLink.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.test.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.tsx
Due: none

chore: fix typecheck
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/SourceTraceLink.test.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.test.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.tsx
Due: none

fix: tanstack query eslint
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/ui/src/components/model-providers/hooks/useModelWhitelist.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: lint
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.tsx
Due: none

UP-4722 Add source trace drawer to display linked traces in the same view (#1999)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/SourceTraceLink.test.tsx
  genai-engine/ui/src/components/common/SourceTraceLink.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/DatasetTableRow.tsx
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.test.tsx
  genai-engine/ui/src/components/traces/components/source-trace/SourceTraceDrawer.tsx
Due: none

Increment arthur-engine version to 2.1.775
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: disable Renovate auto-merge (supply-chain precaution)
  renovate.json
Due: none

Increment arthur-engine version to 2.1.776
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: re-enable Renovate auto-merge
  renovate.json
Due: none

consolidate datasets
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/routes/tasks/test_task_metrics.py
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

chore(helm): rename GPU autoscaler add-on chart to genai-engine-gpu-autoscaler-karpenter
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/.gitignore
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/.helmignore
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/Chart.yaml
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/README.md
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/templates/NOTES.txt
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/templates/_helpers.tpl
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/templates/hpa.yaml
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/values.schema.json
  deployment/helm/genai-engine/README.md
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
Due: none

docs(helm): add values.yaml.template for the GPU autoscaler add-on chart
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/README.md
  deployment/helm/genai-engine-gpu-autoscaler-karpenter/values.yaml.template
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
