Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

[no-ref] fix batch ingestion when root spans are present (#424)
  genai-engine/src/db_models/db_models.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove outdated scripts
  ml-engine/scripts/openapi_client_utils.sh
Due: none

exact version of arthur-common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

revert to __name__
  genai-engine/changelog.py
Due: none

remove remnants
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

Add filters, clean up tool selection enum
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/scorer/test_tool_selection.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

removed TODOs
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

updated/reverted readme and changelog
  genai-engine/README.md
  genai-engine/src/api_changelog.md
Due: none

poetry lock
  genai-engine/poetry.lock
  ml-engine/poetry.lock
Due: none

feat: update SnowflakeConnector to support JWT authentication
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

UP-3006: ML Engine Dev Doc Enhancements
  genai-engine/README.md
  ml-engine/README.md
  ml-engine/install_db_dependencies.sh
  ml-engine/scripts/install_db_dependencies.sh
  ml-engine/scripts/lint.sh
Due: none

Fix tests, update changelog
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/db_models.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix python datetime typing in db_models
  genai-engine/src/db_models/db_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Use trace metadata for trace response contents
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/tree_building_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Trace metadata tests
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_metadata_management.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update openapi.json
  genai-engine/staging.openapi.json
Due: none

UP-3006: ML Engine Dev Doc Enhancements (#427)
  genai-engine/README.md
  ml-engine/README.md
  ml-engine/install_db_dependencies.sh
  ml-engine/scripts/install_db_dependencies.sh
  ml-engine/scripts/lint.sh
Due: none

chore(deps): update arthur-common to v2.1.61 and add openinference-semantic-conventions v0.1.21
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: ml-engine-pytest-check

chore(deps): update arthur-common to v2.1.61 and add openinference-se… (#440)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: ml-engine-pytest-check

chore(deps): update dependencies in pyproject.toml and requirements.txt
  genai-engine/locust/requirements.txt
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

chore(deps): update dependencies in poetry.lock and pyproject.toml to latest versions
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

chore(deps): update dependencies in pyproject.toml and requirements.txt (#441)
  genai-engine/locust/requirements.txt
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

UP-3022: Run ml-engine as non-root user
  ml-engine/Dockerfile
Due: none

Remove git from deps
  ml-engine/Dockerfile
Due: none

port adding pii v1 pipeline from shield
  genai-engine/src/dependencies.py
  genai-engine/src/scorer/__init__.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/tests/unit/test_pii_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix loading
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

add default confidence threshold for pii v1
  genai-engine/src/scorer/checks/pii/classifier_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

check pii threshold is None instead of 0 for v1
  genai-engine/src/scorer/checks/pii/classifier_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

port adding pii v1 pipeline from shield (#443)
  genai-engine/src/dependencies.py
  genai-engine/src/scorer/__init__.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/tests/unit/test_pii_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix failing tests
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
Due: ml-engine-pytest-check

remove outdated todos
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

UP-2945: API consolidation ML engine only
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

fix overwritten import
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

UP-2945: API consolidation ML engine only (#445)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

remove ml-engine changes handled in another PR
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check
