Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.712
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

more gap fills
  genai-engine/ui/src/components/CreateTaskForm.test.tsx
  genai-engine/ui/src/components/CreateTaskForm.tsx
  genai-engine/ui/src/services/analytics/AGENTS.md
  genai-engine/ui/src/services/analytics/client.test.ts
  genai-engine/ui/src/services/analytics/client.ts
  genai-engine/ui/src/services/analytics/events/index.ts
  genai-engine/ui/src/services/analytics/events/tasks.ts
Due: none

Increment arthur-engine version to 2.1.713
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.714
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: move assistant button to the sidebar
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/chatbot/ChatbotDrawer.tsx
Due: none

feat: move assistant drawer down by 8px
  genai-engine/ui/src/components/chatbot/ChatbotDrawer.tsx
Due: none

Increment arthur-engine version to 2.1.715
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(pii): load spaCy/Presidio PII models once per process, not per eval
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(pii): satisfy mypy strict for Optional PII model getters
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

test(pii): patch get_presidio_analyzer for classifier_v1 singleton
  genai-engine/tests/unit/test_pii_v1.py
Due: none

Remove stale per-instance comments in PII classifier and model_load flagged in review
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Exclude SKIPPED continuous evals from Success % denominator
  genai-engine/src/repositories/span_repository.py
  genai-engine/tests/routes/trace_api/test_trace_overview_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.716
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore(deps): regenerate uv.lock for litellm 1.92.0 bump
  genai-engine/uv.lock
Due: none

Trim success-rate denominator comment per review
  genai-engine/src/repositories/span_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Also exclude pending/running evals from success-rate denominator
  genai-engine/src/repositories/span_repository.py
  genai-engine/tests/routes/trace_api/test_trace_overview_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore(deps): bump openai to 2.46.0 for langchain-openai 1.3.5 and regen uv.lock
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

Cap alert log buckets per rule per job run
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
Due: ml-engine-pytest-check

chore(deps): bump pytest-asyncio to 1.4.0 for pytest 9 and regen uv.lock
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.717
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add expandable table row
  genai-engine/ui/src/components/common/ExpandableTableRow.test.tsx
  genai-engine/ui/src/components/common/ExpandableTableRow.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

Increment arthur-engine version to 2.1.718
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add warning when leaving with unsaved changes
  blazebot/memory/UP-4695.md
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/contexts/dataset/DatasetContext.tsx
  genai-engine/ui/src/contexts/dataset/index.ts
  genai-engine/ui/src/contexts/dataset/reducer.test.ts
  genai-engine/ui/src/contexts/dataset/reducer.ts
  genai-engine/ui/src/contexts/dataset/selectors.ts
  genai-engine/ui/src/contexts/dataset/types.ts
Due: none

Increment arthur-engine version to 2.1.719
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add bulk-add-traces-to-dataset endpoint (UP-4721 backend)
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/dataset_bulk_add_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_bulk_add_traces.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add bulk add-to-dataset UI in trace table (UP-4721 frontend)
  genai-engine/ui/src/components/traces/components/add-to-dataset/BulkAddToDatasetDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useBulkAddTracesToDataset.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SelectionActionBar.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Apply review fixes for bulk add-traces-to-dataset (UP-4721)
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/tests/unit/routes/datasets/test_bulk_add_traces.py
  genai-engine/ui/src/components/traces/components/add-to-dataset/BulkAddToDatasetDialog.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Label built-in Arthur evaluators in the eval detail view
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

Fix built-in evaluator detection to use an explicit allow-list of ML eval kinds
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

fix(prompt-experiment): bound create-time memory by flushing test cases per row
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/tests/unit/repositories/test_prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(prompt-experiment): stream summary read-back to bound run-time memory
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/tests/unit/repositories/test_prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(prompt-experiment): apply dataset_row_filter in Python, not SQL
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Remove unnecessary comment flagged in review
  genai-engine/src/db_models/dataset_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Make summary batch size configurable via env var per review
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  genai-engine/.env
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Extract test helper to module scope per review
  genai-engine/tests/unit/repositories/test_prompt_experiment_repository.py
Due: none

Trim verbose comments per review
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/tests/unit/repositories/test_prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.720
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.721
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.722
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

docs(efs): fix gaps found during a live EFS model-store setup
  deployment/helm/genai-engine/README.md
  deployment/model-upload/README.md
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
