Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.97
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.98
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Use postgres 15 instead of 18
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

UP-3128: Do not bump version on incement commits
  .github/workflows/version-workflow.yml
Due: none

UP-3128: Do not bump version on incement commits (#687)
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.99
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix secret name for deploy token
  .github/workflows/arthur-engine-workflow.yml
Due: none

Fix secret name for deploy token (#688)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.100
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

review suggestions
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix messages exporting incorrectly (#683)
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

Increment arthur-engine version to 2.1.101
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

review suggestions
  genai-engine/src/repositories/rag_providers_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix merge
  genai-engine/src/schemas/request_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3207: RAG execution endpoints - search and test connection (#673)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/__init__.py
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Rag Provider Connection Support (#642)
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_30_1209-5a02e38003af_create_rag_configs.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/__init__.py
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/__init__.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_crud.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
  genai-engine/tests/unit/routes/rag/test_rag_providers_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.102
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update down-revision
  genai-engine/alembic/versions/2025_10_29_1645-2264832c91c0_update_raw_span_structure.py
Due: none

[no-ref] update tracing endpoint in mastra exporter
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
Due: none

[no-ref] update tracing endpoint in mastra exporter (#689)
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/tracing.ts
Due: none

Increment arthur-engine version to 2.1.103
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: resolve comments
  genai-engine/ui/eslint.config.js
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/ui/LoadingButton/index.tsx
  genai-engine/ui/src/query-options/sessions.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

Update span processor to OpenInference Semantic convention (#674)
  genai-engine/alembic/versions/2025_10_29_1645-2264832c91c0_update_raw_span_structure.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/trace/__init__.py
  genai-engine/src/services/trace/span_normalization_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/span_semantic_conventions.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/trace_api/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.104
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3207: More RAG search funtionality
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_keyword_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

run changelog generator
  genai-engine/README.md
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

UP-3207: Add query collections endpoint
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
