Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Poc/agent discovery (#1146)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/trace/gcp_conversion_service.py
  genai-engine/src/services/trace/otel_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.347
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: remove extra tags
  .github/workflows/build-gcp-model-upload.yml
Due: none

Fix transforms list limited to 10 items
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/transforms/hooks/useTransforms.ts
  genai-engine/ui/src/hooks/transforms/useTransforms.tsx
Due: none

feat: add cicd for gcp model upload (#1197)
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-gcp-model-upload.yml
Due: none

Increment arthur-engine version to 2.1.348
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix transforms list limited to 10 items (#1188)
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/transforms/hooks/useTransforms.ts
  genai-engine/ui/src/hooks/transforms/useTransforms.tsx
Due: none

Increment arthur-engine version to 2.1.349
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix alphabetical ordering of MUI Dialog imports
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

Reorganize Evaluator detail view for improved UX
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

Reorganize Evaluator detail view for improved UX (#1127)
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

Increment arthur-engine version to 2.1.350
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add pagination metadata to transforms list endpoint
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/transforms/test_transform_crud.py
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add agent metadata
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

ignore conflicting agent metadata types
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

Lint/Mypy
  genai-engine/alembic/versions/2026_02_04_1332-4af384f67b6b_create_task_metadata.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

connector implemented
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

Update test_databricks_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
Due: none

lint
  ml-engine/src/ml_engine/connectors/databricks_connector.py
Due: ml-engine-pytest-check

mypy
  ml-engine/src/ml_engine/connectors/databricks_connector.py
Due: ml-engine-pytest-check

bump common
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Lint
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

JSONB->JSON
  genai-engine/alembic/versions/2026_02_04_1332-4af384f67b6b_create_task_metadata.py
  genai-engine/src/db_models/task_models.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Linthell
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

bump common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

update api changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix databricks connector tests
  ml-engine/tests/unit/connectors/test_databricks_connector.py
Due: none

feat: add transform table pagination
  genai-engine/ui/src/components/agent-experiments/new/components/evaluator-mapper.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/hooks/transforms/useTransforms.tsx
Due: none

feat: add transform table pagination (#1191)
  genai-engine/ui/src/components/agent-experiments/new/components/evaluator-mapper.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/hooks/transforms/useTransforms.tsx
Due: none

Increment arthur-engine version to 2.1.351
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
