Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

bug fixes
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

fixes
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
Due: ml-engine-pytest-check

fix job
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

bump arthur client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

fix tests
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: none

fix lint
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

fix linter
  ml-engine/scripts/run_linter.sh
Due: none

wip
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

modified github yaml
  .github/workflows/arthur-engine-workflow.yml
Due: none

correct base branch
  .github/workflows/arthur-engine-workflow.yml
Due: none

test
  genai-engine/ui/src/main.tsx
Due: none

add unit tests
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_rag_experiment_routes.py
Due: none

fix alembic ordering
  genai-engine/alembic/versions/2025_12_10_1120-522b83a56135_create_rag_experiments.py
  genai-engine/src/schemas/rag_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update Task Sync Job to Include Evals (#942)
  genai-engine/src/dependencies.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  ml-engine/.gitignore
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/scripts/openapi_client_utils.sh
  ml-engine/scripts/run_linter.sh
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.250
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: evals feature complete
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

feat: evals annotations and filtering
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/common/form/DatePickerField.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/shared.ts
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/types/common.ts
  genai-engine/ui/yarn.lock
Due: none

fix: annotation schema
  genai-engine/ui/package.json
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/reset.d.ts
  genai-engine/ui/yarn.lock
Due: none

feat: mock work in progress
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/evaluators/VariableChip.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
Due: none

feat: evals wip
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/hooks/transforms/useTransform.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: add more mock
  genai-engine/ui/src/components/traces/components/EvalsCell/index.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
Due: none

fix: types
  genai-engine/ui/src/components/common/form/DatePickerField.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

feat: add evals cell
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/EvalsCell/index.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
Due: none

feat: add mock eval details screen
  genai-engine/ui/src/components/live-evals/[evalId]/StatCard.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/StatusChips.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/mockData.ts
  genai-engine/ui/src/components/live-evals/[evalId]/types.ts
  genai-engine/ui/src/components/live-evals/[evalId]/utils.ts
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/hooks/useDrawerTarget.tsx
  genai-engine/ui/src/hooks/traces/useTraces.ts
  genai-engine/ui/src/hooks/useTrace.ts
Due: none

feat: connect live evals to backend
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/data/columns.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
  genai-engine/ui/src/components/live-evals/hooks/useCreateContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useDeleteContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/hooks/useUpdateContinuousEval.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: update create UI to match the requirements
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/transforms/hooks/useCreateTransformMutation.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat: change to transformId from name
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

feat: add filters
  genai-engine/ui/src/components/traces/components/AnnotationCell/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/reset.d.ts
Due: none

feat: add run details
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/live-evals/hooks/useAnnotation.tsx
  genai-engine/ui/src/components/live-evals/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Increment arthur-engine version to 2.1.251
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Remove AnnotationsMetadata types
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

set eval name + version from db state on annotations
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

lint
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update API spec
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix tests
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
Due: none
