Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

add timeout for custom aggregation calculations (#458)
  ml-engine/src/ml_engine/config/config.py
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Update route summaries
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update descriptions
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

bump arthur-common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

bump arthur-client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

UP-2945: Bump arthur-common (#465)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

pick up arthur-common constants
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

Update query with task_ids filter
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Up 2981 add filters to endpoints (#453)
  genai-engine/alembic/versions/2025_09_10_1613-4617f961d9f0_metric_details_to_json.py
  genai-engine/changelog.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/db_models.py
  genai-engine/src/metrics_engine.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/rules_engine.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/metric_counters.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_query_filtering.py
  genai-engine/tests/routes/span/test_query_traces.py
  genai-engine/tests/routes/span/test_span_ingestion.py
  genai-engine/tests/unit/scorer/test_tool_selection.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add agg id and version as metric dimensions
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

pick up snowflake enum
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

fix unit tests
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_snowflake_connector.py
Due: none

Enhance ODBCConnector to support Snowflake integration (#357)
  .gitignore
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
  ml-engine/src/ml_engine/tools/connector_constructor.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_snowflake_connector.py
Due: ml-engine-pytest-check

add new dims even if dataset ref does not exist
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: ml-engine-pytest-check

add agg id and version as metric dimensions (#468)
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

remove entrypoing override from docker-compose
  deployment/docker-compose/arthur-engine/docker-compose.yml
Due: none

[NO-REF]: remove entrypoint override from docker-compose (#473)
  deployment/docker-compose/arthur-engine/docker-compose.yml
Due: none

add to docker compose for local dev
  genai-engine/docker-compose.yml
Due: none

some progress with auth
  genai-engine/ui/AUTHENTICATION.md
  genai-engine/ui/package.json
  genai-engine/ui/src/app/layout.tsx
  genai-engine/ui/src/app/page.tsx
  genai-engine/ui/src/components/AuthGuard.tsx
  genai-engine/ui/src/components/Dashboard.tsx
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/lib/auth.ts
Due: none

Fix the formatting of secrets
  deployment/cloudformation/core/arthur-core-secrets-manager.yml
  deployment/cloudformation/ml-engine/arthur-ml-engine-secrets-manager.yml
Due: none

auth working
  genai-engine/src/server.py
  genai-engine/ui/.cursorrules
  genai-engine/ui/README.md
  genai-engine/ui/package-lock.json
  genai-engine/ui/package.json
  genai-engine/ui/src/components/Dashboard.tsx
  genai-engine/ui/src/hooks/useApi.ts
  genai-engine/ui/src/lib/API_README.md
  genai-engine/ui/src/lib/api.ts
  genai-engine/ui/src/lib/auth.ts
  genai-engine/ui/yarn.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix types
  genai-engine/ui/src/hooks/useApi.ts
  genai-engine/ui/src/lib/api.ts
Due: none

nav
  genai-engine/ui/.cursorrules
  genai-engine/ui/src/app/page.tsx
  genai-engine/ui/src/app/tasks/[id]/page.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/Dashboard.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskErrorState.tsx
  genai-engine/ui/src/components/TaskLoadingState.tsx
  genai-engine/ui/src/components/TaskNotFoundState.tsx
Due: none

update nav
  genai-engine/ui/src/app/tasks/[id]/agent-experiments/page.tsx
  genai-engine/ui/src/app/tasks/[id]/datasets/page.tsx
  genai-engine/ui/src/app/tasks/[id]/evaluators/page.tsx
  genai-engine/ui/src/app/tasks/[id]/layout.tsx
  genai-engine/ui/src/app/tasks/[id]/page.tsx
  genai-engine/ui/src/app/tasks/[id]/prompt-experiments/page.tsx
  genai-engine/ui/src/app/tasks/[id]/rag-experiments/page.tsx
  genai-engine/ui/src/app/tasks/[id]/retrievals/page.tsx
  genai-engine/ui/src/app/tasks/[id]/traces/page.tsx
  genai-engine/ui/src/components/ComingSoon.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskErrorState.tsx
  genai-engine/ui/src/components/TaskLoadingState.tsx
  genai-engine/ui/src/components/TaskNotFoundState.tsx
  genai-engine/ui/src/contexts/TaskContext.tsx
Due: none

more nav
  genai-engine/ui/src/app/tasks/[id]/layout.tsx
  genai-engine/ui/src/app/tasks/[id]/task-details/page.tsx
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Update AllTasks.tsx
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

Update layout.tsx
  genai-engine/ui/src/app/tasks/[id]/layout.tsx
Due: none

fix scrolling and logout buttons
  genai-engine/ui/src/app/tasks/[id]/layout.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
Due: none

fix screen
  genai-engine/ui/src/components/ComingSoon.tsx
Due: none

initial traces view
  genai-engine/ui/src/app/tasks/[id]/traces/page.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/api.ts
Due: none

trace viewer looking better
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/lib/api.ts
  genai-engine/ui/yarn.lock
Due: none

update input/output
  genai-engine/ui/src/components/TracesView.tsx
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
