Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix(tracer): Claude Code tracer reliability fixes (#1495)
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Increment arthur-engine version to 2.1.484
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] set renovate minimumReleaseAge 3 days (#1511)
  renovate.json
Due: none

Increment arthur-engine version to 2.1.485
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: expose scope_url in display settings API
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/configuration/test_configurations.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: dynamically show Arthur Platform link when scope URL is configured
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/contexts/DisplaySettingsContext.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

chore: add SCOPE_FE_INGRESS_URI to all deployment configs, bump version to 2.1.486
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  version
Due: none

fix: regenerate api-client with chatbot+tag-filter endpoints, remove tag toLowerCase
  genai-engine/src/api_changelog.md
  genai-engine/ui/src/components/prompts-management/PromptsManagement.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix: restore staging.openapi.json to branch state, keep api-client with chatbot methods
  genai-engine/staging.openapi.json
Due: none

fix: run generate_changelog to sync staging.openapi.json with merged server spec
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

fix: use AfterValidator instead of Depends for URL-decoded path params
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4084 Push Helm to docker.io
  .github/workflows/arthur-engine-workflow.yml
Due: none

model-upload: Docker Hub image, slim runtime for cffi/cryptography
  deployment/gcp/model-upload/cloud-run-job.yaml
Due: none

Update GCP model upload job configuration with placeholders for namespace, service account, image version, and bucket name
  deployment/gcp/model-upload/cloud-run-job.yaml
Due: none

chore: update .gitignore and modify VSCode settings for genai-engine
  .gitignore
  deployment/model-upload/.gitignore
  deployment/model-upload/Dockerfile
  deployment/model-upload/README.md
  deployment/model-upload/build.sh
  deployment/model-upload/check_model_updates.py
  deployment/model-upload/download_models.py
  deployment/model-upload/models-manifest.json
  deployment/model-upload/pyproject.toml
  deployment/model-upload/upload_models.py
  genai-engine/.vscode/settings.json
Due: none

Remove deprecated model upload scripts and configuration files for ECS and GCP deployments, including .gitignore, Dockerfile, and Python scripts.
  deployment/ecs/model-upload/.gitignore
  deployment/ecs/model-upload/Dockerfile
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/check_model_updates.py
  deployment/ecs/model-upload/download_models.py
  deployment/ecs/model-upload/models-manifest.json
  deployment/ecs/model-upload/poetry.lock
  deployment/ecs/model-upload/pyproject.toml
  deployment/ecs/model-upload/task-definition.json
  deployment/ecs/model-upload/upload_models.py
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/Dockerfile
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/gliner_tokenizer_config.json
  deployment/k8s/model-upload-oc/poetry.lock
  deployment/k8s/model-upload-oc/pyproject.toml
  model-upload/.gitignore
  model-upload/Dockerfile
  model-upload/README.md
  model-upload/build.sh
  model-upload/check_model_updates.py
  model-upload/download_models.py
  model-upload/models-manifest.json
  model-upload/pyproject.toml
  model-upload/upload_models.py
Due: none

consolidate job
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/model-upload/templates/job.yaml
  deployment/helm/model-upload/templates/pvc.yaml
  deployment/helm/model-upload/templates/secret.yaml
  deployment/helm/model-upload/templates/serviceaccount.yaml
  deployment/helm/model-upload/values.yaml.template
  deployment/k8s/model-upload-oc/04-job.yaml
  model-upload/Dockerfile
  model-upload/README.md
  model-upload/build.sh
Due: none

Add separate deployments for each env type
  deployment/helm/model-upload-aws/Chart.yaml
  deployment/helm/model-upload-aws/templates/_helpers.tpl
  deployment/helm/model-upload-aws/templates/job.yaml
  deployment/helm/model-upload-aws/templates/secret.yaml
  deployment/helm/model-upload-aws/templates/serviceaccount.yaml
  deployment/helm/model-upload-aws/values.yaml.template
  deployment/helm/model-upload-gcp/Chart.yaml
  deployment/helm/model-upload-gcp/templates/_helpers.tpl
  deployment/helm/model-upload-gcp/templates/job.yaml
  deployment/helm/model-upload-gcp/templates/serviceaccount.yaml
  deployment/helm/model-upload-gcp/values.yaml.template
  deployment/helm/model-upload-onprem/Chart.yaml
  deployment/helm/model-upload-onprem/templates/_helpers.tpl
  deployment/helm/model-upload-onprem/templates/job.yaml
  deployment/helm/model-upload-onprem/templates/pvc.yaml
  deployment/helm/model-upload-onprem/templates/scc.yaml
  deployment/helm/model-upload-onprem/templates/serviceaccount.yaml
  deployment/helm/model-upload-onprem/values.yaml.template
  deployment/helm/model-upload/Chart.yaml
  deployment/helm/model-upload/README.md
Due: none

UP-4128 compliance check job implementation
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

lint
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

bump arthur client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

bump browserbase package in analytics agent UI
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/yarn.lock
Due: none

[no-ref] bump browserbase package in analytics agent UI (#1530)
  genai-engine/examples/agents/analytics-agent/package.json
  genai-engine/examples/agents/analytics-agent/yarn.lock
Due: none

Increment arthur-engine version to 2.1.486
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(ui): add confirmation dialog before closing transform builder sidepanel
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

Update compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

feat(ui): add confirmation dialog before closing transform builder sidepanel (#1532)
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

Increment arthur-engine version to 2.1.487
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add pagination in calls
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

fix imports
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

compliance job running
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

remove start end time
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

better instrumenting of agents/skills
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
