Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix: allow claude on increment prs (#1629)
  .github/workflows/arthur-observability-sdk-workflow.yml
Due: none

Increment arthur-engine version to 2.1.549
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: enhance API client interfaces with eval_type and optional fields
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix: make api_version required for Azure provider and fix test cleanup
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/azure.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: add support for Azure model provider with api_version and api_base validation
  genai-engine/alembic/versions/2026_04_30_1000-add_api_version_to_secret_storage.py
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/azure.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: update version and refine API client interfaces
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

chore: regenerate API client from updated staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat: add Azure as a LiteLLM model provider (#1617)
  genai-engine/alembic/versions/2026_04_30_1000-add_api_version_to_secret_storage.py
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/azure.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.550
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: consolidate model-upload directories into unified deployment/model-upload/
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-ecs-model-upload.yml
  .github/workflows/build-gcp-model-upload.yml
  .github/workflows/build-k8s-model-upload.yml
  deployment/model-upload/.gitignore
  deployment/model-upload/Dockerfile
  deployment/model-upload/check_model_updates.py
  deployment/model-upload/download_models.py
  deployment/model-upload/ecs/task-definition.json
  deployment/model-upload/gcp/cloud-run-job.yaml
  deployment/model-upload/gcp/docker-compose.local.yml
  deployment/model-upload/gliner_tokenizer_config.json
  deployment/model-upload/helm/Chart.yaml
  deployment/model-upload/helm/README.md
  deployment/model-upload/helm/templates/_helpers.tpl
  deployment/model-upload/helm/templates/job.yaml
  deployment/model-upload/helm/templates/scc.yaml
  deployment/model-upload/helm/templates/secret.yaml
  deployment/model-upload/helm/templates/serviceaccount.yaml
  deployment/model-upload/helm/values.yaml.template
  deployment/model-upload/k8s/01-pvc.yaml
  deployment/model-upload/k8s/02-serviceaccount.yaml
  deployment/model-upload/k8s/04-job.yaml
  deployment/model-upload/k8s/06-copy-config-job.yaml
  deployment/model-upload/k8s/docker-compose.local.yml
  deployment/model-upload/models-manifest.json
  deployment/model-upload/pyproject.toml
  deployment/model-upload/upload_models.py
  deployment/model-upload/uv.lock
Due: none

refactor: streamline Docker image tagging in lts-release workflow
  .github/workflows/lts-release.yml
Due: none

fix: use --target for flat pip install and fix k8s job command
  deployment/model-upload/Dockerfile
  deployment/model-upload/k8s/04-job.yaml
Due: none

fix: use --no-hashes in uv export to allow cross-platform pip install
  deployment/model-upload/Dockerfile
Due: none

chore: remove old model-upload directories superseded by deployment/model-upload/
  deployment/ecs/model-upload/.gitignore
  deployment/ecs/model-upload/Dockerfile
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/check_model_updates.py
  deployment/ecs/model-upload/download_models.py
  deployment/ecs/model-upload/models-manifest.json
  deployment/ecs/model-upload/pyproject.toml
  deployment/ecs/model-upload/task-definition.json
  deployment/ecs/model-upload/upload_models.py
  deployment/ecs/model-upload/uv.lock
  deployment/gcp/model-upload/.gitignore
  deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/cloud-run-job.yaml
  deployment/gcp/model-upload/docker-compose.local.yml
  deployment/gcp/model-upload/download_models.py
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
  deployment/gcp/model-upload/uv.lock
  deployment/helm/model-upload/Chart.yaml
  deployment/helm/model-upload/README.md
  deployment/helm/model-upload/templates/_helpers.tpl
  deployment/helm/model-upload/templates/job.yaml
  deployment/helm/model-upload/templates/scc.yaml
  deployment/helm/model-upload/templates/secret.yaml
  deployment/helm/model-upload/templates/serviceaccount.yaml
  deployment/helm/model-upload/values.yaml.template
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/01-pvc.yaml
  deployment/k8s/model-upload-oc/02-serviceaccount.yaml
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/06-copy-config-job.yaml
  deployment/k8s/model-upload-oc/Dockerfile
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/gliner_tokenizer_config.json
  deployment/k8s/model-upload-oc/pyproject.toml
  deployment/k8s/model-upload-oc/uv.lock
Due: none

fix: download tiktoken encodings for all backends, not just k8s
  deployment/model-upload/Dockerfile
Due: none

refactor: remove tiktoken encoding support from model download process
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-ecs-model-upload.yml
  .github/workflows/build-gcp-model-upload.yml
  .github/workflows/build-k8s-model-upload.yml
  .github/workflows/lts-release.yml
  deployment/model-upload/Dockerfile
  deployment/model-upload/README.md
  deployment/model-upload/download_models.py
  deployment/model-upload/gcp/cloud-run-job.yaml
  deployment/model-upload/k8s/04-job.yaml
  deployment/model-upload/k8s/06-copy-config-job.yaml
  deployment/model-upload/pyproject.toml
  genai-engine/uv.lock
Due: none

refactor: update model upload workflows and configurations
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-ecs-model-upload.yml
  .github/workflows/build-k8s-model-upload.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-model-upload.yml
  deployment/model-upload/README.md
  deployment/model-upload/ecs/task-definition.json
  deployment/model-upload/gcp/cloud-run-job.yaml
  deployment/model-upload/helm/README.md
  deployment/model-upload/k8s/04-job.yaml
  deployment/model-upload/k8s/06-copy-config-job.yaml
Due: none

feat(ml-engine): fan out chain handoff stamps for model-wide checks
  ml-engine/src/ml_engine/job_executors/_chain_utils.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_chain_utils.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

feat: support prompt injection evaluation on responses
  genai-engine/src/api_changelog.md
  genai-engine/src/rules_engine.py
  genai-engine/src/scorer/checks/prompt_injection/classifier.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rules/test_rule_execution.py
  genai-engine/tests/unit/test_prompt_injection.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: add guardrails ui
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/guardrails/CreateRuleDialog.tsx
  genai-engine/ui/src/components/guardrails/GuardrailsView.tsx
  genai-engine/ui/src/components/guardrails/RuleCard.tsx
  genai-engine/ui/src/components/guardrails/RulesList.tsx
  genai-engine/ui/src/components/guardrails/TestPromptPanel.tsx
  genai-engine/ui/src/components/guardrails/ruleTypeConfig.ts
  genai-engine/ui/src/hooks/useGuardrails.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

chore(ml-engine): bump arthur-client 1.4.2007 → 1.4.2130
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

fix(ml-engine): dedup policy_alert_rule_check_count by triggering alert
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

feat(ml-engine): bake compliance policy check into alert check job (#1607)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/_chain_utils.py
  ml-engine/src/ml_engine/job_executors/_interval_utils.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_chain_utils.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.551
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Bug fix: query() does not have an .accountInfo() method and will throw TypeError at runtime
  onboarding/src/workflow/steps/01-prereqs.test.ts
  onboarding/src/workflow/steps/01-prereqs.ts
Due: none

fix: update migration chain to depend on dev's latest head
  genai-engine/alembic/versions/2026_03_23_1200-989b179b86b3_create_transform_versions_table.py
Due: none

Don't share API keys with LLM
  onboarding/src/claude-code/sdk.ts
  onboarding/src/workflow/steps/04-python.ts
  onboarding/src/workflow/steps/05-mastra.ts
  onboarding/src/workflow/steps/06-other.ts
Due: none

chore: bump arthur-common to 2.4.59
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

chore: regenerate staging.openapi.json and api_changelog.md
  genai-engine/staging.openapi.json
Due: none

chore: regenerate api-client.ts from updated openapi spec
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Make sure an unique buzz env file is managed per project
  onboarding/src/config/env.test.ts
  onboarding/src/config/env.ts
Due: none

Pass ARTHUR_API_KEY, ARTHUR_BASE_URL, and ARTHUR_TASK_ID as a scoped env directly to the query() call in sdk.ts so they don't leak to broader buzz process.
  onboarding/src/claude-code/sdk.ts
  onboarding/src/workflow/steps/04-python.ts
  onboarding/src/workflow/steps/05-mastra.ts
  onboarding/src/workflow/steps/06-other.ts
Due: none

Increment arthur-engine version to 2.1.552
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: revert log group deletion policy and complete GCP model upload workflow
  .github/workflows/build-gcp-model-upload.yml
Due: none

Add demo mode feature flag framework
  genai-engine/src/config/config.py
  genai-engine/src/routers/v2/engine_config_routes.py
  genai-engine/src/routers/v2/routers.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/routes/test_engine_config_routes.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/contexts/EngineConfigContext.tsx
  genai-engine/ui/src/hooks/useEngineConfig.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update staging OpenAPI spec and changelog for /api/v2/engine-config
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Refactor UI lint hook: switch to Stop event with CLAUDE_PROJECT_DIR and ESLint cache
  .claude/settings.json
Due: none

Add PostToolUse hook for UI auto-lint/format and fix App.tsx Prettier indentation
  .claude/settings.json
  genai-engine/ui/src/App.tsx
Due: none

Add .eslintcache to .gitignore
  genai-engine/ui/.gitignore
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
