Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Fix unsaved prompt naming
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix table rendering
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
Due: none

Fix rogue UUId
  genai-engine/ui/src/components/prompts-playground/reducer.ts
Due: none

feat: add success toast to import, improve action clarity
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
  genai-engine/ui/src/utils/datasetExport.ts
Due: none

Add success toast to import, improve save/apply action clarity (#749)
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/EditRowModal.tsx
  genai-engine/ui/src/utils/datasetExport.ts
Due: none

Increment arthur-engine version to 2.1.211
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] allow prompt and eval text to take up all available space (#843)
  genai-engine/ui/src/components/evaluators/MustacheHighlightedTextField.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
Due: none

Increment arthur-engine version to 2.1.212
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix missing rendered prompt
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
Due: none

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

update BE to filter rows for experiment
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/alembic/versions/2025_11_21_1744-2cb1d34dafa5_prompt_experiments_row_filter.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update FE to set filters
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add UX for viewing the test row
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

linter
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add notebook repo, model and routes
  genai-engine/src/db_models/notebook_models.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/routers/v1/notebook_routes.py
  genai-engine/src/schemas/notebook_schemas.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Im/add experiment dataset row filters (#852)
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/alembic/versions/2025_11_21_1744-2cb1d34dafa5_prompt_experiments_row_filter.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.213
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix migration
  genai-engine/alembic/versions/2025_11_20_1520-88a3cbf21434_support_non_similar_and_unsaved_prompts_.py
Due: none

fix merge
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix merge markers
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update save prompt message
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
Due: none

Lint
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add the ability to filter on trace annotation score
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add dataset name and version to API response
  genai-engine/alembic/versions/2025_11_21_1958-49afefacd064_add_link_from_experiments_to_datasets.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add dataset to experiment view
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
Due: none

add routing to dataset from experiments and create dataset experiments view
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/routers/v1/prompt_experiment_routes.py
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/hooks/usePromptExperiments.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix transform API typing
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

remove version from transform types
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/datasets/transforms/types.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

lint
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

format migrations
  genai-engine/alembic/versions/2025_11_21_1958-49afefacd064_add_link_from_experiments_to_datasets.py
Due: none

fix build
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

fix back button to experiment
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
Due: none

replace exists with join for annotation filtering and bump common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix dataset transform executor
  genai-engine/src/utils/transform_executor.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
