Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.575
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add quick start instruction with Codex
  README.md
Due: none

A grammar fix
  README.md
Due: none

Add quick start instruction with Codex (#1674)
  README.md
Due: none

Increment arthur-engine version to 2.1.576
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add quick start instruction with Codex (#1675)
  README.md
Due: none

Increment arthur-engine version to 2.1.577
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: PR comments
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add quick start instruction with Codex (#1676)
  README.md
Due: none

Increment arthur-engine version to 2.1.578
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(multitenancy): tenant-mode UI — /users/me on login + admin-nav gating (UP-4427)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/auth.ts
  genai-engine/ui/yarn.lock
Due: none

chore(ui): re-pin @tanstack/react-form pre-release to refresh form-core hash
  genai-engine/ui/yarn.lock
Due: none

[FE] Tenant-mode UI: /users/me on login + conditional admin-nav rendering (#1672)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/auth.ts
  genai-engine/ui/yarn.lock
Due: none

update checksum
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Revert "update checksum"
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

working TS
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

CI failure: yarn install --immutable checksum mismatch (#1677)
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.579
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

test(multitenancy): integration tests for org isolation + fuzz coverage (UP-4432)
  genai-engine/src/utils/users.py
  genai-engine/tests/coverage/__init__.py
  genai-engine/tests/coverage/test_repository_org_scope_coverage.py
  genai-engine/tests/coverage/test_route_scope_coverage.py
  genai-engine/tests/multitenancy/__init__.py
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

test(multitenancy): skip admin-still-succeeds for destructive DELETE case
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

feat(UP-4411): persist onboarding try-it-out submissions with session tokens (#1656)
  genai-engine/alembic/versions/2026_05_19_1200-d4e5f6a7b8c9_create_onboarding_tables.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/onboarding_models.py
  genai-engine/src/repositories/onboarding_repository.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/conftest.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/ui/src/components/onboarding/hooks/useCreateOnboardingSubmissionMutation.ts
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/types.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

docs(multitenancy): note auto-scan findings in repo coverage test
  genai-engine/tests/coverage/test_repository_org_scope_coverage.py
Due: none

parse out error messages
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanErrorPanel.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/api.ts
Due: none

add demo mode to start script
  genai-engine/scripts/start_local_server.sh
  genai-engine/ui/yarn.lock
Due: none

test(multitenancy): mixed-ownership Pattern D + Pattern C on trace/dataset/experiment/annotation
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

fix(multitenancy): pass UUID instances to org_scope filters (drop str() cast)
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

correct placement
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanErrorPanel.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
Due: none

test(multitenancy): remove duplicate, fix shape assertions, flag system bugs
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

style(multitenancy): lift in-method imports + per-case Pattern E status
  genai-engine/tests/coverage/test_route_scope_coverage.py
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

targeted style
  genai-engine/ui/src/theme/mui-theme.ts
Due: none

test(multitenancy): integration tests for org isolation + fuzz coverage (UP-4432) (#1678)
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/repositories/rules_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/repositories/usage_repository.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/src/utils/users.py
  genai-engine/tests/coverage/__init__.py
  genai-engine/tests/coverage/test_repository_org_scope_coverage.py
  genai-engine/tests/coverage/test_route_scope_coverage.py
  genai-engine/tests/multitenancy/__init__.py
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] demo chatbot improvements
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/ui/src/hooks/useChatbot.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix linter
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

move /users/me to separate router that's always enabled
  genai-engine/src/routers/user_routes.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix /users/me to work with admin keys
  genai-engine/src/routers/user_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] demo chatbot improvements (#1682)
  genai-engine/scripts/start_local_server.sh
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/routers/user_routes.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/server.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/chatbot/demo_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/ui/src/hooks/useChatbot.ts
  genai-engine/ui/yarn.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(multitenancy): close cross-org resource-reference leaks in continuous-eval, experiments, and notebooks
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/repositories/notebook_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/rag_notebook_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

test(multitenancy): add 9 cross-org isolation cases for the resource-reference leaks
  genai-engine/tests/multitenancy/conftest.py
  genai-engine/tests/multitenancy/test_isolation.py
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
