Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Avoid file manipulation on the container to run with nonroot (#1245)
  deployment/gcp/model-upload/upload_models.py
Due: none

Increment arthur-engine version to 2.1.370
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Make taskID non-null, fix order of task id selection
  genai-engine/alembic/versions/2026_02_09_1142-c6df714edd16_create_resource_metadata_table.py
  genai-engine/alembic/versions/2026_02_09_1744-843e2d3f46d5_service_name_map_and_default_task_.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: replace hardcoded colors with dark-mode-aware tokens across trace and detail views
  genai-engine/ui/src/components/common/Highlight.tsx
  genai-engine/ui/src/components/datasets/VersionDrawer.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataChat.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataTable.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompts-management/fullscreen/PromptDetailView.tsx
  genai-engine/ui/src/components/rag-experiments/RagExperimentTestCasesTable.tsx
  genai-engine/ui/src/components/retrievals/RagExperimentHistorySidebar.tsx
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
  genai-engine/ui/src/components/traces/components/drawer/SessionDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/SpanDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/TraceDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformFormModal.tsx
  genai-engine/ui/src/utils/llm.ts
Due: none

fix: dark mode for Playground Tools dialog and preserve light mode colors
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
Due: none

Fix tests, update SQS to point to unmapped task id
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/routes/trace_api/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

REmove unused import
  genai-engine/src/services/trace/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix paginated search
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
Due: none

Filter pagination by task IDs instead of removing system tasks
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
Due: none

copied user settings modal
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/constants.ts
  genai-engine/ui/src/components/UserSettingsModal/index.ts
  genai-engine/ui/src/components/UserSettingsModal/types.ts
Due: none

Commit the poetry lock file
  deployment/gcp/model-upload/poetry.lock
Due: none

Apply the local model reference in gliner_config.json file
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
Due: none

Add the ability to independently configure container models directory
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/upload_models.py
Due: none

Update README
  deployment/gcp/model-upload/README.md
Due: none

Update docker-compose test script with CONTAINER_MODELS_DIR envar
  deployment/gcp/model-upload/docker-compose.local.yml
Due: none

Model upload/gliner offline fix5 (#1249)
  deployment/gcp/model-upload/README.md
  deployment/gcp/model-upload/docker-compose.local.yml
  deployment/gcp/model-upload/poetry.lock
  deployment/gcp/model-upload/pyproject.toml
  deployment/gcp/model-upload/upload_models.py
Due: none

Increment arthur-engine version to 2.1.371
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add service names to task meta
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update UI
  genai-engine/src/utils/constants.py
  genai-engine/ui/src/components/TaskCard.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix merge error
  deployment/gcp/model-upload/upload_models.py
Due: none

Fix merge error (#1250)
  deployment/gcp/model-upload/upload_models.py
Due: none

Increment arthur-engine version to 2.1.372
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.373
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Lint/update common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Add API client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add external provider
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Make changelog concise
  genai-engine/src/api_changelog.md
Due: none

Service Name Mapping for Automatic Task Assignment (#1236)
  genai-engine/alembic/versions/2026_02_09_1142-c6df714edd16_create_resource_metadata_table.py
  genai-engine/alembic/versions/2026_02_09_1744-843e2d3f46d5_service_name_map_and_default_task_.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/resource_metadata_repository.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/repositories/test_service_name_mapping_repository.py
  genai-engine/tests/unit/routes/tasks/test_task_search_endpoints.py
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.374
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
