Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

circuit breaker and readme updates
  genai-engine/src/services/README.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/tests/unit/services/test_trace_retention_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add configurable port and CORS support for multi-stack development (#1556)
  genai-engine/docker-compose.yml
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/ui/vite.config.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.503
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix the uv setup
  .github/workflows/composite-actions/setup-uv/action.yml
Due: none

Update genai-engine/src/docker-entrypoint.sh
  genai-engine/src/docker-entrypoint.sh
Due: none

Update .github/workflows/arthur-observability-sdk-release.yml
  .github/workflows/arthur-observability-sdk-release.yml
Due: none

combine settings
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/settings/ApplicationConfigSettings.tsx
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
Due: none

Update deployment/gcp/model-upload/Dockerfile
  deployment/gcp/model-upload/Dockerfile
Due: none

Manage working directly correctly
  arthur-observability-sdk/scripts/lint.sh
Due: none

Move black, mypy, isort, and autoflake to the linters group
  .github/workflows/arthur-engine-workflow.yml
  genai-engine/pyproject.toml
Due: none

Fix README
  ml-engine/README.md
Due: none

Remove redundant logic
  .github/workflows/arthur-observability-sdk-release.yml
Due: none

Fix uv command
  .pre-commit-config.yaml
Due: none

uv sync does not accept a --system flag
  genai-engine/Dockerfile_changelog
Due: none

feat(ui): unified evaluators + continuous evals UX in Evaluate section
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

fix(ui): use outlined variant for Cancel button in delete dialog
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
Due: none

fix(ui): fix import order lint errors in evaluator components
  genai-engine/ui/src/components/evaluators/EvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
Due: none

Fix CI linter failures: regenerate stale genai-engine lock and fix uv install
  .github/workflows/composite-actions/setup-uv/action.yml
  genai-engine/uv.lock
Due: none

fix(ui): apply Prettier formatting to resolve format:check CI failure
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

Stop compliance schedule chain when model has no assignments
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
Due: ml-engine-pytest-check

feat(ui): add column headers to evaluator accordion list
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
Due: none

feat(ui): replace X close button with back arrow in eval detail view
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
Due: none

feat(ui): move back arrow from right panel to left drawer in eval detail view
  genai-engine/ui/src/components/evaluators/fullscreen/EvalDetailView.tsx
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
Due: none

fix(ui): align accordion list header styling with table header convention
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
Due: none

fix(ui): left-align accordion list column headers
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
Due: none

fix(ui): update evaluator list table header to match app-wide table style
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
Due: none

Add verbose flag for troubleshooting
  .github/workflows/composite-actions/setup-uv/action.yml
Due: none

Don't use the reserved bash variable, GROUPS
  .github/workflows/composite-actions/setup-uv/action.yml
Due: none

initial BE implementation
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/continuous_eval_test_run_models.py
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/trace/trace_annotation_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

generate migration and API spec, lint
  genai-engine/alembic/versions/2026_04_07_1523-6939d74b3750_add_continuous_eval_test_table.py
  genai-engine/scripts/generate_changelog.sh
  genai-engine/scripts/generate_migration.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_eval_test_run_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

generate UI api client
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added guardrail checks to customer support agent
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/lib/arthur-api-client/guardrail.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

clean up race condition
  genai-engine/src/repositories/trace_retention_repository.py
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

finally at the end of tests
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
Due: none

UI
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/TestRunDialog.tsx
  genai-engine/ui/src/components/live-evals/hooks/useTestRun.tsx
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

updated tests
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
Due: none

Fix a bunch of code smell, generate changelog/types, and fix alembic migration
  genai-engine/alembic/versions/2026_04_06_1500-a1b2c3d4e5f6_add_trace_end_time_index.py
  genai-engine/alembic/versions/2026_04_07_1257-711e7d7236ae_add_trace_end_time_index.py
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/trace_retention_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace_retention_service.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_trace_retention_repository.py
  genai-engine/ui/src/components/UserSettingsModal/UserSettingsModal.tsx
  genai-engine/ui/src/components/UserSettingsModal/types.ts
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/hooks/useApplicationConfiguration.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix type check
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

update changlog
  genai-engine/src/api_changelog.md
  genai-engine/src/services/trace_retention_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check
