Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

fix: enable corepack before node setup
  .github/workflows/meticulous.yaml
Due: none

add ability to specify tool definitions in prompts ui (#569)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add new tracing ui
  genai-engine/ui/.vite/deps/_metadata.json
  genai-engine/ui/.vite/deps/package.json
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/common/Highlight.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/index.css
  genai-engine/ui/src/main.tsx
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/yarn.lock
Due: none

add tool choice bar to prompts playground
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/yarn.lock
Due: none

Add session_id to trace_metadata
  genai-engine/alembic/versions/2025_10_09_1530-a1b2c3d4e5f6_add_session_id_and_status_code_to_spans.py
  genai-engine/alembic/versions/2025_10_10_1056-38fb313d0c3a_add_session_status_columns.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_metadata_management.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

integrated json editor to output format
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

create function to simplify creation of tool choice components
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

add tool choice bar to prompts playground (#576)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/yarn.lock
Due: none

merge dev
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
Due: none

Bump common version
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

Up 3142 response format (#568)
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Use OI Semconv to reference attributes
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update utils
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update openapi.json
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Bump common to latest
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
Due: none

UP-3150: Stash datasets storage
  genai-engine/Dockerfile_changelog
  genai-engine/README.md
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/routers/v2/routers.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/__init__.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix route security failures
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

modify variables regex to allow names with spaces
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

modify agentic prompt routes and add support for variables
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix changelog errs
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

move agentic prompt schemas and create template classes
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

create dataset versions
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3096 Set up Meticulous test recording (#566)
  .github/workflows/meticulous.yaml
  genai-engine/ui/.env.local.example
  genai-engine/ui/index.html
  genai-engine/ui/vite.config.ts
Due: none

ran 'yarn lint'
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/AuthGuard.tsx
  genai-engine/ui/src/components/LoginPage.tsx
  genai-engine/ui/src/components/ProtectedRoute.tsx
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/components/TaskErrorState.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/TaskLoadingState.tsx
  genai-engine/ui/src/components/TaskNotFoundState.tsx
  genai-engine/ui/src/components/TraceDetailsPanel.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
  genai-engine/ui/src/components/weaviate/WeaviateRetrievalsPlayground.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/contexts/TaskContext.tsx
  genai-engine/ui/src/contexts/TaskContextDefinition.ts
  genai-engine/ui/src/hooks/useApi.ts
  genai-engine/ui/src/hooks/useTask.ts
  genai-engine/ui/src/lib/api.ts
  genai-engine/ui/src/main.tsx
  genai-engine/ui/vite.config.ts
Due: none

Add status_code and session_id to spans (#570)
  genai-engine/alembic/versions/2025_10_10_1056-38fb313d0c3a_add_session_status_columns.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/trace.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_metadata_management.py
  genai-engine/tests/routes/span/test_span_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3150: Stash datasets storage
  genai-engine/Dockerfile_changelog
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_13_1203-5e13ff24289d_create_datasets.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/routers/v2/routers.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/__init__.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Endpoints stubs
  genai-engine/src/routers/v1/optimized_trace_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/utils/utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

create dataset versions
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update repo and services to support sessions
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/optimized_trace_routes.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

wip
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

Clean up endpoints
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/optimized_trace_routes.py
  genai-engine/src/routers/v1/span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

working with temp query
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

Move apis to /api route prefix
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add new routes to server.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Revert agentic prompts
  genai-engine/src/routers/v1/agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check
