Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

[no-ref] support using prompt tags in prompt_version URL params (#830)
  genai-engine/examples/agents/analytics-agent/README.md
  genai-engine/examples/agents/analytics-agent/src/mastra/agents/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.199
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] fix Arthur typescript api client circular import
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
Due: none

[no-ref] fix Arthur typescript api client circular import (#832)
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/index.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/tools/textToSql.ts
Due: none

Increment arthur-engine version to 2.1.200
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Use generic type instead of overload
  genai-engine/src/custom_types/__init__.py
  genai-engine/src/custom_types/custom_types.py
  genai-engine/src/utils/utils.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-2931: Increase ML Engine aggregation timeout
  ml-engine/src/ml_engine/config/settings.yaml
Due: none

remove slower optimization
  genai-engine/ui/src/components/prompts-playground/hooks/useExtractPromptVariables.ts
Due: none

UP-3319: Fix mypy issues for GenAI Engine pt 2 (#815)
  genai-engine/src/custom_types/__init__.py
  genai-engine/src/custom_types/custom_types.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/scorer/checks/toxicity/toxicity.py
  genai-engine/src/utils/claim_parser.py
  genai-engine/src/utils/classifiers.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/file_parsing.py
  genai-engine/src/utils/load_test_chat.py
  genai-engine/src/utils/metric_counters.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/text_chunking.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
  genai-engine/src/utils/users.py
  genai-engine/src/utils/utils.py
  genai-engine/src/validation/response.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.201
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: adjust ui and connect to be endpoints
  genai-engine/ui/AGENTS.md
  genai-engine/ui/eslint.config.js
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/rag/RagProviderFormModal.tsx
  genai-engine/ui/src/components/rag/RagProvidersEmptyState.tsx
  genai-engine/ui/src/components/rag/RagProvidersErrorState.tsx
  genai-engine/ui/src/components/rag/RagProvidersLoadingState.tsx
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
  genai-engine/ui/src/components/retrievals/CollectionSelector.tsx
  genai-engine/ui/src/components/retrievals/ProviderSelector.tsx
  genai-engine/ui/src/components/retrievals/QueryInput.tsx
  genai-engine/ui/src/components/retrievals/RagRetrievalsPlayground.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/SearchActions.tsx
  genai-engine/ui/src/components/retrievals/SearchConfiguration.tsx
  genai-engine/ui/src/components/retrievals/SearchMethodSelector.tsx
  genai-engine/ui/src/components/retrievals/SearchSettings.tsx
  genai-engine/ui/src/components/retrievals/settings/DistanceThreshold.tsx
  genai-engine/ui/src/components/retrievals/settings/HybridAlpha.tsx
  genai-engine/ui/src/components/retrievals/settings/IncludeOptions.tsx
  genai-engine/ui/src/components/retrievals/settings/ResultLimitInput.tsx
  genai-engine/ui/src/components/retrievals/types.ts
  genai-engine/ui/src/components/weaviate/ConnectionForm.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/README.md
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
  genai-engine/ui/src/components/weaviate/WeaviateRetrievalsPlayground.tsx
  genai-engine/ui/src/components/weaviate/index.ts
  genai-engine/ui/src/constants/search.ts
  genai-engine/ui/src/hooks/rag/useProviderForm.ts
  genai-engine/ui/src/hooks/rag/useRagCollections.ts
  genai-engine/ui/src/hooks/rag/useRagProviderMutations.ts
  genai-engine/ui/src/hooks/rag/useRagProviders.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/lib/vector-utils.ts
  genai-engine/ui/src/lib/weaviate-client.ts
  genai-engine/ui/src/utils/datasetExport.ts
  genai-engine/ui/src/utils/fileDownload.ts
Due: none

UP-3252,UP-3253: Adjust RAG Retrievals UI and connect to BE endpoints (#773)
  genai-engine/ui/AGENTS.md
  genai-engine/ui/eslint.config.js
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/rag/RagProviderFormModal.tsx
  genai-engine/ui/src/components/rag/RagProvidersEmptyState.tsx
  genai-engine/ui/src/components/rag/RagProvidersErrorState.tsx
  genai-engine/ui/src/components/rag/RagProvidersLoadingState.tsx
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
  genai-engine/ui/src/components/retrievals/CollectionSelector.tsx
  genai-engine/ui/src/components/retrievals/ProviderSelector.tsx
  genai-engine/ui/src/components/retrievals/QueryInput.tsx
  genai-engine/ui/src/components/retrievals/RagRetrievalsPlayground.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/SearchActions.tsx
  genai-engine/ui/src/components/retrievals/SearchConfiguration.tsx
  genai-engine/ui/src/components/retrievals/SearchMethodSelector.tsx
  genai-engine/ui/src/components/retrievals/SearchSettings.tsx
  genai-engine/ui/src/components/retrievals/settings/DistanceThreshold.tsx
  genai-engine/ui/src/components/retrievals/settings/HybridAlpha.tsx
  genai-engine/ui/src/components/retrievals/settings/IncludeOptions.tsx
  genai-engine/ui/src/components/retrievals/settings/ResultLimitInput.tsx
  genai-engine/ui/src/components/retrievals/types.ts
  genai-engine/ui/src/components/weaviate/ConnectionForm.tsx
  genai-engine/ui/src/components/weaviate/QueryConfiguration.tsx
  genai-engine/ui/src/components/weaviate/README.md
  genai-engine/ui/src/components/weaviate/ResultsDisplay.tsx
  genai-engine/ui/src/components/weaviate/WeaviateRetrievalsPlayground.tsx
  genai-engine/ui/src/components/weaviate/index.ts
  genai-engine/ui/src/constants/search.ts
  genai-engine/ui/src/hooks/rag/useProviderForm.ts
  genai-engine/ui/src/hooks/rag/useRagCollections.ts
  genai-engine/ui/src/hooks/rag/useRagProviderMutations.ts
  genai-engine/ui/src/hooks/rag/useRagProviders.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/lib/vector-utils.ts
  genai-engine/ui/src/lib/weaviate-client.ts
  genai-engine/ui/src/utils/datasetExport.ts
  genai-engine/ui/src/utils/fileDownload.ts
Due: none

Increment arthur-engine version to 2.1.202
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

created helper function for logging
  genai-engine/ui/src/services/amplitude.ts
Due: none

moved event names definition to central area
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/contexts/AuthContext.tsx
  genai-engine/ui/src/services/amplitude.ts
Due: none

Update README.md for OTEL
  README.md
Due: none

initial endpoints
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix add trace to dataset drawer to add all columns in dataset, even if they aren't set by transform
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

remove task from transform API
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix extraction endpoint
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

linter and gen changelog
  genai-engine/scripts/run_linter.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

linter
  genai-engine/scripts/run_linter.sh
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/utils/transform_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add ability to copy transform ID easily
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
Due: none

Adding changes to make it easier to sync datasets from external sources (#837)
  genai-engine/scripts/run_linter.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/ui/src/components/datasets/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.203
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add tool schemas
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

feat: mapper changes and new duration cell
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/utils/duration.ts
  genai-engine/ui/src/utils/formatters.ts
Due: none

feat: add cost and token counts widgets to session and user drawers
  genai-engine/ui/src/components/traces/components/SessionDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/utils/sessions.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

[UP-3330] fix: change user table session filter
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
Due: none

feat: add bucket context for tables
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/context/bucket-context.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
Due: none

feat: add drawer pagination context
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/stores/pagination-context.tsx
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
