Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Switch lint hook back to PostToolUse per Anthropic best practice
  .claude/settings.json
Due: none

Make UI lint hook universal: fix self-location and add pre-commit hook
  .claude/settings.json
  .pre-commit-config.yaml
Due: none

Add build time on the CLI
  onboarding/src/index.ts
  onboarding/tsup.config.ts
Due: none

refactor: rename GCP model upload image from gcp to gcs
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-gcp-model-upload.yml
  .github/workflows/lts-release.yml
  deployment/model-upload/README.md
  deployment/model-upload/gcp/cloud-run-job.yaml
  deployment/model-upload/gcp/docker-compose.local.yml
Due: none

Add engine configuration endpoint and demo mode feature flag (#1632)
  .claude/settings.json
  .pre-commit-config.yaml
  genai-engine/src/api_changelog.md
  genai-engine/src/config/config.py
  genai-engine/src/routers/v2/engine_config_routes.py
  genai-engine/src/routers/v2/routers.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/utils/constants.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_engine_config_routes.py
  genai-engine/ui/.gitignore
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/contexts/EngineConfigContext.tsx
  genai-engine/ui/src/hooks/useEngineConfig.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.553
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add policy violation if guardrail is missing or no data on app
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

add fallback for non materialized alert rules
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

update tests to check descriptions
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: none

switch rule type to dependent resource
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

refactor: rename pvc backend to fs for generic filesystem support
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/build-fs-model-upload.yml
  .github/workflows/lts-release.yml
  deployment/model-upload/Dockerfile
  deployment/model-upload/README.md
  deployment/model-upload/k8s/04-job.yaml
  deployment/model-upload/k8s/06-copy-config-job.yaml
  deployment/model-upload/k8s/docker-compose.local.yml
  deployment/model-upload/upload_models.py
  onboarding/TODO.md
Due: none

Build and release automations for Buzz
  .github/workflows/buzz-release.yml
  .github/workflows/version-workflow.yml
  onboarding/package.json
Due: none

Add build and test jobs in PRs for Buzz
  .github/workflows/arthur-engine-workflow.yml
Due: none

Add package-lock.json
  onboarding/.gitignore
  onboarding/package-lock.json
Due: none

Increment arthur-engine version to 2.1.554
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  onboarding/package.json
  version
Due: none

update compliance check to call engine directly
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

Initial commit for /athur-onboard Claude skill
  onboarding/.claude/skills/arthur-onboard/README.md
  onboarding/.claude/skills/arthur-onboard/SKILL.md
Due: none

make TaskManagementJobExecutor public
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
Due: ml-engine-pytest-check

make guardrail resource type constant
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

regen api
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

bump arthur client version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

fix CI errors
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

Add support for engine install on Win OS and imporve GPT config management
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  integrations/claude-code-skills/arthur-onboard/README.md
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

new changelog generation
  genai-engine/src/api_changelog.md
Due: none

clean up some code smell
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add policy violation if guardrail is missing or no data on app (#1609)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.555
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  onboarding/package.json
  version
Due: none

re-regenerate changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

drop unused interface
  genai-engine/ui/src/components/evaluators/table/EvalsTable.tsx
  genai-engine/ui/src/components/evaluators/types.ts
Due: none

Collect API keys via masked terminal
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Do not offer to use a system task
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Fix API key collection mechanism
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Provide better expectation on the local engine startup time
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Enhance Python SDK instrumentation
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Enhance Mastra SDK instrumentation
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Enhance OpenInference instrumentation without SDK
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Enhance code instrumentations
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Display docker log while server is starting
  integrations/claude-code-skills/arthur-onboard/SKILL.md
Due: none

Add quick start instruction that installs the skill on the fly
  integrations/claude-code-skills/arthur-onboard/README.md
Due: none
