Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat(ui): render rule-based CE results as pass/fail with structured detail display
  genai-engine/ui/src/components/live-evals/components/results/components/details/index.tsx
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
Due: none

feat(db): add evaluator_type and rule_type columns to continuous_evals
  .gitignore
  genai-engine/alembic/versions/2026_03_30_1800-ab12cd34ef56_add_evaluator_type_and_rule_type_to_continuous_evals.py
Due: none

Update API changelog to remove duplicate entries and streamline documentation for chatbot and task endpoints.
  genai-engine/src/api_changelog.md
Due: none

feat: lock dependency versions
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

feat: lock dependency versions (#1536)
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.488
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(ui): enhance TransformsManagement with versioning support and full-screen view
  genai-engine/src/version
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformDetailView.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformFullScreenView.tsx
  genai-engine/ui/src/components/transforms/fullscreen/TransformVersionDrawer.tsx
  genai-engine/ui/src/components/transforms/hooks/useUpdateTransformMutation.ts
Due: none

feat(ui): add tooltip for hidden tags count in PromptsTable component
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
Due: none

refactor(PromptsTable): simplify Chip component rendering for hidden tags
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
Due: none

better instrumenting of agents/skills (#1533)
  integrations/claude-code/claude_code_tracer.py
  integrations/claude-code/test_tracer.py
Due: none

Increment arthur-engine version to 2.1.489
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

bump arthur client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

fix tests add dimensions to metrics
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: ml-engine-pytest-check

add unit test for compliance check job executor
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: none

Update compliance_policy_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

UP-4128 compliance check job (#1522)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
  ml-engine/tests/unit/mock_data/mock_data_generator.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.490
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Up 4084 push helm dockerio (#1521)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.491
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: replace Depends() with AfterValidator for URL-decoded path params
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add scheduled compliance job executor for periodic policy checks
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
  ml-engine/tests/unit/job_executors/test_schedule_compliance_jobs_executor.py
Due: ml-engine-pytest-check

Fix PR review comments: add Model type annotation, fix unbound run_at
  ml-engine/src/ml_engine/job_executors/schedule_compliance_jobs_executor.py
Due: ml-engine-pytest-check

fix: correct remaining path param ordering issues and add CI guard
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_openapi_path_param_order.py
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: suppress TypeScript errors for missing props in EvaluatorSelector
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
Due: none

fix: replace Depends() with AfterValidator for URL-decoded path params (#1539)
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v1/rag_setting_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/test_openapi_path_param_order.py
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.492
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: push helm charts to oss docker hub
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: make testable
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: needs
  .github/workflows/arthur-engine-workflow.yml
Due: none

chore: remove manual testing changes
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix: push helm charts to oss docker hub (#1542)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.493
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

review: fix tooltip case bug, add tag filter tests, validate tags input, regenerate api-client
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/ui/src/components/prompts-management/table/PromptsTable.tsx
  genai-engine/ui/src/components/prompts-management/table/TagFilterControls.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: move back to original pypi
  .github/workflows/arthur-observability-sdk-release.yml
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/src/arthur_observability_sdk/arthur.py
  arthur-observability-sdk/python/tests/test_client.py
Due: none

chore: move back to original pypi (#1543)
  .github/workflows/arthur-observability-sdk-release.yml
  arthur-observability-sdk/python/src/arthur_observability_sdk/arthur.py
  arthur-observability-sdk/python/tests/test_client.py
Due: none

Increment arthur-engine version to 2.1.494
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] fix system task bootstrap
  genai-engine/src/repositories/system_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update system_task_repository.py
  genai-engine/src/repositories/system_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/repositories/system_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

[no-ref] fix system task bootstrap (#1544)
  genai-engine/src/repositories/system_task_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
