Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.357
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix downrevision
  genai-engine/alembic/versions/2026_02_06_1043-516d579bd164_create_resource_meta_table_and_system_.py
Due: none

make apply and clear buttons sticky
  genai-engine/ui/src/components/live-evals/components/results/components/FilterModal.tsx
Due: none

add new filter modal to ce results
  genai-engine/ui/src/components/live-evals/components/results/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add search bar to new filter section
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add ability to filter on llm eval name for CE results
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add ability to filter on multiple ids for CE results
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix ui lint
  genai-engine/ui/src/components/live-evals/components/management/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
Due: none

add filter for ce ids in list route
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix lint errors
  genai-engine/src/repositories/continuous_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add filter modal for CE management page
  genai-engine/ui/src/components/live-evals/components/management/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
Due: none

New task overview dashboard
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/components/charts/BarChart.tsx
  genai-engine/ui/src/components/charts/LineChart.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Improve task overview UX: add time selector overlay and fix transitions
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
Due: none

Update Day view to show current calendar day instead of last 24 hours
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
Due: none

Update Hour view to show last 24 hours broken down by hour
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: refactor time interval semantics to use canonical time windows
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/utils/timeWindows.ts
Due: none

Address comments
  genai-engine/alembic/versions/2026_02_06_1043-516d579bd164_create_resource_meta_table_and_system_.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/resource_metadata_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: update charts to use canonical time window formatting
  genai-engine/ui/src/components/TaskOverview.tsx
  genai-engine/ui/src/components/charts/BarChart.tsx
  genai-engine/ui/src/components/charts/LineChart.tsx
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
Due: none

Add system task flag to response
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/ui/src/components/AllTasks.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add UI component
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add count to transforms list endpoint response
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/tests/unit/routes/transforms/test_transform_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

New filtering mechanism for CEs (#1222)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/ui/src/components/live-evals/components/management/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/management/index.tsx
  genai-engine/ui/src/components/live-evals/components/results/components/FilterModal.tsx
  genai-engine/ui/src/components/live-evals/components/results/index.tsx
  genai-engine/ui/src/components/live-evals/data/filter-fields.ts
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvals.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalsResults.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.358
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update common
  genai-engine/pyproject.toml
Due: none

Update lock
  genai-engine/poetry.lock
Due: none

Poetry lock
  genai-engine/poetry.lock
Due: none

Update README.md for OTEL (#835)
  README.md
Due: none

Increment arthur-engine version to 2.1.359
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix merge error
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore(deps): replace cx-oracle with oracledb in dependencies and update related references
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

chore(deps): replace cx-oracle with oracledb in dependencies and upda… (#1232)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

feat: add a fill from object button to fill transforms
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/FillFromObjectButton.tsx
Due: none

UP-3715: Add a fill from object button to fill transforms (#1218)
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/FillFromObjectButton.tsx
Due: none

Increment arthur-engine version to 2.1.360
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
