Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat: add bedrock and vertex ai providers handling
  genai-engine/ui/public/logos/model_providers/bedrock-logo.svg
  genai-engine/ui/public/logos/model_providers/vertex-logo.svg
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ModelProviders.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/api.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/bedrock.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vertex.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/utils/index.tsx
  genai-engine/ui/src/components/model-providers/hooks/useProviders.tsx
  genai-engine/ui/src/components/model-providers/hooks/useRemoveProvider.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveProvider.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

feat: remove non-nullable from vertex fields
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vertex.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/utils/index.tsx
Due: none

feat: add bedrock and vertex ai providers handling (#1144)
  genai-engine/ui/public/logos/model_providers/bedrock-logo.svg
  genai-engine/ui/public/logos/model_providers/vertex-logo.svg
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ModelProviders.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/api.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/bedrock.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vertex.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/utils/index.tsx
  genai-engine/ui/src/components/model-providers/hooks/useProviders.tsx
  genai-engine/ui/src/components/model-providers/hooks/useRemoveProvider.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveProvider.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

Increment arthur-engine version to 2.1.320
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Adjust the default pvc size for arthur-m odels
  deployment/k8s/model-upload-oc/01-pvc.yaml
Due: none

Deployment instruction updates
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/README.md
Due: none

Clean up
  deployment/k8s/model-upload-oc/docker-compose.local.yml
Due: none

Enable Gliner to load its model from the local file system for airgap deployments (#1133)
  .github/workflows/arthur-engine-workflow.yml
  deployment/ecs/model-upload/README.md
  deployment/ecs/model-upload/download_models.py
  deployment/ecs/model-upload/poetry.lock
  deployment/ecs/model-upload/pyproject.toml
  deployment/k8s/model-upload-oc/.gitignore
  deployment/k8s/model-upload-oc/01-pvc.yaml
  deployment/k8s/model-upload-oc/02-serviceaccount.yaml
  deployment/k8s/model-upload-oc/04-job.yaml
  deployment/k8s/model-upload-oc/06-copy-config-job.yaml
  deployment/k8s/model-upload-oc/README.md
  deployment/k8s/model-upload-oc/copy_models.py
  deployment/k8s/model-upload-oc/docker-compose.local.yml
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/poetry.lock
  deployment/k8s/model-upload-oc/pyproject.toml
  genai-engine/docker-compose.yml
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.321
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[NO-REF]: Segmentation bugfix
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

[NO-REF]: Segmentation bugfix (#1145)
  ml-engine/src/ml_engine/metric_calculators/metric_calculator.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.322
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix regression
  genai-engine/ui/src/components/live-evals/new/index.tsx
Due: none

Add auth and gcp packages, update llm client to publish all vertex supported models
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/clients/llm/llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix UI, add confirmation step for missing credentials file
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vertex.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

Lint UI
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

Format UI
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

Add auth and gcp packages, update llm client to publish all vertex su… (#1148)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/vertex.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.323
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore(deps): update dependency arthur-common to 2.4.26
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

chore(deps): update dependency arthur-common to 2.4.26 (#1154)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

feat: make bedrock fields optional
  genai-engine/ui/src/components/model-providers/components/edit-form/components/bedrock.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/confirmation-dialog/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

feat: make bedrock fields optional (#1155)
  genai-engine/ui/src/components/model-providers/components/edit-form/components/bedrock.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/components/confirmation-dialog/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: none

Increment arthur-engine version to 2.1.324
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update api_changelog.md
  genai-engine/src/api_changelog.md
Due: none

feat: add generated session id
  genai-engine/ui/src/components/agent-experiments/new/components/body-mapper.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

feat: configurable session (#1158)
  genai-engine/ui/src/components/agent-experiments/new/components/body-mapper.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add option to skip downloading all models, and fix duplicate download logs
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/constants.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
