Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.383
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add Cloud Code integration
  integrations/claude-code/.env.template
  integrations/claude-code/README.md
  integrations/claude-code/docker-compose.yml
  integrations/claude-code/litellm_config_claude_code.yaml
  integrations/claude-code/occ
Due: none

lint fix
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/currency_display.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

change trace viewer to use new filter mechanism (#1265)
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SessionsFilterModal.tsx
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

Increment arthur-engine version to 2.1.384
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix base queue service not using wait time
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/task/registered_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add Claude Code GitHub Workflow (#1268)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Increment arthur-engine version to 2.1.385
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: span selector back arrow not working
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none

Span selector back arrow bugfix (#1289)
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
Due: none

Increment arthur-engine version to 2.1.386
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

test wait is used for base queue service
  genai-engine/tests/unit/services/test_base_queue_service.py
Due: none

add for update clause to polling executor (#1263)
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/services/base_queue_service.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/tests/unit/services/test_base_queue_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.387
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix prompt experiment unit tests being flaky
  genai-engine/tests/unit/routes/tasks/test_prompt_experiment_routes.py
Due: none

Use the local engine as the default
  integrations/claude-code/docker-compose.yml
Due: none

Add filter, sort, and system task visibility controls to All Tasks page
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/stores/task-list.store.ts
Due: none

fix prompt experiment unit tests being flaky (#1291)
  genai-engine/tests/unit/routes/tasks/test_prompt_experiment_routes.py
Due: none

Increment arthur-engine version to 2.1.388
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add agent-tasks endpoint, EnrichedTask schema
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add tests
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: none

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Move AgentMetadata
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add filter, sort, and system task visibility controls to All Tasks page (#1292)
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/stores/task-list.store.ts
Due: none

Increment arthur-engine version to 2.1.389
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Remve is_agentic flag and metrics from response obj
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix last test
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: none
