Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat: change skipped color to gray
  genai-engine/ui/src/components/live-evals/data/results-columns.tsx
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
Due: none

UP-3300 Amplitude for Prompts (#1052)
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/SetConfigDrawer.tsx
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResultsTable.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/utils/notebookStateUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/toExperimentPromptConfig.ts
  genai-engine/ui/src/services/amplitude.ts
Due: none

Increment arthur-engine version to 2.1.280
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

catch value errors when listing CE run results
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3548: Agentic notebooks
  genai-engine/alembic/versions/2026_01_06_1010-a1b2c3d4e5f6_create_agentic_notebooks.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_experiment_models.py
  genai-engine/src/db_models/agentic_notebook_models.py
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/agentic_notebook_routes.py
  genai-engine/src/schemas/agentic_notebook_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

raise specific error instead of catching all ValueErrors
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(trace-viewer): add span duration latency filter for individual span filtering
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

docs: add coding standards documentation for all components
  docs/coding-standards/GENAI_ENGINE_BE.md
  docs/coding-standards/GENAI_ENGINE_UI.md
  docs/coding-standards/ML_ENGINE.md
Due: none

docs: add coding standards to component CLAUDE.md files
  docs/coding-standards/GENAI_ENGINE_BE.md
  docs/coding-standards/GENAI_ENGINE_UI.md
  docs/coding-standards/ML_ENGINE.md
  genai-engine/CLAUDE.md
  genai-engine/ui/CLAUDE.md
  ml-engine/CLAUDE.md
Due: none

style: apply black and isort formatting to span duration filter changes
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

docs: add Critical CI Checks section to CLAUDE.md
  genai-engine/CLAUDE.md
Due: none

docs: add Critical CI Checks section to root CLAUDE.md
  CLAUDE.md
Due: none

review suggestions
  genai-engine/src/db_models/agentic_experiment_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/rag_experiment_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

catch value errors when listing CE run results (#1057)
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.281
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

style: remove unused imports with autoflake
  genai-engine/src/routers/v1/trace_api_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add transform variable mapping to ce test case
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: none

regenerated client
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

add ability to disable continuous evals
  genai-engine/alembic/versions/2026_01_06_1133-b635f502f44f_add_ability_to_disable_ce.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

docs: address PR feedback on coding standards
  genai-engine/CLAUDE.md
  genai-engine/ui/CLAUDE.md
Due: none

docs: remove outdated database session cleanup guidance
  genai-engine/CLAUDE.md
Due: none

added token counts and highlighted costs when more than one prompt is tested
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

docs: expand Pydantic guidance to include class member variables
  genai-engine/CLAUDE.md
Due: none

UP-3547: Agent experiments V0 (#1053)
  genai-engine/alembic/versions/2026_01_05_1227-06b0610b582c_agentic_experiment_models.py
  genai-engine/examples/agents/customer-support-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/customer-support-agent/src/mastra/observability/arthur/attribute-utils.ts
  genai-engine/poetry.lock
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_experiment_models.py
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/agentic_experiment_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/agentic_experiment_schemas.py
  genai-engine/src/schemas/base_experiment_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agentic_experiment_executor.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/prompt_experiment_executor.py
  genai-engine/src/services/rag_experiment_executor.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/utils/constants.py
  genai-engine/src/utils/dataset_utils.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
  genai-engine/tests/unit/routes/tasks/test_agentic_experiment_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.282
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

lint files and update changelog
  genai-engine/alembic/versions/2026_01_06_1133-b635f502f44f_add_ability_to_disable_ce.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: simplify commit message check
  .github/workflows/arthur-engine-workflow.yml
Due: none

feat: use automator token to push updated manifest
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/version-workflow.yml
Due: none

lint fix
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove blocker for request-time parameters
  genai-engine/src/repositories/agentic_notebook_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_notebook_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix ci (#1065)
  .github/workflows/arthur-engine-workflow.yml
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.283
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
