Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Update Model->LLMModel
  genai-engine/src/repositories/tasks_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Bump common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

[no-ref] update common for new agentic aggs
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Global Loop for Task Polling (#1295)
  genai-engine/alembic/versions/2026_02_18_1722-53f5544bc0b8_create_task_polling_state_and_migrate_.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agent_polling_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/agent_discovery_routes.py
  genai-engine/src/routers/v1/agent_polling_routes.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/agent_discovery_service.py
  genai-engine/src/services/task/__init__.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/services/task/registered_agent_polling_service.py
  genai-engine/src/services/trace/external_trace_retrieval_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/gcp.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/routes/tasks/test_agent_polling_routes.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/routes/tasks/test_task_crud.py
  genai-engine/tests/unit/services/test_external_trace_retrieval_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  genai-engine/tests/unit/services/test_registered_agent_polling_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.412
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] update common for new agentic aggs (#1334)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

Increment arthur-engine version to 2.1.413
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

yarn lock
  genai-engine/yarn.lock
Due: none

Fix GCP span kind not being stored in span_kind column
  genai-engine/src/repositories/span_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update shared version
  genai-engine/ui/package.json
  genai-engine/ui/yarn.lock
Due: none

works with 3.11.1
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/README.md
  genai-engine/ui/src/components/traces/components/SessionDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TracesViewLayout.tsx
  genai-engine/ui/src/components/traces/components/drawer/SessionDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/SpanDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/TraceDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/drawer/UserDrawerBody.tsx
  genai-engine/ui/src/components/traces/components/filtering/FilterRow.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/yarn.lock
Due: none

Add unit tests for GCP span kind extraction fix
  genai-engine/tests/unit/services/test_gcp_conversion_service.py
Due: none

Fix GCP span kind not stored in span_kind column (#1335)
  genai-engine/src/repositories/span_repository.py
  genai-engine/tests/unit/services/test_gcp_conversion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.414
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

implementd changes
  genai-engine/src/repositories/configuration_repository.py
  genai-engine/src/repositories/trace_retention_repository.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/trace_retention_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/routes/configuration/test_configurations.py
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/hooks/useApplicationConfiguration.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

implement changes
  genai-engine/src/repositories/configuration_repository.py
  genai-engine/src/repositories/trace_retention_repository.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/trace_retention_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/routes/configuration/test_configurations.py
  genai-engine/ui/src/components/TaskDetailContent.tsx
  genai-engine/ui/src/hooks/useApplicationConfiguration.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Bump common
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

bump common again
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

openapi json fixed
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

add .root
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update global_agent_polling_service.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

lint
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add mypy to linter script
  genai-engine/scripts/run_linter.sh
Due: none

fix mypy
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Fix issue with conflicting CreationSource objects (bump common) (#1341)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/scripts/run_linter.sh
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agent_polling_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
  genai-engine/tests/unit/routes/tasks/test_agent_tasks.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.415
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update discovery job
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Skip claude-review for renovate instead of failing the job
  .github/workflows/claude-code-review.yml
Due: none

Skip claude-review for renovate instead of failing the job (#1343)
  .github/workflows/claude-code-review.yml
Due: none

Increment arthur-engine version to 2.1.416
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
