Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

feat: push ml-engine to artifactory
  .github/workflows/arthur-engine-workflow.yml
Due: none

fix poetry lock file
  genai-engine/poetry.lock
Due: none

fix imports
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/tests/unit/test_pii_v1.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: push ml-engine to nexus (#448)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.78
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add trace and span level filtering
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Remove pre-sorted indexes, remove size limits on trace ID and span name
  genai-engine/alembic/versions/2025_08_27_2130-48b468cd92f9_add_trace_meta_table.py
  genai-engine/alembic/versions/2025_08_28_1026-0135e39e511f_add_span_name_and_indexes.py
  genai-engine/src/db_models/db_models.py
  genai-engine/src/services/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Revert to upsert
  genai-engine/src/services/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add migrations for span and trace_meta tables (#414)
  genai-engine/alembic/versions/2025_08_27_2130-48b468cd92f9_add_trace_meta_table.py
  genai-engine/alembic/versions/2025_08_28_1026-0135e39e511f_add_span_name_and_indexes.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/db_models.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/trace_ingestion_service.py
  genai-engine/src/services/tree_building_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_metadata_management.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

simplify build
  ml-engine/Dockerfile
Due: none

fix import ordering
  genai-engine/src/services/metrics_integration_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Refactor tests
  genai-engine/tests/routes/span/test_query_traces.py
  genai-engine/tests/routes/span/test_span_ingestion.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: none

UP-3022: Run ml-engine as non-root user (#442)
  ml-engine/Dockerfile
Due: none

Update tests, fix bugs
  genai-engine/alembic/versions/2025_09_10_1613-4617f961d9f0_metric_details_to_json.py
  genai-engine/src/db_models/db_models.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/span/test_query_traces.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update changelog
  genai-engine/changelog.py
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update changelog error logging
  genai-engine/changelog.py
Due: none

Update changelog contents
  genai-engine/src/api_changelog.md
Due: none

regenerate lockfile
  ml-engine/poetry.lock
Due: none

Increment arthur-engine version to 2.1.79
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Clean up span_query_service
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update tests, fix service bugs, add span_type filters
  genai-engine/src/metrics_engine.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/rules_engine.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/metric_counters.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_query_filtering.py
  genai-engine/tests/routes/span/test_query_traces.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Add tool selection tests
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/span_query_service.py
  genai-engine/tests/routes/span/conftest.py
  genai-engine/tests/routes/span/test_query_filtering.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add timeout for custom aggregation calculations
  ml-engine/src/ml_engine/config/config.py
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Update SpanQueryService
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Replace select(1)
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

apply review changes before e2e testing fixes
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
  ml-engine/tests/unit/connectors/test_snowflake_connector.py
Due: ml-engine-pytest-check

remove timeout err and worker count for custom agg
  ml-engine/src/ml_engine/config/config.py
  ml-engine/src/ml_engine/config/settings.yaml
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

refactor connector initialization
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

rename snowflake authenticator functions
  ml-engine/src/ml_engine/connectors/snowflake_connector.py
Due: ml-engine-pytest-check

Add filters passthrough
  ml-engine/ml-engine-agentic-filters-tdd.md
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/tools/agentic_filters.py
Due: ml-engine-pytest-check

Remove joins_needed
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add span_id, metric_type index
  genai-engine/alembic/versions/2025_09_10_1613-4617f961d9f0_metric_details_to_json.py
Due: none
