Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

UP-3198: Settings crud (#717)
  genai-engine/alembic/versions/2025_11_04_1513-9d3d34fcf6b4_create_rag_settings.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_search_kinds.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.134
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

new util function
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/sampleSpans.ts
  genai-engine/ui/src/components/prompts-playground/utils.ts
Due: none

change highlight usage and fix message type keyword extraction
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/index.css
Due: none

fix highlighting
  genai-engine/ui/src/components/prompts-playground/VariableInputs.tsx
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prismTheme.ts
Due: none

darker handle
  genai-engine/ui/src/components/prompts-playground/prompts/ResizableSplitter.tsx
Due: none

message improvements
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
Due: none

UP-3198: Finish settings crud
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_query.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_search_kinds.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add token counting functionality
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/trace_api/test_trace_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Update migration
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

Update alembic migration to reuse utils
  genai-engine/alembic/versions/2025_11_03_1039-aa259a314eeb_add_token_cost_and_input_output_content.py
Due: none

Increment arthur-engine version to 2.1.135
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

block unneeded API call
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/VersionSelector.tsx
Due: none

UP-3229: Adjust renovate bot config to take into account UI deps (#723)
  renovate.json
Due: none

Increment arthur-engine version to 2.1.136
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

splitter appearance
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ResizableSplitter.tsx
Due: none

feat: add csv import export functionality to datasets
  genai-engine/ui/package.json
  genai-engine/ui/src/components/datasets/CellContentModal.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/ImportDatasetModal.tsx
  genai-engine/ui/src/components/datasets/import/ImportConfigurationStep.tsx
  genai-engine/ui/src/components/datasets/import/ImportPreviewStep.tsx
  genai-engine/ui/src/components/datasets/import/csvImportConstants.ts
  genai-engine/ui/src/components/datasets/import/csvParseUtils.ts
  genai-engine/ui/src/constants/snackbar.ts
  genai-engine/ui/src/hooks/datasets/useDatasetModalState.ts
  genai-engine/ui/src/hooks/useSnackbar.tsx
  genai-engine/ui/src/utils/datasetExport.ts
  genai-engine/ui/yarn.lock
Due: none

UP-3158: FE import export csv functionality (#715)
  genai-engine/ui/package.json
  genai-engine/ui/src/components/datasets/CellContentModal.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/ImportDatasetModal.tsx
  genai-engine/ui/src/components/datasets/import/ImportConfigurationStep.tsx
  genai-engine/ui/src/components/datasets/import/ImportPreviewStep.tsx
  genai-engine/ui/src/components/datasets/import/csvImportConstants.ts
  genai-engine/ui/src/components/datasets/import/csvParseUtils.ts
  genai-engine/ui/src/constants/snackbar.ts
  genai-engine/ui/src/hooks/datasets/useDatasetModalState.ts
  genai-engine/ui/src/hooks/useSnackbar.tsx
  genai-engine/ui/src/utils/datasetExport.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.137
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

update backend prompts when saving a new prompt
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/hooks/useFetchBackendPrompts.ts
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/types.ts
Due: none

UP-3198: Clean up search requests
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix tool send to backend
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils.ts
Due: none

consolidate duplcate code
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
Due: none

split utils file
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ToolsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/sampleSpans.ts
  genai-engine/ui/src/components/prompts-playground/utils.ts
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/convertToolChoiceForBackend.ts
  genai-engine/ui/src/components/prompts-playground/utils/extractContext.ts
  genai-engine/ui/src/components/prompts-playground/utils/extractStatusCode.ts
  genai-engine/ui/src/components/prompts-playground/utils/getToolChoiceDisplayValue.ts
  genai-engine/ui/src/components/prompts-playground/utils/index.ts
  genai-engine/ui/src/components/prompts-playground/utils/mustacheExtractor.ts
  genai-engine/ui/src/components/prompts-playground/utils/openSpanToApi.ts
  genai-engine/ui/src/components/prompts-playground/utils/toBackendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

UP-3198: Config version crud
  genai-engine/README.md
  genai-engine/alembic/versions/2025_11_05_1404-83d01e7ad41c_soft_delete_setting_versions.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/base.py
  genai-engine/src/db_models/rag_provider_models.py
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_versions_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix duplicate id bug
  genai-engine/ui/src/components/prompts-playground/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

wip
  genai-engine/ui/src/components/prompts-playground/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/utils/filterNullParams.ts
  genai-engine/ui/src/components/prompts-playground/utils/index.ts
  genai-engine/ui/src/components/prompts-playground/utils/toBackendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

review suggestions
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-3198: Finish settings crud (#729)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/rag_providers_repository.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_query.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_settings_search_kinds.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.138
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

added stream option backk
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
Due: none
