Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.954
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Read a discovery source's non-sensitive fields from the scan job
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Pin arthur-client 1.4.2726 for DiscoverySourceConfigSpec.source_fields
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Read discovery credentials with the generated call again
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
Due: ml-engine-pytest-check

Read a discovery source's non-sensitive fields from the scan job (#2388)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.955
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4981 (D-09): GET /agent-tasks pages by cursor, not offset
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4981 (D-09): name the follow-up that persists a record's last_seen
  genai-engine/src/repositories/task_provenance_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Fix the agents sync so one bad task can't keep every agent off the Platform
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Fix the agents sync so one bad task can't keep every agent off the Platform (#2389)
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.956
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4981 (D-09): GenAI Engine provenance persistence + scoped task retrieval (#2382)
  genai-engine/alembic/versions/2026_09_23_1800-4e7a2c9d1b35_add_task_provenance_sources.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_task_provenance.py
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.957
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4982 (D-10): Discovery Fetch Job
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
Due: ml-engine-pytest-check

UP-4982 (D-10): the fetch pages GET /agent-tasks by cursor, as D-09 merged it
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
Due: ml-engine-pytest-check

UP-5066: genai-engine takes arthur-common 2.4.82, and litellm 1.102.0 with it
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

UP-5066: a discovery record's last_seen carries through provenance
  genai-engine/alembic/versions/2026_09_25_1500-7c3f5e1a9d20_add_last_seen_to_task_provenance_sources.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_task_provenance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-5066: carry a discovery record's last_seen through provenance (#2390)
  genai-engine/alembic/versions/2026_09_25_1500-7c3f5e1a9d20_add_last_seen_to_task_provenance_sources.py
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_task_provenance.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.958
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Forward each task's provenance in the agents sync
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Forward each task's provenance in the agents sync (#2391)
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.959
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4982 (D-10): arthur-client 1.4.2729, which carries FETCH_DISCOVERED_AGENTS
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

UP-4982 (D-10): Discovery Fetch Job (#2384)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.960
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

send engine version header to platform for datasets backwards comp
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/tools/engine_version.py
  ml-engine/tests/unit/tools/test_engine_version.py
Due: ml-engine-pytest-check

Address review feedback on engine version header
  .github/workflows/version-workflow.yml
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/tools/engine_version.py
  ml-engine/src/ml_engine/tools/platform_api_client.py
  ml-engine/src/ml_engine/version
  ml-engine/tests/unit/tools/test_engine_version.py
Due: ml-engine-pytest-check

UP-4991: carry where a discovered agent runs through provenance
  genai-engine/alembic/versions/2026_09_25_1800-d2ffff9e0a56_add_runs_on_and_platform_to_task_provenance_sources.py
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_task_provenance.py
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

UP-4991: keep a runs_on of UNKNOWN from replacing a stored location
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/tests/unit/services/test_task_provenance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4991: carry where a discovered agent runs through provenance (#2392)
  genai-engine/alembic/versions/2026_09_25_1800-d2ffff9e0a56_add_runs_on_and_platform_to_task_provenance_sources.py
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_task_provenance.py
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.961
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4984 (D-12): TEST_DISCOVERY_SOURCE executor
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4986: Vertex AI Agent Engine discovery on the connector framework (D-14)
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/src/utils/constants.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/__init__.py
  ml-engine/src/ml_engine/discovery/cloud/gcp_vertex/scanner.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/discovery/test_gcp_vertex_scanner.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

UP-4984 (D-12): gate test-connection on client support; classify eager scanner errors
  ml-engine/src/ml_engine/arthur_client_support.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_job_executor_client_gating.py
Due: ml-engine-pytest-check

UP-4991: scope a Jamf source to computer groups, with counts
  integrations/endpoint-ai-discovery/docs/architecture.md
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/scope.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_device_scope.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: ml-engine-pytest-check

UP-4991: scope a Jamf source to computer groups, with counts (#2394)
  integrations/endpoint-ai-discovery/docs/architecture.md
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/scope.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_device_scope.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.962
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4986: commit legacy GCP discovery task together with its mapping
  genai-engine/src/services/task/global_agent_polling_service.py
  genai-engine/tests/unit/services/test_global_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore: remove committed blazebot session-memory file
  blazebot/memory/UP-4703.md
Due: none

chore: remove committed blazebot session-memory file (#2396)
  blazebot/memory/UP-4703.md
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
