Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.963
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-5069: report agents the Platform did not store as job errors
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/src/ml_engine/job_log_exporter.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
  ml-engine/tests/unit/test_job_log_exporter.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

UP-5070: call the discovery connector a connector
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_task_provenance.py
  ml-engine/scripts/jamf_smoke.py
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_output_contract.py
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

UP-5069: keep a job-error export failure from failing the job
  ml-engine/src/ml_engine/job_log_exporter.py
  ml-engine/tests/unit/test_job_log_exporter.py
Due: ml-engine-pytest-check

UP-5069: report agents the Platform did not store as job errors (#2397)
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/src/ml_engine/job_log_exporter.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
  ml-engine/tests/unit/test_job_log_exporter.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.964
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-5070: call the discovery connector a connector (#2398)
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_task_provenance.py
  ml-engine/scripts/jamf_smoke.py
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/device.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/__init__.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_output_contract.py
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.965
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-5071: pin arthur-common 2.4.84 in both engines
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

UP-5071: pin arthur-common 2.4.84 in both engines (#2399)
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.966
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4991: test that the Jamf connector never collects what D-19 forbids
  ml-engine/tests/unit/discovery/test_jamf_connector.py
Due: none

UP-4991: test that the Jamf connector never collects what D-19 forbids (#2400)
  ml-engine/tests/unit/discovery/test_jamf_connector.py
Due: none

Increment arthur-engine version to 2.1.967
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Address review feedback on engine version header
  .github/workflows/version-workflow.yml
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/tools/engine_version.py
  ml-engine/src/ml_engine/tools/platform_api_client.py
  ml-engine/src/ml_engine/version
  ml-engine/tests/unit/tools/test_engine_version.py
Due: ml-engine-pytest-check

send engine version header to platform for datasets backwards comp
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/tools/engine_version.py
  ml-engine/tests/unit/tools/test_engine_version.py
Due: ml-engine-pytest-check

bump arthur common version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Sync ml-engine version file with pyproject
  ml-engine/src/ml_engine/version
Due: none

Bump arthur-common to 2.4.85 in genai-engine
  genai-engine/pyproject.toml
  genai-engine/uv.lock
Due: none

send engine version header to platform for datasets backwards comp (#2381)
  .github/workflows/version-workflow.yml
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/tools/engine_version.py
  ml-engine/src/ml_engine/tools/platform_api_client.py
  ml-engine/src/ml_engine/version
  ml-engine/tests/unit/tools/test_engine_version.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.968
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-4984: classify a timeout anywhere in the chain before connection errors
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4984: fail a job the engine cannot read instead of exiting the agent
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/tests/unit/job_agent/test_job_agent_failures.py
Due: ml-engine-pytest-check

UP-4984: bound a Test Connection whose connector pages without yielding
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4984: declare Test Connection support when asking for work
  ml-engine/src/ml_engine/arthur_client_support.py
  ml-engine/src/ml_engine/job_agent.py
  ml-engine/tests/unit/job_agent/test_job_agent_dequeue.py
Due: ml-engine-pytest-check

UP-4993: the discovery fetch uploads each record's evidence
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/services/test_task_provenance.py
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

UP-4993: pin arthur-common 2.4.86 in both engines
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

UP-4993: pick the task's creation record among every source's records
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
Due: ml-engine-pytest-check

UP-4993: the discovery fetch uploads each record's evidence (#2402)
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/services/test_task_provenance.py
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/job_executors/fetch_discovered_agents_executor.py
  ml-engine/tests/unit/job_executors/test_fetch_discovered_agents_executor.py
  ml-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.969
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

fix: address CodeRabbit review - fail loudly on unpatchable GLiNER config
  deployment/model-upload/download_models.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: gate GLiNER encoder-config hard-failure on actual offline mode
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: GLiNER encoder config requires Hub access even when local model is fully offline
  deployment/model-upload/download_models.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: GLiNER encoder config requires Hub access even when local model is fully offline (#2401)
  deployment/model-upload/download_models.py
  genai-engine/src/utils/model_load.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.970
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/version
  ml-engine/uv.lock
  version
Due: none

UP-5102: deliver each source scan's outcome to the Platform's run store
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/discovery/endpoint/jamf/client.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/connector.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/src/ml_engine/discovery/endpoint/scope.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_run_reporter.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_connector.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_run_reporter.py
  ml-engine/uv.lock
Due: ml-engine-pytest-check

UP-4984: read a Google API error's HTTP status from its code
  ml-engine/src/ml_engine/job_executors/discovery_source_test_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_source_test_executor.py
Due: ml-engine-pytest-check

UP-4988 (D-16): Splunk Enterprise connector
  ml-engine/src/ml_engine/discovery/__init__.py
  ml-engine/src/ml_engine/discovery/siem/__init__.py
  ml-engine/src/ml_engine/discovery/siem/records.py
  ml-engine/src/ml_engine/discovery/siem/splunk/__init__.py
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4988 (D-16): share SIEM TLS handling in discovery/siem/tls.py
  ml-engine/src/ml_engine/discovery/siem/splunk/client.py
  ml-engine/src/ml_engine/discovery/siem/splunk/connector.py
  ml-engine/src/ml_engine/discovery/siem/tls.py
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: ml-engine-pytest-check

UP-4988 (D-16): pin search job responses captured from Splunk 10.4.4
  ml-engine/tests/unit/discovery/test_splunk_connector.py
Due: none
