Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.603
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: simplify redirect logic, fixed incorrect redirect url
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
Due: none

fix: color contrast for onboarding tour hints
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.tsx
  genai-engine/ui/src/theme/mui-theme.ts
Due: none

fix: adjust the onboarding tour copy to properly point at the highlighted prompt
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/tourActions.ts
Due: none

UP-4516 Simplify redirect logic after submitting onboarding form, fixed incorrect redirect url (#1730)
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
Due: none

Increment arthur-engine version to 2.1.604
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4502 Validate text fields on blur in onboarding form (#1727)
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/other-specify-field.test.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/other-specify-field.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
Due: none

Increment arthur-engine version to 2.1.605
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4503 Make onboarding tour modals scrollable with fixed footer (#1728)
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/ui/src/features/task-tour/components/SectionIntroDialog.tsx
  genai-engine/ui/src/features/task-tour/components/cta-dialog/index.tsx
Due: none

Increment arthur-engine version to 2.1.606
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add aggregation routes for task overview and analyze page
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_overview_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix FE to use new overview routes
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/hooks/tasks/useTaskMetrics.ts
  genai-engine/ui/src/hooks/tasks/useTasksOverview.ts
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
Due: none

switch to db aggregation
  genai-engine/src/repositories/span_repository.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/routers/v1/trace_api_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove redundant bucket idx
  genai-engine/src/repositories/span_repository.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

address CCR comments
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/ui/src/components/TaskCard.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4490 Fix color contrast for onboarding tour hints (#1731)
  genai-engine/ui/src/features/task-tour/components/ChecklistPanelBody.tsx
  genai-engine/ui/src/theme/mui-theme.ts
Due: none

Increment arthur-engine version to 2.1.607
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-4509 Adjust the onboarding tour copy to properly point at the highlighted prompt (#1732)
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/tourActions.ts
Due: none

Increment arthur-engine version to 2.1.608
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add aggregation routes for task overview and analyze page (#1717)
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_trace_overview_endpoints.py
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/TaskCard.tsx
  genai-engine/ui/src/hooks/tasks/useTaskMetrics.ts
  genai-engine/ui/src/hooks/tasks/useTasksOverview.ts
  genai-engine/ui/src/hooks/useTaskOverviewMetrics.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.609
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

refactor(genai-engine): extract _scope_test_cases_to_org helper
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: add ML eval support with continuous eval integration
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/llm_evaluator.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/base_ml_scorer.py
  genai-engine/src/scorer/ml_scorers.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalActions.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvaluators.tsx
  genai-engine/ui/src/components/ml-evaluators/hooks/useCreateMlEvalMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useDeleteMlEvalMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useDeleteMlEvalVersionMutation.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEval.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEvalVersions.ts
  genai-engine/ui/src/components/ml-evaluators/hooks/useMlEvals.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/schema.ts
  genai-engine/ui/src/components/traces/components/AnnotationCell/table.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

revert(genai-engine): defer 2-hop org_scope gap methods to follow-up
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/metrics_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/tests/coverage/test_repository_org_scope_coverage.py
  genai-engine/tests/multitenancy/test_pattern_c_repository_gaps.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

feat: persist demo completion certificates in Postgres
  genai-engine/alembic/versions/2026_06_02_0900-a1b2c3d4e5f6_add_demo_certificates_table.py
  genai-engine/pyproject.toml
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/demo_certificate_models.py
  genai-engine/src/routers/v2/demo_certificate_routes.py
  genai-engine/src/server.py
  genai-engine/tests/unit/routes/test_demo_certificate_routes.py
  genai-engine/ui/package.json
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/version
  version
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: move CertificateUploadResponse to response_schemas, revert version files
  genai-engine/pyproject.toml
  genai-engine/src/routers/v2/demo_certificate_routes.py
  genai-engine/ui/package.json
  genai-engine/version
  version
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: isort, black, unique migration ID, api changelog
  genai-engine/alembic/versions/2026_06_02_0900-490cd5586c25_add_demo_certificates_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/demo_certificate_routes.py
  genai-engine/src/server.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore: update staging.openapi.json from server-generated spec
  genai-engine/staging.openapi.json
Due: none

fix: correct migration down_revision to actual dev head, update openapi spec
  genai-engine/alembic/versions/2026_06_02_0900-490cd5586c25_add_demo_certificates_table.py
  genai-engine/staging.openapi.json
Due: none

fix: revert migration down_revision to 7e1c3a4b5d2f per review feedback
  genai-engine/alembic/versions/2026_06_02_0900-490cd5586c25_add_demo_certificates_table.py
Due: none

fix: add alembic merge migration for parallel heads
  genai-engine/alembic/versions/2026_06_03_0900-2966018cec1d_merge_onboarding_and_demo_certificates.py
Due: none

feat: ML eval support with continuous eval integration and unified evals API (v2.1.506)
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluate/EvaluateView.tsx
  genai-engine/ui/src/components/evaluators/CreateEvalTypeModal.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorAccordionList.tsx
  genai-engine/ui/src/components/evaluators/EvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/MLEvaluatorPipelinesPanel.tsx
  genai-engine/ui/src/components/evaluators/hooks/useAllEvals.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useDeleteMLEvalMutation.ts
  genai-engine/ui/src/components/evaluators/hooks/useEval.ts
  genai-engine/ui/src/components/evaluators/hooks/useImpactedContinuousEvals.ts
  genai-engine/ui/src/components/live-evals/[evalId]/index.tsx
  genai-engine/ui/src/components/live-evals/components/actions/index.tsx
  genai-engine/ui/src/components/live-evals/components/create-form/index.tsx
  genai-engine/ui/src/components/live-evals/components/edit-form/index.tsx
  genai-engine/ui/src/components/live-evals/hooks/useContinuousEvalVariableMapping.tsx
  genai-engine/ui/src/components/live-evals/new/ContinuousEvalStepper.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/live-evals/new/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/staging.openapi.json
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: merge alembic heads (eval_type + trace_end_time)
  genai-engine/alembic/versions/2026_04_20_1359-8f5b46f379f5_merge_eval_type_and_trace_end_time_heads.py
Due: none

refactor: remove ML eval support and related components
  genai-engine/alembic/versions/2026_04_06_1200-ml_evals_and_continuous_eval_ml_support.py
  genai-engine/alembic/versions/2026_04_16_1000-a7f3b8c2d1e9_add_eval_type_to_llm_evals.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/ROUTES.md
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: rebase on dev, restore CertificateUploadResponse, regenerate openapi
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: introduce ML eval support with new models, routes, and request schemas
  genai-engine/alembic/versions/2026_04_21_1000-c3e7a1b2d4f8_add_ml_eval_support_to_continuous_evals.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v2/ml_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/scorer/base_ml_scorer.py
  genai-engine/src/server.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluators/CreateEvalTypeModal.tsx
  genai-engine/ui/src/components/live-evals/new/components/EvaluatorSelector.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalActions.tsx
  genai-engine/ui/src/components/ml-evaluators/MLEvalFormModal.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: enhance evaluation framework with eval_type support
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v2/eval_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
  genai-engine/ui/src/components/evaluators/fullscreen/EvalVersionDrawer.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat: implement eval_type handling in repositories and schemas
  genai-engine/alembic/versions/2026_04_23_1200-e1f2a3b4c5d6_add_eval_type_support.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/base_evaluator.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/ml_evals_repository.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/scorer/ml_scorers.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/tests/unit/repositories/test_ml_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
