Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

Increment arthur-engine version to 2.1.379
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3773 add support for IDA token exchange for databricks connector (#1256)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.380
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add GCP ennvars and service account secret to helm chart
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
Due: none

add for update clause to polling executor
  genai-engine/src/services/task/registered_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added default
  genai-engine/src/metrics_engine.py
  genai-engine/src/rules_engine.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3778 Broken Config (#1264)
  genai-engine/src/metrics_engine.py
  genai-engine/src/rules_engine.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.381
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

base connector impl
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
Due: ml-engine-pytest-check

metrics calculating
  ml-engine/src/ml_engine/dataset_loader.py
Due: ml-engine-pytest-check

change trace viewer to use new filter mechanism
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SessionsFilterModal.tsx
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

fix ui lint
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

Add GCP config isEnabled
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
Due: none

Add descriptor for ADC file path
  deployment/helm/genai-engine/values.yaml.template
Due: none

Update schema descriptor
  deployment/helm/genai-engine/values.schema.json
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(ui): add clickable trace ID link in agentic experiment test case details
  genai-engine/ui/src/components/agent-experiments/[experimentId]/components/test-cases/TestCaseDetails.tsx
Due: none

remove unused filters
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

Hardcode credentials file name and location
  deployment/helm/genai-engine/README.md
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
Due: none

convert anchor to use ref without click handler
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/components/SessionsFilterModal.tsx
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

refactor setFilterState to use @tanstack/react-form
  genai-engine/ui/src/components/traces/components/tables/components/TracingFilterModal.tsx
Due: none

Update poetry.lock
  ml-engine/poetry.lock
Due: none

Add GCP ennvars and service account secret to helm chart (#1262)
  deployment/helm/genai-engine/README.md
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
Due: none

Increment arthur-engine version to 2.1.382
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add unit tests for static connectors
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/test_dataset_loader.py
Due: none

run lint
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
Due: ml-engine-pytest-check

remove for update from execution function
  genai-engine/src/services/task/registered_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/services/task/registered_agent_polling_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

bump client
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/job_agent/test_job_agent_parallelism.py
  ml-engine/tests/unit/test_dataset_loader.py
Due: none

fix tests
  ml-engine/tests/unit/test_dataset_loader.py
Due: none

remove genai client from project.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

UP-3692 Support datasets without time columns (#1280)
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
  ml-engine/src/ml_engine/connectors/big_query_connector.py
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/databricks_connector.py
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_databricks_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/job_agent/test_job_agent_parallelism.py
  ml-engine/tests/unit/test_dataset_loader.py
Due: ml-engine-pytest-check
