Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

Increment arthur-engine version to 2.1.216
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add default model provider to prompts and evals
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/scorer/llm_client.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix failing unit test
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

feat: change UI and connect to BE
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add nuqs selection store
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/hooks/useDrawerTarget.tsx
  genai-engine/ui/src/components/traces/hooks/useSelection.tsx
  genai-engine/ui/src/components/traces/stores/selection.store.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add optimistic update
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
Due: none

feat: add feedback panel
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/yarn.lock
Due: none

feat: move current to url state
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/constants.tsx
  genai-engine/ui/src/components/traces/hooks/useSyncUrlState.tsx
  genai-engine/ui/src/components/traces/stores/history.store.ts
  genai-engine/ui/src/utils/title.ts
Due: none

[UP-3372] [UP-3380] feat: add Annotation UI and connect state to query (#849)
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/DrawerPagination/index.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/feedback/FeedbackPanel.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/constants.tsx
  genai-engine/ui/src/components/traces/data/common.tsx
  genai-engine/ui/src/components/traces/hooks/useDrawerTarget.tsx
  genai-engine/ui/src/components/traces/hooks/useSelection.tsx
  genai-engine/ui/src/components/traces/hooks/useSyncUrlState.tsx
  genai-engine/ui/src/components/traces/stores/history.store.ts
  genai-engine/ui/src/components/traces/stores/selection.store.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/utils/title.ts
  genai-engine/ui/yarn.lock
Due: none

Increment arthur-engine version to 2.1.217
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] make render saved prompt API return whole agentic prompt response
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update mastra agent to use new renders API
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
Due: none

[no-ref] make render saved prompt API return whole agentic prompt response (#874)
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/api-client.ts
  genai-engine/examples/agents/analytics-agent/src/mastra/lib/arthur-api-client/prompt-templating.ts
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.218
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.219
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add API keys UI
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ApiKeysManagement.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
Due: none

Add API keys UI (#878)
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/ApiKeysManagement.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
Due: none

Increment arthur-engine version to 2.1.220
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

move datasets under tasks
  genai-engine/alembic/versions/2025_11_26_1127-6273338ffe42_add_task_id_to_datasets.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix failing unit tests
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: none

[UP-3435] feat: always enable extracted text field
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
Due: none

[UP-3383] feat: add search input to span selector
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
Due: none

fix: check for api in fetchApiKeys
  genai-engine/ui/src/components/ApiKeysManagement.tsx
Due: none

feat: add to dataset flow tweaks (#875)
  genai-engine/ui/src/components/ApiKeysManagement.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SpanSelector.tsx
Due: none

Increment arthur-engine version to 2.1.221
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3319: Fix mypy issues for GenAI Engine part 4
  genai-engine/src/dependencies.py
  genai-engine/src/scorer/checks/hallucination/v2.py
  genai-engine/src/scorer/checks/hallucination/v2_legacy_prompts.py
  genai-engine/src/scorer/checks/hallucination/v2_prompts.py
  genai-engine/src/scorer/checks/keyword/keyword.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/scorer/checks/pii/classifier_v1.py
  genai-engine/src/scorer/checks/pii/validations.py
  genai-engine/src/scorer/checks/prompt_injection/classifier.py
  genai-engine/src/scorer/checks/regex/regex.py
  genai-engine/src/scorer/checks/sensitive_data/custom_examples.py
  genai-engine/src/scorer/checks/toxicity/toxicity.py
  genai-engine/src/scorer/checks/toxicity/toxicity_profanity/profanity.py
  genai-engine/src/scorer/llm_client.py
  genai-engine/src/scorer/metrics/relevance/relevance.py
  genai-engine/src/scorer/metrics/tool_selection/tool_selection.py
  genai-engine/src/scorer/score.py
  genai-engine/src/scorer/scorer.py
  genai-engine/src/utils/model_load.py
  genai-engine/src/utils/utils.py
  genai-engine/tests/unit/scorer/test_llm_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Address comments
  genai-engine/src/scorer/checks/toxicity/toxicity.py
  genai-engine/src/scorer/score.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix: timestamp
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/utils/formatters.ts
Due: none

fix: force timestamp (#884)
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/utils/formatters.ts
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
