Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

[no ref] fix openapi generator cli in CICD (#404)
  .github/workflows/arthur-engine-workflow.yml
  ml-engine/scripts/openapitools.json
Due: none

Increment arthur-engine version to 2.1.69
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fixing the KeyCloak SSL cert download location
  genai-engine/src/docker-entrypoint.sh
Due: none

Increment arthur-engine version to 2.1.70
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

deleted shared model definitions
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/metric_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/scorer/checks/hallucination/v2.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.71
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fixing the KeyCloak SSL cert download location (#407)
  genai-engine/src/docker-entrypoint.sh
Due: none

Increment arthur-engine version to 2.1.67
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix imports in genai-engine
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/routers/v2/system_management_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/scorer/checks/hallucination/v2.py
  genai-engine/src/scorer/checks/pii/classifier.py
  genai-engine/src/services/metrics_integration_service.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/tree_building_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix imports in ml-engine
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

x
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

wip
  ml-engine/src/ml_engine/connectors/bucket_based_connector.py
  ml-engine/src/ml_engine/connectors/connector.py
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/dataset_loader.py
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/fetch_data_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/job_executors/schema_inference_executor.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
  ml-engine/src/ml_engine/tools/schema_interpreters.py
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/mock_data/connector_helpers.py
Due: ml-engine-pytest-check

chore: test
  .github/workflows/version-workflow.yml
Due: none

fix: runs on
  .github/workflows/version-workflow.yml
Due: none

fix: step
  .github/workflows/version-workflow.yml
Due: none

fix: syntax
  .github/workflows/version-workflow.yml
Due: none

test
  test.txt
Due: none

chore: push version bump commit
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.72
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: use github app
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.73
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: remove comments
  .github/workflows/version-workflow.yml
Due: none

Increment arthur-engine version to 2.1.74
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix imports in genai
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/custom_exceptions.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/metric_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/schemas/rules_schema_utils.py
  genai-engine/src/schemas/scorer_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

delete extra staging file. Fix imports
  ml-engine/scripts/staging.openapi.json
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

fix imports in tests
  ml-engine/tests/unit/connectors/test_big_query_connector.py
  ml-engine/tests/unit/connectors/test_gcs_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
  ml-engine/tests/unit/connectors/test_s3_connector.py
  ml-engine/tests/unit/connectors/test_shield_connector.py
  ml-engine/tests/unit/job_executors/test_schema_inference_executor.py
Due: none

remove git ignore entry
  .gitignore
Due: none

sunset type converters
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

revert/add arthur-common dependency
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

remove comments
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/metric_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add migrations for span and trace_meta tables
  genai-engine/alembic/versions/2025_08_27_2130-48b468cd92f9_add_trace_meta_table.py
  genai-engine/alembic/versions/2025_08_28_1026-0135e39e511f_add_span_name_and_indexes.py
  genai-engine/src/db_models/db_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/services/trace_ingestion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update tests and response schema
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Introduce span query endpoint
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/routers/v2/query_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/span_query_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/span/test_query_spans.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update OpenAPI and changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Validate via request
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/span_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/span/test_query_spans.py
  genai-engine/tests/routes/span/test_span_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check
