Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

add test
  ml-engine/tests/unit/job_executors/test_unregistered_agents_job_executor.py
Due: none

lint
  ml-engine/src/ml_engine/job_executors/unregistered_agents_job_executor.py
Due: ml-engine-pytest-check

Add support for orphaned spans as root spans
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Swap tokencost->litellm (#925)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/utils/token_count.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.240
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Eliminate wasteful pass
  genai-engine/src/services/trace/tree_building_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

add the ability to run continuous evals
  genai-engine/alembic/versions/2025_12_04_1151-44cd9fd55df9_add_continuous_evals_to_agentic_annotations.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/agentic_annotation_models.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/services/continuous_eval/__init__.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/src/services/experiment_executor.py
  genai-engine/src/services/trace/trace_annotation_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
  genai-engine/tests/routes/trace_api/test_filtering_and_pagination.py
  genai-engine/tests/routes/trace_api/test_trace_annotation.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

ensure continuous eval execution is idempotent
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/services/continuous_eval/continuous_eval_queue_service.py
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix alembic multiple heads error
  genai-engine/alembic/versions/2025_12_04_1151-44cd9fd55df9_add_continuous_evals_to_agentic_annotations.py
Due: none

bump arthur common version for genai engine
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
Due: none

update changelog with new arthur common annotation schemas
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

update poetry lock after fixing dev branch merge conflicts
  genai-engine/poetry.lock
Due: none

fix failing unit tests
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: none

delete test traces after use in eval execution tests
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: none

refactor
  genai-engine/ui/src/hooks/datasets/useDatasetLocalState.ts
Due: none

Create directory for models as nonroot user
  genai-engine/dockerfile
Due: none

Add support for orphaned spans as root spans (#927)
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.241
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add parse try to schema
  genai-engine/ui/src/schemas/llm.ts
Due: none

feat: add LiteLLMTool schema
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

feat: add LiteLLMTool schema (#930)
  genai-engine/ui/src/components/traces/components/llm/ToolsTab.tsx
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

Increment arthur-engine version to 2.1.242
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

dummy commit
  genai-engine/README.md
Due: none

Increment arthur-engine version to 2.1.243
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

skip queuing and test immediate execution
  genai-engine/tests/routes/trace_api/test_continuous_eval_execution.py
Due: none

UP-3503 Dataset Column Mismatch (#926)
  genai-engine/ui/src/hooks/datasets/useDatasetLocalState.ts
Due: none

Increment arthur-engine version to 2.1.244
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix flaky llm eval unit test
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: none

fix flaky llm eval unit test (#932)
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: none
