Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

UP-3207: Add query collections endpoint (#692)
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.105
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix keyword object naming
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add developer messages and mutlimodal input support for agentic prompts
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add unit tests for nested variable replacement
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: none

add tests for finding missing variables
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: none

fix lint errs
  genai-engine/src/schemas/agentic_prompt_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix api changelog merge conflict
  genai-engine/src/api_changelog.md
Due: none

review suggestions
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_crud.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix merge mistake
  genai-engine/src/clients/rag_providers/rag_provider_client.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

change variable replacement and missing vars to accept AgenticPromptMessages as input
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix github action errs
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add developer messages and mutlimodal input support for agentic prompts (#690)
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.106
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add new tracing ui
  genai-engine/ui/.vite/deps/_metadata.json
  genai-engine/ui/.vite/deps/package.json
  genai-engine/ui/eslint.config.js
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/common/Highlight.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/index.css
  genai-engine/ui/src/main.tsx
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/yarn.lock
Due: none

feat: add renderers
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/TextMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/llm.ts
  genai-engine/ui/yarn.lock
Due: none

feat: replace infinite scroll for pagination, user and session level views
  genai-engine/ui/package.json
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/common/form/ComboboxField.tsx
  genai-engine/ui/src/components/common/form/SelectField.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/LLMMetricsPanel.tsx
  genai-engine/ui/src/components/traces/components/SessionDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TracesEmptyState.tsx
  genai-engine/ui/src/components/traces/components/TracesTable.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/components/widgets/TokenCount.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/session-level-columns.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/data/user-level-columns.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/components/traces/utils/sessions.ts
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/query-options/sessions.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/src/utils/date.ts
  genai-engine/ui/src/utils/llm.ts
  genai-engine/ui/yarn.lock
Due: none

fix: session level filter row context
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
Due: none

chore: remove .vite directory
  genai-engine/ui/.gitignore
  genai-engine/ui/.vite/deps/_metadata.json
  genai-engine/ui/.vite/deps/package.json
Due: none

wip
  genai-engine/ui/.env.dev
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/hooks/useTrace.ts
Due: none

feat: add url query deep linking
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/form/SelectField.tsx
  genai-engine/ui/src/components/traces/store.ts
Due: none

feat: ui fixes
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

feat: working filters
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/form/NumberField.tsx
  genai-engine/ui/src/components/common/form/SelectField.tsx
  genai-engine/ui/src/components/traces/components/filtering/TracesFilters.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form-context.ts
  genai-engine/ui/src/components/traces/components/filtering/hooks/form.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/shared.ts
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/types.ts
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/hooks/useOnClickOutside.ts
  genai-engine/ui/src/lib/queryClient.ts
  genai-engine/ui/src/query-options/traces.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/src/utils/cn.ts
  genai-engine/ui/yarn.lock
Due: none

feat: custom filters builder
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/filtering/TracesFilters.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/hooks/useOnClickOutside.ts
Due: none

fix: add new endpoints
  genai-engine/ui/src/services/tracing.ts
Due: none

feat: add user level view
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/data/user-level-columns.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/query-options/users.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

feat: update endpoints & add span and session level views
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/data/columns.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/session-level-columns.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/yarn.lock
Due: none

fix: rules types
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
Due: none

feat: add session level infinite scroll
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/sessions-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.ts
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/hooks/useTableScrollThrottler.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/query-options/sessions.ts
  genai-engine/ui/src/query-options/spans.ts
  genai-engine/ui/src/services/tracing.ts
Due: none

feat: add output message formatting and refresh metrics button
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/TextMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/constants.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/components/ui/LoadingButton/index.tsx
  genai-engine/ui/src/components/ui/Tabs/index.tsx
  genai-engine/ui/src/index.css
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/services/tracing.ts
  genai-engine/ui/src/utils/index.ts
  genai-engine/ui/src/utils/llm.ts
  genai-engine/ui/yarn.lock
Due: none

chore: remove old files & update api client
  genai-engine/ui/src/components/traces/components/SpanDrawer.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawer.tsx
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/types.ts
Due: none

Increment arthur-engine version to 2.1.107
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Increment arthur-engine version to 2.1.108
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3128: Limit cases when bump version is triggered
  .github/workflows/version-workflow.yml
Due: none
