Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

add variables column to prompts and evals table
  genai-engine/alembic/versions/2025_11_15_1140-7c2dbe560050_add_variables_to_prompts_and_evals.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Add button, fix prompt playground span->message conversion
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
Due: none

add changelog
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Fix message handling in the playground
  genai-engine/ui/src/components/prompts-playground/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts-playground/utils/apiToFrontendPrompt.ts
Due: none

improvements
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
  genai-engine/src/db_models/prompt_experiment_models.py
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

make prompt and eval variables not nullable
  genai-engine/alembic/versions/2025_11_15_1140-7c2dbe560050_add_variables_to_prompts_and_evals.py
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update model
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor agentic prompts (#782)
  genai-engine/alembic/versions/2025_11_15_1140-7c2dbe560050_add_variables_to_prompts_and_evals.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/agentic_prompt_models.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/llm_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/services/prompt/__init__.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/conftest.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/ui/src/components/ModelProviders.tsx
  genai-engine/ui/src/components/prompts-playground/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/toBackendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/toCompletionRequest.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.167
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update prompt_experiment_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix migration order
  genai-engine/alembic/versions/2025_11_15_1932-0381fe93ad77_prompt_experiments.py
Due: none

remove model dump for getting completion parameters
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix missing import for ToolChoiceEnum
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

remove model dump for getting completion parameters (#787)
  genai-engine/src/services/prompt/chat_completion_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.168
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Fix migration down-revision
  genai-engine/alembic/versions/2025_11_15_1115-4392c0a6800e_add_dataset_transform_table.py
Due: none

tweaks
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

use latest version strings by defaulloadt
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
Due: none

buttons for paging through results
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
Due: none

create experiment modal
  genai-engine/ui/src/App.tsx
Due: none

somewhat working view
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
Due: none

wip - use apis
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

cont. replacing w/ actual apis
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
Due: none

create experiment modal
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsEmptyState.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsViewHeader.tsx
Due: none

fix types
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/schemas/prompt_experiment_schemas.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Feature/dataset transforms mvp (#786)
  genai-engine/alembic/versions/2025_11_15_1115-4392c0a6800e_add_dataset_transform_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/technical_documentation/dataset_transforms/simplified_transforms_design.md
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/ui/src/components/traces/components/add-to-dataset/Configurator.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SaveTransformDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransformExecutor.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformBuilder.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformExecutor.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.169
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

remove min and max scores from llm evals
  genai-engine/alembic/versions/2025_11_15_1618-5d30b8ab358b_remove_score_range_from_llm_evals.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix alembic errors
  genai-engine/alembic/versions/2025_11_15_1618-5d30b8ab358b_remove_score_range_from_llm_evals.py
Due: none

move to using hooks
  genai-engine/ui/src/components/prompt-experiments/ExperimentDetailView.tsx
  genai-engine/ui/src/components/prompt-experiments/ExperimentResultsTable.tsx
  genai-engine/ui/src/components/prompt-experiments/PromptExperimentsView.tsx
Due: none

Fix mastra exporter
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

Refactor
  genai-engine/examples/agents/analytics-agent/src/mastra/observability/arthur/attribute-utils.ts
Due: none

remove min and max scores from llm evals (#788)
  genai-engine/alembic/versions/2025_11_15_1618-5d30b8ab358b_remove_score_range_from_llm_evals.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/schemas/llm_eval_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
