Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (^genai-engine/staging.openapi.json)
      - id: end-of-file-fixer
        exclude: (^genai-engine/staging.openapi.json)
      - id: check-yaml
        exclude: (^deployment/cloudformation/|^deployment/helm/|^genai-engine/helm/|^ml-engine/helm/)
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)^(
            genai-engine/tests/mocks|
            genai-engine/tests/constants.py|
            genai-engine/tests/clients|
            ml-engine/tests/unit/connectors/helpers.py|
            ml-engine/tests/unit/mock_data/mock_data_generator.py|
            ml-engine/tests/unit/mock_data/api_mock_helpers.py|
            ml-engine/tests/unit/mock_data/connector_helpers.py
          )
  - repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--recursive"
        fail_fast: true
        exclude: (^genai-engine/src/routers/v2/routers.py)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: "sort imports"
        args: ["--profile", "black"]
        fail_fast: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        fail_fast: true
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: "add trailing commas"
        fail_fast: true
  - repo: local
    hooks:
      - id: genai-engine-routes-security-check
        name: "genai-engine: check routes security"
        entry: poetry -C genai-engine run routes_security_check
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-pytest-check
        name: "genai-engine: pytest unit tests and coverage"
        entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^genai-engine/src/
      - id: genai-engine-api-changelog-check
        name: "genai-engine: api changelog"
        entry: poetry -C genai-engine run generate_changelog
        language: system
        always_run: false
        files: ^genai-engine/src/schemas/
      - id: ml-engine-pytest-check
        name: "ml-engine: pytest unit tests"
        entry: poetry -C ml-engine run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^ml-engine/src/

UP-3268 Trace Filtering Additions (#845)
  .gitignore
  genai-engine/poetry.lock
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/filter_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/staging.openapi.json
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/AddColumnDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/CreateDatasetModal.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/PreviewTable.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/SaveTransformDialog.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/usePreviewTableData.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransformExecutor.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransforms.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformBuilder.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformExecutor.ts
  genai-engine/ui/src/components/traces/components/filtering/fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/hooks/form-context.ts
  genai-engine/ui/src/components/traces/components/filtering/mapper.tsx
  genai-engine/ui/src/components/traces/components/filtering/rules.ts
  genai-engine/ui/src/components/traces/components/filtering/span-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/trace-fields.tsx
  genai-engine/ui/src/components/traces/components/filtering/types.ts
  genai-engine/ui/src/components/traces/components/filtering/utils.ts
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/hooks/useSyncFiltersToUrl.tsx
  genai-engine/ui/src/components/traces/hooks/useTableScrollThrottler.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.226
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix: apply review feedback
  genai-engine/ui/src/components/rag/RagProviderFormModal.tsx
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/SaveRagConfigDialog.tsx
  genai-engine/ui/src/components/retrievals/settings/DistanceThreshold.tsx
  genai-engine/ui/src/components/retrievals/settings/HybridAlpha.tsx
  genai-engine/ui/src/components/retrievals/settings/SearchSliderField.tsx
  genai-engine/ui/src/hooks/rag/useProviderForm.ts
  genai-engine/ui/src/hooks/rag/useRagProviderMutations.ts
  genai-engine/ui/src/hooks/rag/useRagProviders.ts
Due: none

feat: add search configuration saving and versioning
  genai-engine/ui/AGENTS.md
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/retrievals/CollectionSelector.tsx
  genai-engine/ui/src/components/retrievals/ConfigVersionsDrawer.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigVersionSelector.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationSelector.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/RagRetrievalsPlayground.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/SaveRagConfigDialog.tsx
  genai-engine/ui/src/components/retrievals/SearchActions.tsx
  genai-engine/ui/src/components/retrievals/SearchConfiguration.tsx
  genai-engine/ui/src/components/retrievals/VersionTagsDialog.tsx
  genai-engine/ui/src/components/retrievals/settings/ResultLimitInput.tsx
  genai-engine/ui/src/hooks/rag-search-settings/useCreateRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useCreateRagVersion.ts
  genai-engine/ui/src/hooks/rag-search-settings/useDeleteRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useDeleteRagVersion.ts
  genai-engine/ui/src/hooks/rag-search-settings/useLoadRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useRagConfigVersions.ts
  genai-engine/ui/src/hooks/rag-search-settings/useRagSearchSettings.ts
  genai-engine/ui/src/hooks/rag-search-settings/useUpdateVersionTags.ts
  genai-engine/ui/src/hooks/rag/useRagProviders.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/main.tsx
Due: none

fix: infer canSubmit from tanstack form values
  genai-engine/ui/src/components/rag/RagProviderFormModal.tsx
  genai-engine/ui/src/hooks/rag/useProviderForm.ts
Due: none

fix: move variable out of the component
  genai-engine/ui/src/components/retrievals/SaveRagConfigDialog.tsx
Due: none

fix: date type issues
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
Due: none

UP-3254: Saving/versioning of search configurations (#822)
  genai-engine/ui/AGENTS.md
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
  genai-engine/ui/src/components/rag/RagProviderFormModal.tsx
  genai-engine/ui/src/components/rag/RagProvidersModal.tsx
  genai-engine/ui/src/components/retrievals/CollectionSelector.tsx
  genai-engine/ui/src/components/retrievals/ConfigVersionsDrawer.tsx
  genai-engine/ui/src/components/retrievals/ConfigurationsListView.tsx
  genai-engine/ui/src/components/retrievals/RagConfigVersionSelector.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationSelector.tsx
  genai-engine/ui/src/components/retrievals/RagConfigurationsPage.tsx
  genai-engine/ui/src/components/retrievals/RagRetrievalsPlayground.tsx
  genai-engine/ui/src/components/retrievals/ResultsDisplay.tsx
  genai-engine/ui/src/components/retrievals/SaveRagConfigDialog.tsx
  genai-engine/ui/src/components/retrievals/SearchActions.tsx
  genai-engine/ui/src/components/retrievals/SearchConfiguration.tsx
  genai-engine/ui/src/components/retrievals/VersionTagsDialog.tsx
  genai-engine/ui/src/components/retrievals/settings/DistanceThreshold.tsx
  genai-engine/ui/src/components/retrievals/settings/HybridAlpha.tsx
  genai-engine/ui/src/components/retrievals/settings/ResultLimitInput.tsx
  genai-engine/ui/src/components/retrievals/settings/SearchSliderField.tsx
  genai-engine/ui/src/hooks/rag-search-settings/useCreateRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useCreateRagVersion.ts
  genai-engine/ui/src/hooks/rag-search-settings/useDeleteRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useDeleteRagVersion.ts
  genai-engine/ui/src/hooks/rag-search-settings/useLoadRagConfig.ts
  genai-engine/ui/src/hooks/rag-search-settings/useRagConfigVersions.ts
  genai-engine/ui/src/hooks/rag-search-settings/useRagSearchSettings.ts
  genai-engine/ui/src/hooks/rag-search-settings/useUpdateVersionTags.ts
  genai-engine/ui/src/hooks/rag/useProviderForm.ts
  genai-engine/ui/src/hooks/rag/useRagProviderMutations.ts
  genai-engine/ui/src/hooks/rag/useRagProviders.ts
  genai-engine/ui/src/lib/constants.ts
  genai-engine/ui/src/main.tsx
Due: none

Increment arthur-engine version to 2.1.227
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add tranform model to init py
  genai-engine/src/db_models/__init__.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

make transforms global
  genai-engine/alembic/versions/2025_11_26_1603-8a2f6f0802a3_make_transforms_global.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/transform_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/tests/unit/routes/tasks/test_transform_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

remove dataset transforms table
  genai-engine/alembic/versions/2025_11_26_1603-8a2f6f0802a3_make_transforms_global.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/db_models/task_models.py
  genai-engine/src/db_models/transform_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/repositories/trace_transform_repository.py
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transform_execution.py
  genai-engine/tests/unit/routes/datasets/test_dataset_transforms_crud.py
  genai-engine/tests/unit/routes/tasks/test_transform_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update ui to incorporate global transforms
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/datasets/DatasetDetailView.tsx
  genai-engine/ui/src/components/datasets/DatasetExperimentsView.tsx
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/transforms/TransformFormModal.tsx
  genai-engine/ui/src/components/datasets/transforms/hooks/useTransforms.ts
  genai-engine/ui/src/components/prompt-experiments/CreateExperimentModal.tsx
  genai-engine/ui/src/components/prompt-experiments/NotebookExperimentModal.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/form/shared.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useTransformExecutor.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformBuilder.ts
  genai-engine/ui/src/components/traces/components/add-to-dataset/utils/transformExecutor.ts
  genai-engine/ui/src/components/transforms/TransformDetailsModal.tsx
  genai-engine/ui/src/components/transforms/TransformFormModal.tsx
  genai-engine/ui/src/components/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/components/transforms/hooks/useCreateTransformMutation.ts
  genai-engine/ui/src/components/transforms/hooks/useDeleteTransformMutation.ts
  genai-engine/ui/src/components/transforms/hooks/useTransforms.ts
  genai-engine/ui/src/components/transforms/hooks/useUpdateTransformMutation.ts
  genai-engine/ui/src/components/transforms/table/TransformRowExpansion.tsx
  genai-engine/ui/src/components/transforms/table/TransformsTable.tsx
  genai-engine/ui/src/components/transforms/types.ts
  genai-engine/ui/src/hooks/useDatasets.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
  genai-engine/ui/src/lib/queryKeys.ts
  genai-engine/ui/src/services/datasetService.ts
Due: none

UP-3374: Custom agg test execution
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/src/ml_engine/metric_calculators/custom_metric_sql_calculator.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

add madeleine step
  deployment/README_RELEASE.md
Due: none

chore: add release process documentation (#639)
  deployment/README_RELEASE.md
Due: none

Increment arthur-engine version to 2.1.228
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

review suggestions
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
Due: ml-engine-pytest-check

move transform execution to new global transform router and add support for array attribute paths
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/transform_routes.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/utils/trace.py
  genai-engine/src/utils/transform_executor.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/transforms/test_transform_crud.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

change transform execution to use new global execution endpoint
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/hooks/useSpanSelector.tsx
  genai-engine/ui/src/components/transforms/TransformsHeader.tsx
  genai-engine/ui/src/components/transforms/TransformsManagement.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

fix failing unit tests
  genai-engine/src/utils/trace.py
  genai-engine/tests/unit/routes/transforms/test_transform_execution.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.229
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

add transforms to llm evals
  genai-engine/alembic/versions/2025_12_03_1354-d1b1deeb55ac_add_llm_eval_transforms_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_transform_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: make ecs cpu and memory configurable from the root
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
Due: none

chore: bump default cpu and memory for ml engine
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
Due: none

move llm eval transforms to its own continuous eval routes
  genai-engine/alembic/versions/2025_12_03_1709-714d70516fae_add_continuous_evals_table.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/llm_eval_models.py
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/continuous_evals_repository.py
  genai-engine/src/repositories/llm_evals_repository.py
  genai-engine/src/routers/v1/continuous_eval_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_continuous_eval_crud_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_transform_crud_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore: update parameter metadata
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
Due: none

chore: make ecs cpu and memory configurable from the root (#900)
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
Due: none

Increment arthur-engine version to 2.1.230
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none
