Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

UP-4985 (D-13): a source's address is not one of its secrets (#2378)
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.946
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4985 (D-13): the output contract is checked at the seam, per column
  ml-engine/src/ml_engine/job_executors/discovery_output_contract.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: ml-engine-pytest-check

UP-4985 (D-13): the output contract is checked at the seam, per column (#2379)
  ml-engine/src/ml_engine/job_executors/discovery_output_contract.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.947
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4980 (D-08): tell external IDs apart from service names
  genai-engine/alembic/versions/2026_09_23_1200-91bac5fc80b6_add_key_kind_to_service_name_task_mappings.py
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-4980 (D-08): an explicit task_id cannot move a mapped identity
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4980 (D-08): report bad task_ids per record instead of failing the batch
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-4980 (D-08): resolve a service-name match to the identity's owner
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4980 (D-08): carry per-record resolution failures through the sink
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: ml-engine-pytest-check

UP-4980 (D-08): read a batch's tasks in one query, not one per record
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4980 (D-08): GenAI Engine task resolution for discovery records (#2359)
  genai-engine/alembic/versions/2026_09_23_1200-91bac5fc80b6_add_key_kind_to_service_name_task_mappings.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discovery_output_contract.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

Increment arthur-engine version to 2.1.948
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4991 (D-19): the payload identifies itself, so its attribute name is not an input
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

UP-4991 (D-19): refuse an ambiguous payload, warn on a scan that decodes nothing
  integrations/endpoint-ai-discovery/CLAUDE.md
  ml-engine/scripts/jamf_smoke.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

UP-4991 (D-19): the runbook's Smart Groups could not see a Mac that stopped reporting
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
Due: none

UP-4981 (D-09): GenAI Engine provenance persistence + scoped task retrieval
  genai-engine/alembic/versions/2026_09_23_1800-4e7a2c9d1b35_add_task_provenance_sources.py
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/__init__.py
  genai-engine/src/db_models/task_provenance_models.py
  genai-engine/src/repositories/task_provenance_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/src/schemas/agent_discovery_schemas.py
  genai-engine/src/services/task/discovery_task_resolution_service.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
  genai-engine/tests/unit/services/test_discovery_task_resolution_service.py
  genai-engine/tests/unit/services/test_task_provenance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

UP-4991 (D-19): vendor v0.8.0, which sharpened what `absent` means
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/SHA256SUMS
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/VERSION
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/classify
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/container-scan
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/discover
  ml-engine/src/ml_engine/discovery/_vendor/SHA256SUMS
  ml-engine/src/ml_engine/discovery/_vendor/VERSION
  ml-engine/src/ml_engine/discovery/_vendor/classify.py
Due: ml-engine-pytest-check

UP-4991 (D-19): vendor v0.9.0, and stop the connector calling an absence a gap
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/SHA256SUMS
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/VERSION
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/classify
  ml-engine/src/ml_engine/discovery/_vendor/SHA256SUMS
  ml-engine/src/ml_engine/discovery/_vendor/VERSION
  ml-engine/src/ml_engine/discovery/_vendor/classify.py
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_catalog.py
Due: ml-engine-pytest-check

UP-4991 (D-19): the docs overclaimed what `absent` proves, and two smoke-test defects
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  ml-engine/scripts/jamf_smoke.py
Due: none

UP-4991 (D-19): the payload identifies itself, so its attribute name is not an input (#2380)
  integrations/endpoint-ai-discovery/CLAUDE.md
  integrations/endpoint-ai-discovery/dist/collect.sh
  integrations/endpoint-ai-discovery/docs/architecture.md
  integrations/endpoint-ai-discovery/docs/mdm/jamf-pro.md
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/SHA256SUMS
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/VERSION
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/classify
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/container-scan
  integrations/endpoint-ai-discovery/vendor/osquery-ai-discovery/bin/discover
  ml-engine/scripts/jamf_smoke.py
  ml-engine/src/ml_engine/discovery/_vendor/SHA256SUMS
  ml-engine/src/ml_engine/discovery/_vendor/VERSION
  ml-engine/src/ml_engine/discovery/_vendor/classify.py
  ml-engine/src/ml_engine/discovery/catalog.py
  ml-engine/src/ml_engine/discovery/endpoint/envelope.py
  ml-engine/src/ml_engine/discovery/endpoint/jamf/scanner.py
  ml-engine/src/ml_engine/discovery/endpoint/records.py
  ml-engine/tests/unit/discovery/test_catalog.py
  ml-engine/tests/unit/discovery/test_jamf_scanner.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.949
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4985 (D-13): the record sink, so a scan has somewhere to put what it read
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: ml-engine-pytest-check

UP-4985 (D-13): bound the resolve request, which could otherwise hang a scan forever
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: ml-engine-pytest-check

UP-4985 (D-13): the record sink, so a scan has somewhere to put what it read (#2383)
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/src/ml_engine/job_executors/discovery_scan.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.950
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

UP-4981 (D-09): the sink names the source its batch came from
  ml-engine/src/ml_engine/job_executors/discovery_record_sink.py
  ml-engine/tests/unit/job_executors/test_discovery_record_sink.py
Due: ml-engine-pytest-check

UP-4981 (D-09): a task keeps the source that found it until a row matches it
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/tests/unit/services/test_task_provenance.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4981 (D-09): GET /agent-tasks pages, and enriches a page in bulk
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/service_name_mapping_repository.py
  genai-engine/src/repositories/task_polling_state_repository.py
  genai-engine/src/repositories/tasks_repository.py
  genai-engine/src/routers/v2/task_management_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/tasks/test_discovery_resolution_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-4981 (D-09): index provenance on report time alone
  genai-engine/alembic/versions/2026_09_23_1800-4e7a2c9d1b35_add_task_provenance_sources.py
  genai-engine/src/db_models/task_provenance_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add GenaiEngineSkipModelLoading parameter to CloudFormation templates
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Add GenaiEngineSkipModelLoading parameter to CloudFormation templates (#2385)
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Increment arthur-engine version to 2.1.951
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Param groups cleanup
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Param groups cleanup
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Param groups cleanup (#2386)
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
Due: none

Increment arthur-engine version to 2.1.952
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Fix discovery source scans failing to read their credentials
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Fix discovery source scans failing to read their credentials (#2387)
  ml-engine/src/ml_engine/job_executors/discover_agents_executor.py
  ml-engine/tests/unit/job_executors/test_discover_agents_executor.py
Due: ml-engine-pytest-check

Increment arthur-engine version to 2.1.953
  arthur-observability-sdk/python/pyproject.toml
  arthur-observability-sdk/python/uv.lock
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/src/version
  genai-engine/staging.openapi.json
  genai-engine/uv.lock
  genai-engine/version
  ml-engine/pyproject.toml
  ml-engine/uv.lock
  version
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
