Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

CI: add missing images to LTS Docker retag (models, model-upload)
  .github/workflows/lts-release.yml
Due: none

test: bump versions for 0.0.0-lts-patch-1 LTS CI test
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
Due: none

CI: use docker buildx imagetools create for LTS Docker retag
  .github/workflows/lts-release.yml
Due: none

test: bump versions for 0.0.0-lts-patch-2 LTS CI test
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
Due: none

CI: remove LTS test artifacts
  .lts-source-version
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
Due: none

wip
  genai-engine/src/api_changelog.md
  genai-engine/src/dependencies.py
  genai-engine/src/repositories/base_llm_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/routers/v1/llm_eval_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_llm_evals_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_llm_eval_routes.py
  genai-engine/ui/src/components/evaluators/Evaluators.tsx
  genai-engine/ui/src/components/evaluators/hooks/useEvals.ts
  genai-engine/ui/src/components/evaluators/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix(ml-engine): None-check compliance window + cover chain handoff in tests
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Feat/lts ci support clean (#1618)
  .claude/settings.local.json
  .github/workflows/arthur-observability-sdk-release.yml
  .github/workflows/lts-release.yml
  .gitignore
Due: none

Increment arthur-engine version to 2.1.544
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Update dependencies: increment arthur-common to 2.4.58 and duckdb to 1.5.2 in pyproject.toml files for genai-engine and ml-engine. Clean up uv.lock files by removing unnecessary options.
  genai-engine/pyproject.toml
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Update pyproject.toml to include arthur-common in exclude-newer-package settings for uv tool
  ml-engine/pyproject.toml
Due: none

Update pyproject.toml to include arthur-common in exclude-newer-package settings for uv tool
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

Update unit tests to reflect changes in model provider count from 6 to 7
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
Due: none

Update dependencies: increment arthur-common to 2.4.58 (#1619)
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/uv.lock
  ml-engine/pyproject.toml
  ml-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.545
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add tiktoken encoding download functionality to model upload script
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/pyproject.toml
  deployment/k8s/model-upload-oc/uv.lock
Due: none

Add tiktoken encoding download to k8s model upload (#1620)
  deployment/k8s/model-upload-oc/download_models.py
  deployment/k8s/model-upload-oc/pyproject.toml
  deployment/k8s/model-upload-oc/uv.lock
Due: none

Increment arthur-engine version to 2.1.546
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add support for Azure model provider with api_version and api_base validation
  genai-engine/alembic/versions/2026_04_30_1000-add_api_version_to_secret_storage.py
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/src/routers/v1/model_provider_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/azure.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/form/index.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: make api_version required for Azure provider and fix test cleanup
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/repositories/model_provider_repository.py
  genai-engine/tests/unit/routes/model_providers_and_secrets/test_model_provider_and_secrets_endpoints.py
  genai-engine/ui/src/components/model-providers/components/edit-form/components/azure.tsx
  genai-engine/ui/src/components/model-providers/components/edit-form/index.tsx
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(ml-engine): compliance verdict on latest alert-rule interval bucket only
  ml-engine/src/ml_engine/job_executors/_interval_utils.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

fix(ml-engine): clamp compliance alert query lower bound to window_start
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

fix(ml-engine): sliding 2-interval window for compliance verdict
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
  ml-engine/tests/unit/job_executors/test_compliance_policy_check_executor.py
Due: ml-engine-pytest-check

refactor(ml-engine): drop runtime window guard in compliance executor
  ml-engine/src/ml_engine/job_executors/compliance_policy_check_executor.py
Due: ml-engine-pytest-check

feat: lts builds
  .github/workflows/lts-release.yml
Due: none

test: bump versions for 0.0.6-lts LTS CI test
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

chore: fix sdk version format
  arthur-observability-sdk/python/pyproject.toml
Due: none

fix: test versions
  genai-engine/pyproject.toml
  ml-engine/pyproject.toml
Due: none

test: bump versions for 0.0.7-lts LTS CI test
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

revert: remove LTS CI test version bumps
  arthur-observability-sdk/python/pyproject.toml
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/ml-engine/Chart.yaml
  genai-engine/pyproject.toml
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat(ml-engine): stamp downstream chain job IDs on the assignment
  ml-engine/src/ml_engine/job_executor.py
  ml-engine/src/ml_engine/job_executors/alert_check_executor.py
  ml-engine/src/ml_engine/job_executors/metrics_calculation_executor.py
  ml-engine/tests/unit/job_executors/test_alert_check_executor.py
  ml-engine/tests/unit/job_executors/test_metrics_calculation_executor.py
Due: ml-engine-pytest-check

Support non-root user in Docker more explicitly
  deployment/ecs/model-upload/Dockerfile
  deployment/gcp/model-upload/Dockerfile
  deployment/k8s/model-upload-oc/Dockerfile
Due: none

Cache Tiktoken encoding on the container image for airgapped deployment compatibility
  genai-engine/dockerfile
Due: none

Support non-root user in Docker more explicitly (#1625)
  deployment/ecs/model-upload/Dockerfile
  deployment/gcp/model-upload/Dockerfile
  deployment/k8s/model-upload-oc/Dockerfile
Due: none

Increment arthur-engine version to 2.1.547
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Put Tiktoken encoders in a file that will not conflict with external file system mount to the mount folder at deploy time
  genai-engine/dockerfile
Due: none

Cache Tiktoken encoding on the container image for airgapped deployment compatibility (#1626)
  genai-engine/dockerfile
Due: none

Increment arthur-engine version to 2.1.548
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

feat: add amplitude tracking to model providers
  genai-engine/ui/src/components/model-providers/hooks/useRemoveProvider.tsx
  genai-engine/ui/src/components/model-providers/hooks/useSaveProvider.tsx
  genai-engine/ui/src/components/model-providers/index.tsx
  genai-engine/ui/src/services/amplitude.ts
Due: none

fix: allow claude on increment prs
  .github/workflows/arthur-observability-sdk-workflow.yml
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
