Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

create dataset versions
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_13_1334-18b0dde1883b_create_dataset_versions.py
  genai-engine/docker-compose.yml
  genai-engine/src/api_changelog.md
  genai-engine/src/db_models/dataset_models.py
  genai-engine/src/repositories/datasets_repository.py
  genai-engine/src/routers/v2/dataset_management_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/unit/routes/datasets/test_dataset_versions_crud.py
  genai-engine/tests/unit/routes/datasets/test_datasets_query.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix(odbc): improve pagination handling for MSSQL and add stable ordering
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

refactor(odbc): streamline order column selection in pagination logic
  ml-engine/src/ml_engine/connectors/odbc_connector.py
Due: ml-engine-pytest-check

fix(odbc): improve pagination handling for MSSQL and add stable ordering (#591)
  ml-engine/src/ml_engine/connectors/odbc_connector.py
  ml-engine/tests/unit/connectors/test_odbc_connector.py
Due: ml-engine-pytest-check

Add provider enum
  genai-engine/src/db_models/secret_storage_models.py
  genai-engine/src/schemas/enums.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update deployment scripts
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/secrets.yaml
  deployment/helm/genai-engine/values.yaml.template
Due: none

review suggestions
  genai-engine/docker-compose.yml
  genai-engine/src/repositories/datasets_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix route security failures
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

modify variables regex to allow names with spaces
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

modify agentic prompt routes and add support for variables
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

move routes to api prefix
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

convert prompt templating to use Jinja2
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

add pydantic models for tools and response format
  genai-engine/src/api_changelog.md
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix changelog errs
  genai-engine/src/api_changelog.md
  genai-engine/staging.openapi.json
Due: none

move agentic prompt schemas and create template classes
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

update changelog to remove incorrect changes
  genai-engine/src/api_changelog.md
Due: none

successfully saving prompts
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

Increment arthur-engine version to 2.1.94
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Move POST v1/traces endpoint to api prefix, deprecate old endpoints
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/server.py
  genai-engine/staging.openapi.json
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/legacy_span/test_metadata_management.py
  genai-engine/tests/routes/legacy_span/test_query_filtering.py
  genai-engine/tests/routes/legacy_span/test_query_spans.py
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/legacy_span/test_span_ingestion.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added provider/context component
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptContext.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Add tech design documentation
  genai-engine/technical_documentation/span_query_endpoint_scope_doc.md
  genai-engine/technical_documentation/targeted_api_endpoints_tdd.md
  genai-engine/technical_documentation/trace-query-filters-tdd.md
Due: none

fix docker-compose
  genai-engine/docker-compose.yml
  genai-engine/src/repositories/datasets_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix docker-compose take 2
  genai-engine/docker-compose.yml
Due: none

cleanup formatting for prompt schemas
  genai-engine/src/api_changelog.md
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

loading from BE and saving new
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
Due: none

move def to types.ts
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Modify Agentic Prompt Routes (#567)
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/repositories/agentic_prompts_repository.py
  genai-engine/src/routers/v1/agentic_prompt_routes.py
  genai-engine/src/schemas/agentic_prompt_schemas.py
  genai-engine/src/schemas/common_schemas.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/unit/repositories/test_agentic_prompts_repository.py
  genai-engine/tests/unit/routes/tasks/test_agentic_prompt_routes.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Migrate to unified query builder
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/legacy_span_routes.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix duplication of ids
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
Due: none

Remove salt parameter
  deployment/docker-compose/arthur-engine/setup-and-start.ps1
  deployment/docker-compose/arthur-engine/setup-and-start.sh
  deployment/docker-compose/genai-engine/setup-and-start.ps1
  deployment/docker-compose/genai-engine/setup-and-start.sh
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/templates/secrets.yaml
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/src/db_models/custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add tests, fix nits
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/trace_api_routes.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/span_query_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

review comments
  genai-engine/alembic/versions/2025_10_13_1334-18b0dde1883b_create_dataset_versions.py
  genai-engine/src/db_models/dataset_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

added border to prompts
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
Due: none

Update tdd
  genai-engine/technical_documentation/targeted_api_endpoints_tdd.md
Due: none

Fix Fernet key pass
  genai-engine/src/db_models/custom_types.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

updated getallprompts api name
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

update api-client file
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
