Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

refactor: remove model_name parameter from inference and validation functions to streamline prompt handling
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/validation/prompt.py
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/integration/test_rule_execution.py
  genai-engine/tests/unit/validation/test_prompt.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

chore: add node_modules to .gitignore to prevent tracking of dependencies
  .gitignore
Due: none

feat(tests): enhance PII and toxicity tests to include model_name parameter for improved validation
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/integration/test_rule_execution.py
Due: none

feat(api): introduce agentic prompt management endpoints and enhance validation with model_name parameter
  .gitignore
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/validation/response.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

feat(tests): add model_name handling in validation tests for prompts and responses
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/integration/test_rule_execution.py
  genai-engine/tests/unit/validation/test_prompt.py
  genai-engine/tests/unit/validation/test_response.py
Due: none

feat(inference): add model_name field to inference models and update related schemas and repositories
  genai-engine/alembic/versions/2025_10_14_0905-1e4ff2a22cbb_adding_model_name.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/validation/prompt.py
  genai-engine/src/validation/response.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update arthur-common version to 2.4.5 in poetry.lock and pyproject.toml files for both genai-engine and ml-engine. Upgrade Poetry version to 2.1.4 in lock files.
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: none

fix(): Add model_name field to inference responses and update related database schema and README
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_22_1236-16d81eaac5c2_add_model_name_to_inference_responses.py
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/staging.openapi.json
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

refactor(api-client): remove model_name field from ExternalInferencePrompt and PromptValidationRequest interfaces
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

chore(dependencies): update pypdf version to 6.1.3 in poetry.lock and adjust content hash
  genai-engine/poetry.lock
Due: none

fix(alembic): update down_revision in migration script to reflect recent changes
  genai-engine/alembic/versions/2025_10_14_0905-1e4ff2a22cbb_adding_model_name.py
Due: none

refactor(database): remove model_name field from inference_feedback model and update related schemas and tests
  genai-engine/alembic/versions/2025_10_14_0905-1e4ff2a22cbb_adding_model_name.py
  genai-engine/poetry.lock
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/tests/unit/validation/test_response.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

chore(dependencies): update arthur-client version to 1.4.1556 in poetry.lock and pyproject.toml
  ml-engine/poetry.lock
Due: none

chore(dependencies): update boto3, botocore, sentence-transformers, arthur-client, and psycopg versions in poetry.lock files
  genai-engine/poetry.lock
  ml-engine/poetry.lock
Due: none

linter
  genai-engine/ui/src/App.tsx
Due: none

UP-3100 add page for model provider management (#628)
  genai-engine/ui/AGENTS.md
  genai-engine/ui/public/logos/model_providers/anthropic-logo.svg
  genai-engine/ui/public/logos/model_providers/gemini-logo.svg
  genai-engine/ui/public/logos/model_providers/openai-logo.svg
  genai-engine/ui/src/App.tsx
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/ui/src/components/CreateTaskForm.tsx
  genai-engine/ui/src/components/ModelProviders.tsx
  genai-engine/ui/src/components/SidebarNavigation.tsx
  genai-engine/ui/src/components/TaskLayout.tsx
Due: none

Increment arthur-engine version to 2.1.95
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(alembic): update down_revision in migration script to reflect new parent revision
  genai-engine/alembic/versions/2025_10_22_1646-5b5d630418ba_add_versioning_to_agentic_prompts.py
  genai-engine/src/repositories/inference_repository.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

use open inferences semantic conventions directly
  genai-engine/examples/agents/image-analysis-agent/package.json
  genai-engine/examples/agents/image-analysis-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/image-analysis-agent/yarn.lock
Due: none

fix(alembic): correct down_revision in migration scripts to align with updated revision history
  genai-engine/alembic/versions/2025_10_14_0905-1e4ff2a22cbb_adding_model_name.py
  genai-engine/alembic/versions/2025_10_22_1646-5b5d630418ba_add_versioning_to_agentic_prompts.py
Due: none

(feat) Added Model name to validate_prompt and validate_response. (#598)
  .gitignore
  genai-engine/README.md
  genai-engine/alembic/versions/2025_10_14_0905-1e4ff2a22cbb_adding_model_name.py
  genai-engine/alembic/versions/2025_10_22_1236-16d81eaac5c2_add_model_name_to_inference_responses.py
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/db_models/inference_models.py
  genai-engine/src/repositories/inference_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/validation/prompt.py
  genai-engine/src/validation/response.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/integration/test_rule_execution.py
  genai-engine/tests/unit/validation/test_prompt.py
  genai-engine/tests/unit/validation/test_response.py
  genai-engine/ui/src/lib/api-client/api-client.ts
  ml-engine/poetry.lock
  ml-engine/pyproject.toml
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

added indicator for # of versions
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
Due: none

remove all hardcoded semantic conventions
  genai-engine/examples/agents/image-analysis-agent/src/app/api/chat/route.ts
Due: none

create image analysis example agent (#656)
  genai-engine/examples/.gitignore
  genai-engine/examples/agents/image-analysis-agent/.env.example
  genai-engine/examples/agents/image-analysis-agent/README.md
  genai-engine/examples/agents/image-analysis-agent/eslint.config.mjs
  genai-engine/examples/agents/image-analysis-agent/next-env.d.ts
  genai-engine/examples/agents/image-analysis-agent/next.config.ts
  genai-engine/examples/agents/image-analysis-agent/package.json
  genai-engine/examples/agents/image-analysis-agent/postcss.config.mjs
  genai-engine/examples/agents/image-analysis-agent/src/app/api/chat/route.ts
  genai-engine/examples/agents/image-analysis-agent/src/app/favicon.ico
  genai-engine/examples/agents/image-analysis-agent/src/app/globals.css
  genai-engine/examples/agents/image-analysis-agent/src/app/layout.tsx
  genai-engine/examples/agents/image-analysis-agent/src/app/page.tsx
  genai-engine/examples/agents/image-analysis-agent/tsconfig.json
  genai-engine/examples/agents/image-analysis-agent/yarn.lock
Due: none

move props definitions
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts/VersionSubmenu.tsx
  genai-engine/ui/src/components/prompts/types.ts
Due: none

Fixup needs for job
  .github/workflows/arthur-engine-workflow.yml
Due: none

UP-3128: Deploy genai-engine to AWS (#651)
  .github/workflows/arthur-engine-workflow.yml
Due: none

RAG execution endpoints
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/__init__.py
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/enums.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update span processor to OpenInference Semantic convention
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/trace_api/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

util functions for completions
  genai-engine/ui/src/components/prompts/mustacheExtractor.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

Move span normalization to service
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/services/trace/__init__.py
  genai-engine/src/services/trace/span_normalization_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/span_semantic_conventions.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/routes/legacy_span/conftest.py
  genai-engine/tests/routes/trace_api/conftest.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Up 3184 prompt versioning (#665)
  genai-engine/ui/src/components/prompts/MessageComponent.tsx
  genai-engine/ui/src/components/prompts/MessagesSection.tsx
  genai-engine/ui/src/components/prompts/ModelParamsDialog.tsx
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/PromptsPlaygroundContext.tsx
  genai-engine/ui/src/components/prompts/SavePromptDialog.tsx
  genai-engine/ui/src/components/prompts/Tools.tsx
  genai-engine/ui/src/components/prompts/VersionSubmenu.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/hooks/useSnackbar.tsx
Due: none

Clean up trace utils
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Linting changes for ml-engine
  ml-engine/src/ml_engine/connectors/shield_connector.py
  ml-engine/src/ml_engine/job_executors/task_management_job_executors.py
  ml-engine/src/ml_engine/tools/api_client_type_converters.py
Due: ml-engine-pytest-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
