Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat(ui/task-tour): personalize certificate and add chat window tour target
  genai-engine/ui/src/components/chatbot/ChatPanel.test.tsx
  genai-engine/ui/src/components/chatbot/ChatPanel.tsx
  genai-engine/ui/src/components/chatbot/ChatbotPage.tsx
  genai-engine/ui/src/components/onboarding/onboarding-page/index.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.test.tsx
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/content/06-deploy.md
  genai-engine/ui/src/features/task-tour/content/wiring.ts
  genai-engine/ui/src/features/task-tour/recipientName.test.ts
  genai-engine/ui/src/features/task-tour/recipientName.ts
  genai-engine/ui/src/features/task-tour/selectors.ts
  genai-engine/ui/src/features/task-tour/tourActions.ts
  genai-engine/ui/src/features/task-tour/widgets/CertificateWidget.test.tsx
  genai-engine/ui/src/features/task-tour/widgets/CertificateWidget.tsx
  genai-engine/ui/src/features/task-tour/widgets/PromptTargetWidget.tsx
Due: none

feat(ui/task-tour): add dataset detail review steps and prefill synthetic-data model
  genai-engine/ui/src/components/datasets/DatasetHeader.tsx
  genai-engine/ui/src/components/datasets/DatasetTable.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.test.tsx
  genai-engine/ui/src/components/datasets/synthetic/SyntheticDataConfigForm.tsx
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/content/04-datasets.md
  genai-engine/ui/src/features/task-tour/content/wiring.ts
  genai-engine/ui/src/features/task-tour/selectors.ts
Due: none

chore(ui): reconcile yarn.lock after rebase onto dev
  genai-engine/ui/yarn.lock
Due: none

feat(deploy): wire Amplitude and reCAPTCHA Enterprise env plumbing
  .github/workflows/arthur-engine-workflow.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-secrets-manager.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/dockerfile
Due: none

feat(ui/task-tour): add CTA dialog and classic-diploma certificate seal
  genai-engine/ui/public/cto-avatar.jpeg
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.test.tsx
  genai-engine/ui/src/features/task-tour/components/CertificateDialog.tsx
  genai-engine/ui/src/features/task-tour/components/arthur-seal/index.tsx
  genai-engine/ui/src/features/task-tour/components/cta-dialog/index.test.tsx
  genai-engine/ui/src/features/task-tour/components/cta-dialog/index.tsx
  genai-engine/ui/src/features/task-tour/widgets/CertificateWidget.test.tsx
  genai-engine/ui/src/features/task-tour/widgets/CertificateWidget.tsx
Due: none

feat(ui/task-tour): gate demo tour to demo mode + tenant users
  genai-engine/ui/src/components/TaskLayout.tsx
Due: none

feat(ui/task-tour): drop Add Prompt step, make Variables a composite beat
  genai-engine/ui/src/components/prompts-playground/PlaygroundHeader.tsx
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/content/wiring.ts
  genai-engine/ui/src/features/task-tour/selectors.ts
  genai-engine/ui/src/features/task-tour/tourActions.ts
Due: none

feat(ui/task-tour): walk experiment form section-by-section with review beats
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/evals-step/index.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/info-step/index.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/components/prompt-step/index.tsx
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/content/05-prompts.md
  genai-engine/ui/src/features/task-tour/content/loader.tsx
  genai-engine/ui/src/features/task-tour/content/wiring.ts
  genai-engine/ui/src/features/task-tour/data.ts
  genai-engine/ui/src/features/task-tour/selectors.ts
  genai-engine/ui/src/features/task-tour/tour-config.ts
  genai-engine/ui/src/features/task-tour/widgets/PromptTargetWidget.tsx
Due: none

feat(ui): auto-enter the task for single-task demo tenants
  genai-engine/ui/src/components/AllTasks.tsx
Due: none

feat(deploy): wire Amplitude and reCAPTCHA Enterprise env plumbing (#1695)
  .github/workflows/arthur-engine-workflow.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition-gpu.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-ecs-task-definition.yml
  deployment/cloudformation/genai-engine/arthur-genai-engine-secrets-manager.yml
  deployment/cloudformation/root-arthur-engine-cpu.yml
  deployment/cloudformation/root-arthur-engine-gpu.yml
  deployment/cloudformation/root-arthur-genai-engine-cpu.yml
  deployment/cloudformation/root-arthur-genai-engine-gpu.yml
  deployment/helm/genai-engine/templates/arthur-genai-engine-daemonset.yaml
  deployment/helm/genai-engine/templates/arthur-genai-engine-deployment.yaml
  deployment/helm/genai-engine/values.schema.json
  deployment/helm/genai-engine/values.yaml.template
  genai-engine/dockerfile
Due: none

Increment arthur-engine version to 2.1.582
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

fix(UP-4479): disable onboarding submit buttons until required fields filled
  genai-engine/ui/src/components/onboarding/try-it-out-form/hooks/form-context.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/hooks/form.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/identity.tsx
Due: none

fix(UP-4481): keep production-prompt tour highlight glued to the live row
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/content/wiring.ts
Due: none

fix(UP-4482): float Create Experiment dropdowns above the tour overlay
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/index.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/tourDropdownTheme.test.ts
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/tourDropdownTheme.ts
Due: none

fix(UP-4387): custom tour fixes (#1696)
  genai-engine/ui/src/components/onboarding/try-it-out-form/hooks/form-context.ts
  genai-engine/ui/src/components/onboarding/try-it-out-form/hooks/form.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/linear/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/index.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/about.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/discovery.tsx
  genai-engine/ui/src/components/onboarding/try-it-out-form/wizard/steps/identity.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/index.tsx
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/tourDropdownTheme.test.ts
  genai-engine/ui/src/components/prompt-experiments/create-experiment-modal/tourDropdownTheme.ts
  genai-engine/ui/src/features/task-tour/__tests__/tourConfig.test.ts
  genai-engine/ui/src/features/task-tour/content/wiring.ts
Due: none

Increment arthur-engine version to 2.1.583
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] hide create task button for tenant users
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/uv.lock
Due: none

[no-ref] hide create task button for tenant users (#1699)
  genai-engine/ui/src/components/AllTasks.tsx
  genai-engine/uv.lock
Due: none

Increment arthur-engine version to 2.1.584
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

[no-ref] allow users to read system and chatbot configs
  genai-engine/src/schemas/enums.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: disable admin-only endpoints for tenant
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/hooks/useApplicationConfiguration.ts
Due: none

fix(genai-engine): guard summarize_history against missing SYSTEM and slice-zero
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/tests/unit/services/test_base_chatbot_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Disable admin-only endpoints for tenant (#1701)
  genai-engine/ui/src/components/settings/SettingsMenuButton.tsx
  genai-engine/ui/src/hooks/useApplicationConfiguration.ts
Due: none

Increment arthur-engine version to 2.1.585
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

test(genai-engine): consolidate summarize_history tests into one
  genai-engine/tests/unit/services/test_base_chatbot_service.py
Due: none

fix(genai-engine): close agent span and flush tracing on stream exception
  genai-engine/src/services/chatbot/base_chatbot_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix(genai-engine): close three multi-tenant signup/auth gaps (#1693)
  genai-engine/src/clients/llm/llm_client.py
  genai-engine/src/clients/recaptcha/recaptcha_verifier.py
  genai-engine/src/repositories/agentic_experiment_repository.py
  genai-engine/src/repositories/chatbot_repository.py
  genai-engine/src/repositories/feedback_repository.py
  genai-engine/src/repositories/prompt_experiment_repository.py
  genai-engine/src/repositories/rag_experiment_repository.py
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/routers/v1/demo_task_routes.py
  genai-engine/src/routers/v2/feedback_routes.py
  genai-engine/src/routers/v2/tenant_signup_routes.py
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/tests/multitenancy/test_isolation.py
  genai-engine/tests/routes/trace_api/test_session_endpoints.py
  genai-engine/tests/unit/clients/llm/test_llm_client.py
  genai-engine/tests/unit/clients/recaptcha/test_recaptcha_verifier.py
  genai-engine/tests/unit/routes/test_tenant_signup.py
  genai-engine/tests/unit/services/test_base_chatbot_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.586
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

update demo task dataset and accept variables in prompt tool call args
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/services/prompt/chat_completion_service.py
  genai-engine/src/utils/demo_task_fixtures/DemoDataset.csv
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/src/utils/file_parsing.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix lint
  genai-engine/src/repositories/demo_task_repository.py
  genai-engine/src/utils/demo_task_fixtures/demo_task_resources.py
  genai-engine/uv.lock
Due: genai-engine-routes-security-check, genai-engine-pytest-check

update prompt playground to have formatted ai and tool messages
  genai-engine/ui/src/components/prompts-playground/messages/HighlightedInputComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessageComponent.tsx
  genai-engine/ui/src/components/prompts-playground/messages/MessagesSection.tsx
  genai-engine/ui/src/components/prompts-playground/prompts/ManagementButtons.tsx
  genai-engine/ui/src/components/prompts-playground/reducer.ts
  genai-engine/ui/src/components/prompts-playground/types.ts
  genai-engine/ui/src/components/prompts-playground/utils/messageUtils.ts
  genai-engine/ui/src/components/prompts-playground/utils/promptSaveState.ts
  genai-engine/ui/src/components/prompts-playground/utils/toBackendPrompt.ts
  genai-engine/ui/src/components/prompts-playground/utils/toFrontendPrompt.ts
Due: none

normalize tool calls to not flag as new changes
  genai-engine/ui/src/components/prompts-playground/utils/promptSaveState.ts
Due: none

[no-ref] fix missing tool spans in demo agent traces
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/demo_task_fixtures/3f75c316afd74c05a2bc3e0bbcc75ed2.binpb
  genai-engine/src/utils/demo_task_fixtures/407666d37d6d49c8a3cd5be4cfdbbb87.binpb
  genai-engine/src/utils/demo_task_fixtures/46a1b6bc39324ecfbb6d2fdf80c5e27f.binpb
  genai-engine/src/utils/demo_task_fixtures/regenerate_fixtures.py
  genai-engine/tests/unit/services/test_internal_trace_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

fix tool calls being swallowed in chatbot
  genai-engine/ui/src/hooks/useChatbot.ts
Due: none

[no-ref] fix missing tool spans in demo agent traces (#1703)
  genai-engine/src/services/chatbot/base_chatbot_service.py
  genai-engine/src/services/trace/internal_trace_service.py
  genai-engine/src/utils/demo_task_fixtures/3f75c316afd74c05a2bc3e0bbcc75ed2.binpb
  genai-engine/src/utils/demo_task_fixtures/407666d37d6d49c8a3cd5be4cfdbbb87.binpb
  genai-engine/src/utils/demo_task_fixtures/46a1b6bc39324ecfbb6d2fdf80c5e27f.binpb
  genai-engine/src/utils/demo_task_fixtures/regenerate_fixtures.py
  genai-engine/tests/unit/services/test_internal_trace_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Increment arthur-engine version to 2.1.587
  arthur-observability-sdk/python/pyproject.toml
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add information on how to trigger a release so that Claude code review will provide feedback that the PRs to main must be created via the Create Release PR workflow
  CLAUDE.md
Due: none

Enforce the release process with Github workflow
  .github/workflows/enforce-release-process.yml
Due: none

fix demo dataset formatting
  genai-engine/src/utils/demo_task_fixtures/DemoDataset.csv
Due: none

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
