Repository arthur-ai/arthur-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check, ml-engine-pytest-check

genai-engine-routes-security-check:
  name: 'genai-engine: check routes security'
  entry: poetry -C genai-engine run routes_security_check
  language: system
  pass_filenames: false
  always_run: false

genai-engine-pytest-check:
  name: 'genai-engine: pytest unit tests and coverage'
  entry: poetry -C genai-engine run pytest genai-engine/tests/ -m "unit_tests" --cov=genai_engine --cov-fail-under=79
  language: system
  pass_filenames: false
  always_run: false

genai-engine-api-changelog-check:
  name: 'genai-engine: api changelog'
  entry: poetry -C genai-engine run generate_changelog
  language: system
  always_run: false

ml-engine-pytest-check:
  name: 'ml-engine: pytest unit tests'
  entry: poetry -C ml-engine run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

UP-3235: Use postgres version 15 (#681)
  deployment/docker-compose/arthur-engine/docker-compose.yml
  deployment/docker-compose/genai-engine/docker-compose.yml
Due: none

Increment arthur-engine version to 2.1.109
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3249: Add alembic migration check
  .github/workflows/arthur-engine-workflow.yml
Due: none

feat: remove sonner and vaul
  genai-engine/ui/package.json
  genai-engine/ui/src/components/common/CopyableChip.tsx
  genai-engine/ui/src/components/common/Drawer.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
  genai-engine/ui/src/main.tsx
  genai-engine/ui/yarn.lock
Due: none

feat: remove @xstate/store in favor of zustand
  genai-engine/ui/package.json
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/UserDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/filtering/stores/filter.store.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/traces/store.ts
  genai-engine/ui/src/components/traces/stores/filter.store.tsx
  genai-engine/ui/src/components/traces/stores/history.store.ts
  genai-engine/ui/src/components/traces/stores/selection.store.ts
  genai-engine/ui/yarn.lock
Due: none

Fix pythonpath
  .github/workflows/arthur-engine-workflow.yml
Due: none

feat: add url state and breadcrumbs back
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/stores/history.store.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

UP-3207: More RAG search funtionality (#691)
  genai-engine/README.md
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_crud.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_keyword_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.110
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3249: Add alembic migration check (#696)
  .github/workflows/arthur-engine-workflow.yml
Due: none

Increment arthur-engine version to 2.1.111
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

UP-3207: Add hybrid search support
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_hybrid_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

fix: resolve comments
  genai-engine/ui/.env.dev
  genai-engine/ui/eslint.config.js
  genai-engine/ui/src/components/common/llm/MessageRenderer.tsx
  genai-engine/ui/src/components/common/llm/OutputMessageRenderer.tsx
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/filtering/filters-row.tsx
  genai-engine/ui/src/components/traces/components/tables/SessionLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/SpanLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/TraceLevel.tsx
  genai-engine/ui/src/components/traces/components/tables/UserLevel.tsx
  genai-engine/ui/src/components/ui/LoadingButton/index.tsx
  genai-engine/ui/src/query-options/sessions.ts
Due: none

wip
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
Due: none

feat: disable add to dataset
  genai-engine/ui/src/components/traces/components/TraceDrawerContent.tsx
  genai-engine/ui/src/components/traces/components/add-to-dataset/Drawer.tsx
Due: none

test new migration
  genai-engine/alembic/versions/2025_10_30_1209-5a02e38003af_create_rag_configs_2.py
Due: none

Add token count and cost
  genai-engine/poetry.lock
  genai-engine/pyproject.toml
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/span_query_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
  genai-engine/src/utils/token_count.py
  genai-engine/src/utils/trace.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Remove old comments
  genai-engine/src/utils/token_count.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Make DB columsn float
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

Add cost index
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

UP-3207: Add hybrid search support (#698)
  genai-engine/src/api_changelog.md
  genai-engine/src/clients/rag_providers/rag_client_constructor.py
  genai-engine/src/clients/rag_providers/rag_provider_client.py
  genai-engine/src/clients/rag_providers/weaviate_client.py
  genai-engine/src/routers/v1/rag_routes.py
  genai-engine/src/schemas/request_schemas.py
  genai-engine/staging.openapi.json
  genai-engine/tests/clients/base_test_client.py
  genai-engine/tests/mocks/mock_weaviate_client.py
  genai-engine/tests/unit/routes/rag/test_rag_provider_hybrid_search.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Increment arthur-engine version to 2.1.112
  deployment/cloudformation/start-cpu-stack.html
  deployment/cloudformation/start-gpu-stack.html
  deployment/helm/arthur-engine/Chart.yaml
  deployment/helm/arthur-engine/start.sh.template.cpu
  deployment/helm/arthur-engine/start.sh.template.gpu
  deployment/helm/arthur-engine/values.yaml.template
  deployment/helm/genai-engine/Chart.yaml
  deployment/helm/genai-engine/values.yaml.template
  deployment/helm/ml-engine/Chart.yaml
  deployment/helm/ml-engine/values.yaml.template
  genai-engine/pyproject.toml
  genai-engine/staging.openapi.json
  genai-engine/version
  ml-engine/pyproject.toml
  version
Due: none

Add migration
  genai-engine/alembic/versions/2025_10_31_1141-332148919437_add_token_count_cost_columns_to_spans.py
  genai-engine/src/db_models/telemetry_models.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check

rework header
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
Due: none

feat: UI breaking changes update
  genai-engine/ui/src/components/traces/components/SpanDetails.tsx
  genai-engine/ui/src/components/traces/components/SpanTree/index.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
  genai-engine/ui/src/components/traces/data/details-strategy.tsx
  genai-engine/ui/src/components/traces/data/span-level-columns.tsx
  genai-engine/ui/src/components/traces/data/user-level-columns.tsx
  genai-engine/ui/src/components/traces/utils/spans.ts
  genai-engine/ui/src/schemas/llm.ts
  genai-engine/ui/src/utils/date.ts
  genai-engine/ui/src/utils/formatters.ts
  genai-engine/ui/src/utils/llm.ts
Due: none

feat: error updates
  genai-engine/ui/src/components/TracesView.tsx
  genai-engine/ui/src/components/common/ErrorFallback.tsx
  genai-engine/ui/src/components/common/index.ts
  genai-engine/ui/src/components/traces/components/CommonDrawer.tsx
  genai-engine/ui/src/components/traces/components/session/TraceRenderer.tsx
Due: none

update llm evals lifecycle tdd
  genai-engine/technical_documentation/llm_evals_tdd.md
  genai-engine/technical_documentation/llm_evals_tdd/img/LLMEvals.png
  genai-engine/technical_documentation/llm_evals_tdd/llm_evals_tdd.md
Due: none

add llm evaluations technical design doc
  genai-engine/technical_documentation/llm_evals_tdd.md
Due: none

rename soft_delete_eval to soft_delete_eval_version
  genai-engine/technical_documentation/llm_evals_tdd/llm_evals_tdd.md
Due: none

update api and make completions call
  genai-engine/ui/src/components/prompts/OutputField.tsx
  genai-engine/ui/src/components/prompts/PromptComponent.tsx
  genai-engine/ui/src/components/prompts/PromptSelectors.tsx
  genai-engine/ui/src/components/prompts/PromptsPlayground.tsx
  genai-engine/ui/src/components/prompts/reducer.ts
  genai-engine/ui/src/components/prompts/types.ts
  genai-engine/ui/src/components/prompts/utils.ts
  genai-engine/ui/src/lib/api-client/api-client.ts
Due: none

Add input/output, remove unused properties
  genai-engine/src/db_models/telemetry_models.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/metrics_integration_service.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/services/trace/tree_building_service.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Update tests
  genai-engine/src/repositories/span_repository.py
  genai-engine/src/schemas/internal_schemas.py
  genai-engine/src/schemas/response_schemas.py
  genai-engine/src/services/trace/trace_ingestion_service.py
  genai-engine/src/utils/trace.py
  genai-engine/tests/TEST_UPDATES_SUMMARY.md
  genai-engine/tests/routes/legacy_span/test_query_traces.py
  genai-engine/tests/routes/trace_api/conftest.py
  genai-engine/tests/routes/trace_api/test_span_endpoints.py
  genai-engine/tests/routes/trace_api/test_trace_endpoints.py
Due: genai-engine-routes-security-check, genai-engine-pytest-check, genai-engine-api-changelog-check

Path conditions:
  genai-engine-routes-security-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-pytest-check: any of: ^genai-engine/src/ and \.py$
  genai-engine-api-changelog-check: any of: ^genai-engine/src/schemas/
  ml-engine-pytest-check: any of: ^ml-engine/src/ and \.py$
